<div class="inner-component">
    <div class="main-breadcrumb">
        <div nz-row>
            <div nz-col nzFlex="auto">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="/welcome"><i nz-icon nzType="home"></i></a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a routerLink="/clientes">Clientes</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="'/clientes/'+idcliente">{{ idcliente }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="'/clientes/'+idcliente+'/domicilios'">Domicilios</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        {{ iddomicilio | titlecase }}
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div *ngIf="cliente" nz-col>
                <nz-tag [nzColor]="'magenta'">
                    <strong>{{ cliente.razonsocial }}</strong>
                    <nz-divider nzType="vertical" *ngIf="cliente.ci"></nz-divider>
                    <span *ngIf="cliente.ci">
                        {{ cliente.ci | number }}<span *ngIf="cliente.dvruc">-{{ cliente.dvruc }}</span>
                    </span>
                </nz-tag>
            </div>
        </div>
    </div>
    
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="12" [nzXl]="14" [nzLg]="16" [nzMd]="18" [nzSm]="20">
                <app-form-domicilio [idcliente]="idcliente" [iddomicilio]="iddomicilio"></app-form-domicilio>
            </div>
        </div>
    </div>
</div>