<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Roles
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row>
                <div nz-col nzFlex="auto">
                    <button nz-button nzType="primary" routerLink="nuevo">
                        <i nz-icon nzType="plus"></i>
                        Nuevo
                    </button>
                </div>
                <div nz-col>
                    <nz-input-group [nzSuffix]="suffixBusqueda">
                        <input nz-input type="text" placeholder="Buscar..." [(ngModel)]="textoBusqueda" (ngModelChange)="buscar()">
                    </nz-input-group>
                    <ng-template #suffixBusqueda>
                        <i *ngIf="!textoBusqueda" nz-icon nzType="search"></i>
                        <i *ngIf="textoBusqueda" nz-icon nzType="close-circle" style="cursor: pointer;" (click)="limpiarBusqueda()"></i>
                    </ng-template>
                </div>
            </div>
            
            <nz-table
                #tabla
                [nzData]="listaRoles"
                nzSize="small"
                [nzLoading]="tableLoading"
                style="margin-top: 10px;"
                [nzShowPagination]="true"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex"
                [nzTotal]="totalRegisters"
                nzShowSizeChanger
                [nzFrontPagination]="false" (nzQueryParams)="onTableQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                        <th [nzColumnKey]="'descripcion'" [nzSortFn]="true">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rol of tabla.data">
                        <td>{{ rol.id }}</td>
                        <td>{{ rol.descripcion }}</td>
                        <td>
                            <div nz-row [nzGutter]="[8, 0]">
                                <div nz-col>
                                    <button
                                        [disabled]="rol.sololectura"
                                        nz-button
                                        nzType="primary"
                                        [routerLink]="rol.id.toString()">
                                        <i nz-icon nzType="edit"></i>
                                    </button>
                                </div>
                                <div nz-col>
                                    <button
                                        [disabled]="rol.sololectura"
                                        nz-button
                                        nzType="primary"
                                        nzDanger
                                        (click)="confirmarEliminacion(rol)">
                                        <i nz-icon nzType="delete"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
