<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a routerLink="../">Timbrados</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{ idtimbrado | titlecase }}
            </nz-breadcrumb-item>
        </nz-breadcrumb>

    </div>
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="12" [nzXl]="14" [nzLg]="16" [nzMd]="18" [nzSm]="20">
                <nz-spin [nzSpinning]="formLoading">
                    <form nz-form [formGroup]="formGroup">
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSm]="7" [nzXs]="24">Código</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un código.">
                                <div nz-col [nzSm]="12" [nzXs]="24">
                                    <nz-input-number style="width: 100%;" [nzMin]="1" [nzStep]="1" formControlName="id">
                                    </nz-input-number>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSm]="7" [nzXs]="24">Cód. Establecimiento</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese el códígo establecimiento. Máx. 3 dígitos.">
                                <div nz-col [nzSm]="12" [nzXs]="24">
                                    <nz-input-number [nzFormatter]="formatterNroPrefijo" [nzParser]="parserNroPrefijo"
                                        nzPlaceHolder="Ej.: 001" [nzMin]="1" [nzMax]="999" [nzStep]="1"
                                        style="width: 100%;" formControlName="codEstablecimiento">
                                    </nz-input-number>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Cód. Punto Emisión</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese el códígo de punto de emision. Máx. 3 dígitos.">
                                <div nz-col [nzSm]="12" [nzXs]="24">
                                    <nz-input-number nzPlaceHolder="Ej.: 001" [nzFormatter]="formatterNroPrefijo"
                                        [nzParser]="parserNroPrefijo" [nzMin]="1" [nzMax]="999" [nzStep]="1"
                                        style="width: 100%;" formControlName="codPuntoEmision">
                                    </nz-input-number>
                                </div>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzRequired [nzSm]="7" [nzXs]="24">Inicio vigencia</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese la fecha de inicio de vigencia del timbrado.">
                                <div nz-col [nzSm]="12" [nzXs]="24">
                                    <nz-date-picker style="width: 100%;" [nzFormat]="'dd/MM/yyyy'"
                                        formControlName="iniciovigencia"></nz-date-picker>
                                </div>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Vencimiento</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese la fecha de vencimiento del timbrado.">
                                <div nz-col [nzSm]="12" [nzXs]="24">
                                    <nz-date-picker style="width: 100%;" [nzFormat]="'dd/MM/yyyy'"
                                        formControlName="vencimiento"></nz-date-picker>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSm]="7" [nzXs]="24">Timbrado</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese el timbrado. Máx. 8 dígitos.">
                                <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="99999999" [nzStep]="1"
                                    formControlName="timbrado">
                                </nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired [nzSm]="7" [nzXs]="24">Nro. Inicial</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese el número inicial. Máx. 7 dígitos.">
                                <nz-input-number style="width: 100%;" [nzMin]="1"
                                    [nzMax]="9999999" [nzStep]="1" [nzFormatter]="formatterNroFactura"
                                    [nzParser]="parserNroFactura" formControlName="nroInicial">
                                </nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Nro. Final</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese el número final. Máx. 7 dígitos y mayor al nro. inicial.">
                                <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                                    [nzFormatter]="formatterNroFactura" [nzParser]="parserNroFactura"
                                    formControlName="nroFinal">
                                </nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24"> Ult. num. usado</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Debe estar entre el nro. inicial y el nro. final.">
                                <nz-input-number style="width: 100%;" [nzMax]="9999999" [nzStep]="1"
                                    formControlName="ultNroUsado" [nzFormatter]="formatterNroFactura" [nzParser]="parserNroFactura"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                        
                        <nz-form-item>
                            <span nz-col [nzSm]="7" [nzXs]="24"></span>
                            <nz-form-control [nzSm]="15" [nzXs]="24">
                                <label nz-checkbox formControlName="activo">Activo</label>
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
                            <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                                <i nz-icon nzType="save"></i>
                                Guardar
                            </button>
                        </div>
                    </form>
                </nz-spin>
            </div>
        </div>

    </div>
</div>