<a nz-button nzType="primary" routerLink="nueva">
    <i nz-icon nzType="plus"></i>
    Nueva
</a>
<nz-table #tbl [nzData]="lstSuscripciones" style="margin-top: 10px;">
    <thead>
        <tr>
            <th>Código</th>
            <th>Servicio</th>
            <th nzAlign="center">Monto</th>
            <th>Dirección</th>
            <th>Fecha Susc.</th>
            <th>Estado</th>
            <th>Cuotas Pend.</th>
            <th nzAlign="right">Deuda</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of tbl.data">
            <td>{{ s.id }}</td>
            
            <td>{{ s.servicio }} ({{s.idservicio}})</td>
            <td nzAlign="right">{{ s.monto | number }}</td>
            <td>{{ s.direccion }}</td>
            <td>{{ s.fechasuscripcion | date:'dd/MMMM/yyyy' }}</td>
            <td>
                <nz-tag [nzColor]="s.estado==='D'?'red':'green'">
                    <span *ngIf="s.estado === 'R'">Reconectado</span>
                    <span *ngIf="s.estado === 'C'">Conectado</span>
                    <span *ngIf="s.estado === 'D'">Desconectado</span>
                </nz-tag>
            </td>
            <td>
                <span style="font-size: large;">
                    <a nz-tooltip nzTooltipTitle="Ver cuotas de la suscripción" [routerLink]="s.id+'/cuotas'">
                        <i nz-icon nzType="eye"></i>
                    </a>
                </span>
                <nz-divider nzType="vertical"></nz-divider>
                {{ s.cuotaspendientes | number }}
            </td>
            <td nzAlign="right">{{ s.deuda | number }}</td>
            <td>
                <a [routerLink]="s.id+''">Editar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="¿Desea eliminar la Suscripción?"
                                    nzPopconfirmPlacement="bottom" nzOkText="Eliminar" (nzOnConfirm)="eliminar(s.id)">
                    Eliminar
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>