<nz-card [nzTitle]="titulo" [nzExtra]="extraTitulo">
    <ng-template #titulo>
        <nz-button-group>
            <button
                nz-button
                [nzType]="pestaniaActiva === 'grupos' ? 'primary' : 'default'"
                (click)="setPestaniaActiva('grupos')">
                Grupos
            </button>
            <button
                nz-button
                nzType="default"
                [nzType]="pestaniaActiva === 'servicios' ? 'primary' : 'default'"
                (click)="setPestaniaActiva('servicios')">
                Servicios
            </button>
        </nz-button-group>
    </ng-template>
    <ng-template #extraTitulo>
        <button nz-button nzType="default" (click)="cargarDatos()">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
    </ng-template>
    <app-tabla-resumen-suscripciones-grupos
        #tablaResumenGrupos
        *ngIf="pestaniaActiva === 'grupos'"
        [paramsFiltros]="paramsFiltros"
        [textoBusqueda]="textoBusqueda">
    </app-tabla-resumen-suscripciones-grupos>
    <app-tabla-resumen-suscripciones-servicios
        #tablaResumenServicios
        *ngIf="pestaniaActiva === 'servicios'"
        [paramsFiltros]="paramsFiltros"
        [textoBusqueda]="textoBusqueda">
    </app-tabla-resumen-suscripciones-servicios>
</nz-card>