<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a routerLink="/app/domicilios">
                    Domicilios
                </a>            
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{ iddomicilio | titlecase }}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="14" [nzXl]="16" [nzLg]="18" [nzMd]="20" [nzSm]="22">
                <app-form-domicilio [iddomicilio]="iddomicilio"></app-form-domicilio>
            </div>
        </div>
    </div>
</div>
