<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Timbrados
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row [nzGutter]="[0, 10]">
                <div nz-col nzSpan="24">
                    <button nz-button nzType="primary" [routerLink]="'nuevo'">
                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                        Nuevo
                    </button>
                </div>
                <div nz-col nzSpan="24">
                    <nz-table 
                        #tabla
                        [nzData]="lstTimbrados"
                        nzSize="small"
                        [nzLoading]="tableLoading"
                        [nzShowPagination]="true"
                        [nzShowSizeChanger]="true"
                        [nzFrontPagination]="false"
                        [nzPageIndex]="pageIndex"
                        [nzPageSize]="pageSize"
                        [nzTotal]="totalRegisters"
                        (nzQueryParams)="onTableQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                                <th [nzColumnKey]="'nrotimbrado'" [nzSortFn]="true">Timbrado</th>
                                <th [nzColumnKey]="'codestablecimiento'" [nzSortFn]="true">Prefijo</th>
                                <th [nzColumnKey]="'nroinicio'" [nzSortFn]="true">Rango</th>
                                <th [nzColumnKey]="'ultimonrousado'" [nzSortFn]="true">Últ. núm usado</th>
                                <th [nzColumnKey]="'fechainicio'" [nzSortFn]="true">Inicio vigencia</th>
                                <th [nzColumnKey]="'fechavencimiento'" [nzSortFn]="true">Vencimiento</th>
                                <th [nzColumnKey]="'activo'" [nzSortFn]="true" nzAlign="center">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of tabla.data">
                                <td>{{ t.id }}</td>
                                <td>{{ t.nrotimbrado?.toString()?.padStart(8, '0') }}</td>
                                <td>{{ t.prefijo }}</td>
                                <td>{{ t.nroinicio?.toString()?.padStart(7, '0') }} al {{ t.nrofin?.toString()?.padStart(7, '0') }}</td>
                                <td>
                                    <span *ngIf="t.ultimonrousado">{{ t.ultimonrousado.toString().padStart(7, '0') }}</span>
                                    <span *ngIf="!t.ultimonrousado" nz-typography nzType="secondary">(ninguno)</span>
                                </td>
                                <td>{{ t.fechainicio | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <span *ngIf="t.fechavencimiento">{{ t.fechavencimiento | date:'dd/MM/yyyy' }}</span>
                                    <span *ngIf="!t.fechavencimiento" nz-typography nzType="secondary">(ninguno)</span>
                                </td>
                                <td nzAlign="center">
                                    <nz-tag *ngIf="t.activo" nzColor="green">Activo</nz-tag>
                                    <nz-tag *ngIf="!t.activo" nzColor="red">Inactivo</nz-tag>
                                </td>
                                <td>
                                    <div nz-row [nzGutter]="[8, 8]">
                                        <div nz-col>
                                            <button nz-tooltip nz-button nzType="primary" nzTooltipTitle="Editar" [routerLink]="t.id?.toString()">
                                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                                            </button>
                                        </div>
                                        <div nz-col>
                                            <button 
                                            nzOkText="Eliminar"
                                            (click)="confirmarEliminacion(t)" 
                                            nz-button 
                                            nzType="primary" 
                                            nzDanger>
                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                        </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>