<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Usuarios
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstUsuarios" [nzFrontPagination]="false" style="margin-top: 10px;"
            [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzLoading]="tableLoading" [nzTotal]="totalRegisters"
            (nzQueryParams)="onTableParamsQueryChange($event)" nzShowPagination nzShowSizeChanger nzSize="small">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                        <th [nzColumnKey]="'nombres'" [nzSortFn]="true">Nombres</th>
                        <th [nzColumnKey]="'apellidos'" [nzSortFn]="true">Apellidos</th>
                        <th [nzColumnKey]="'ci'" [nzSortFn]="true">C.I.</th>
                        <th [nzColumnKey]="'email'" [nzSortFn]="true">Email</th>
                        <th [nzColumnKey]="'telefono'" [nzSortFn]="true">Teléfono</th>
                        <th [nzColumnKey]="'activo'" [nzSortFn]="true" nzAlign="center">Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of tbl.data">
                        <td>{{ u.id }}</td>
                        <td>{{ u.nombres }}</td>
                        <td>{{ u.apellidos }}</td>
                        <td>{{ u.ci | number}}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.telefono }}</td>
                        <td nzAlign="center">
                            <i nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="u.activo?'#00C853':'#f44336'" [nzType]="u.activo?'check-circle':'close-circle'"></i>
                        </td>
                        <td>
                            <nz-space>
                                <button *nzSpaceItem nz-button nz-tooltip nzTooltipTitle="Permisos del usuario" nzType="default" [routerLink]="u.id+'/permisos'">
                                    <i nz-icon nzType="key" nzTheme="outline"></i>
                                </button>
                                <button *nzSpaceItem nz-button nz-tooltip nzType="primary" [routerLink]="u.id+''" nzTooltipTitle="Editar">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </button>
                                <button *nzSpaceItem nz-button nz-tooltip nz-popconfirm 
                                nzType="primary" nzTooltipTitle="Eliminar"
                                nzPopconfirmTitle="¿Desea eliminr el Distrito?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                                (nzOnConfirm)="eliminar(u.id)" nzDanger>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </button>
                            </nz-space>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>