<div class="inner-component">
    <div class="main-breadcrumb">
        <div nz-row>
            <div nz-col nzFlex="auto">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="/app/welcome"><i nz-icon nzType="home"></i></a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a routerLink="/app/clientes">Clientes</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="'/app/clientes/'+idcliente">{{ idcliente }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        Suscripciones
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div *ngIf="cliente" nz-col >
                <nz-tag [nzColor]="'magenta'">
                    <strong>{{ cliente.razonsocial }}</strong>
                    <nz-divider nzType="vertical" *ngIf="cliente.ci"></nz-divider>
                    <span *ngIf="cliente.ci">
                        {{ cliente.ci | number }}<span *ngIf="cliente.dvruc">-{{ cliente.dvruc }}</span>
                    </span>
                </nz-tag>
            </div>
        </div>
    </div>
    
    <div class="module-container">
        <div class="module-content">
            <app-contenido-vista-suscripciones [idcliente]="idcliente" [mostrarCliente]="false"></app-contenido-vista-suscripciones>
        </div>
    </div>
</div>
