<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Departamentos
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstDepartamentos" style="margin-top: 10px;" nzShowPagination nzShowSizeChanger
            [nzFrontPagination]="false" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalRegisters" [nzLoading]="tableLoading"
            (nzQueryParams)="onQueryParamsChange($event)" nzSize="small">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'" >Código</th>
                        <th [nzColumnKey]="'descripcion'" [nzSortFn]="true">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dep of tbl.data">
                        <td>{{ dep.id }}</td>
                        <td>{{ dep.descripcion }}</td>
                        <td>
                            <nz-space>
                                <button *nzSpaceItem nz-button nz-tooltip [routerLink]="dep.id+''"
                            nzType="primary" nzTooltipTitle="Editar">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                            <button *nzSpaceItem nz-button nz-tooltip nz-popconfirm
                            nzType="primary" nzTooltipTitle="Eliminar" nzDanger
                            nzPopconfirmTitle="¿Desea eliminr el Grupo?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                            (nzOnConfirm)="eliminar(dep.id)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                            </nz-space>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>