<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Departamentos
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="/departamentos/nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstDepartamentos" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dep of tbl.data">
                        <td>{{ dep.id }}</td>
                        <td>{{ dep.descripcion }}</td>
                        <td>
                            <a [routerLink]="'/departamentos/'+dep.id">Editar</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="¿Desea eliminr el Grupo?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                            (nzOnConfirm)="eliminar(dep.id)">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>