<nz-card [nzTitle]="titulo" [nzExtra]="extraTitulo">
    <ng-template #titulo>
        <span nz-typography nzType="secondary" style="font-size: smaller;">Cobradores</span>
    </ng-template>
    <ng-template #extraTitulo>
        
        <button nz-button nzType="default" (click)="cargarDatos()">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
    </ng-template>

    <nz-table
        #tabla
        nzSize="small"
        [nzData]="lstResumenDatos"
        [nzShowSizeChanger]="true"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzTotal]="totalRegisters"
        [nzLoading]="loadingDatos" 
        [nzFooter]="pieTabla"
        [nzFrontPagination]="false"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th [nzColumnKey]="'cobrador'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Cobrador</th>
                <th [nzColumnKey]="'monto'" [nzSortFn]="true">{{ tituloColumnaMonto }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ri of tabla.data">
                <td>
                    <span *ngIf="ri.idcobrador" nz-tooltip [nzTooltipTitle]="'Código: '+ri.idcobrador">
                        {{ ri.cobrador }}
                    </span>
                    <span *ngIf="!ri.idcobrador" nz-typography nzType="secondary">(Sin cobrador)</span>
                </td>
                <td [nzAlign]="'right'">
                    <span>Gs. {{ ri.monto | number }}</span>
                </td>
            </tr>
        </tbody>
        <ng-template #pieTabla>
            <strong>Total de registros: </strong>{{ totalRegisters | number }}
        </ng-template>
    </nz-table>
</nz-card>