<nz-card [nzTitle]="titulo" [nzExtra]="extraTitulo">
    <ng-template #titulo>
        <span nz-typography nzType="secondary" style="font-size: smaller;">Estados</span>
    </ng-template>
    <ng-template #extraTitulo>
        <button nz-button nzType="default" (click)="cargarDatos()">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
    </ng-template>

    <nz-table
        #tablaResumenEstados
        nzSize="small" 
        [nzData]="lstResumenEstados"
        [nzShowPagination]="false"
        [nzShowSizeChanger]="false"
        [nzFrontPagination]="false"
        [nzTotal]="totalRegisters"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzLoading]="tableLoading"
        [nzFooter]="pieTabla"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th [nzColumnKey]="'estado'" [nzSortFn]="true">Estado</th>
                <th [nzColumnKey]="'cantidad'" [nzSortFn]="true">No. suscripciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rcp of tablaResumenEstados.data">
                <td>
                    <nz-tag *ngIf="rcp.estado === 'C'" nzColor="green">Conectados</nz-tag>
                    <nz-tag *ngIf="rcp.estado === 'R'" nzColor="green">Reconectados</nz-tag>
                    <nz-tag *ngIf="rcp.estado === 'D'" nzColor="red">Desconectados</nz-tag>
                </td>
                <td>{{ rcp.cantidad }} {{ rcp.cantidad == 1 ? 'suscripción' : 'suscripciones' }}</td>
            </tr>
        </tbody>
        <ng-template #pieTabla>
            <strong>Total registros: </strong>{{ totalRegisters | number }}
        </ng-template>
    </nz-table>
</nz-card>