<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Dashboard
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div nz-row>
            <div nz-col nzSpan="6">
                <nz-card >
                    Bienvenido...
                    <h2>{{ nombreUsuario }}</h2>
                </nz-card>
            </div>
        </div>
    </div>
</div>