<nz-table #tablaVentas [nzData]="lstFacturasVenta" [nzFrontPagination]="false" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzTotal]="totalRegisters" [nzLoading]="loadingVentas" nzShowPagination nzShowSizeChanger
    nzSize="small" style="padding-top: 10px;" [nzFooter]="pietabla" (nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'descend'">Código</th>
            <th [nzColumnKey]="'ci'" [nzSortFn]="true">CI/RUC</th>
            <th [nzColumnKey]="'cliente'" [nzSortFn]="true">Cliente</th>
            <th [nzColumnKey]="'fechafactura'" [nzSortFn]="true">F. Factura</th>
            <th [nzColumnKey]="'total'" [nzSortFn]="true">Total</th>
            <th>Estado</th>
            <th [nzColumnKey]="'nrofactura'" [nzSortFn]="true">Nro. Factura</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let fv of tablaVentas.data">
            <tr>
                <td [nzExpand]="expandSet.has(fv.id ?? 0)" (nzExpandChange)="onExpandChange(fv.id ?? 0, $event)"></td>
                <td>{{ fv.id }}</td>
                <td>
                    <span *ngIf="fv.ci == null" nz-typography nzType="secondary">(sin CI/RUC)</span>
                    <span *ngIf="fv.dvruc == null">{{ fv.ci | number }}</span>
                    <span *ngIf="fv.dvruc != null">{{ fv.ci | number }}-{{ fv.dvruc }}</span>
                </td>
                <td>{{ fv.cliente }}</td>
                <td>
                    <span *ngIf="!fv.fechahorafactura">{{ fv.fechafactura | date: 'dd/MM/yyyy' }}</span>
                    <span *ngIf="fv.fechahorafactura">{{ fv.fechahorafactura | date: 'dd/MM/yyyy HH:mm' }}</span>
                </td>

                <td nzAlign="right">Gs.{{ fv.total | number }}</td>
                <td>                    
                    <nz-tag *ngIf="fv.anulado"
                        nzColor="red"
                        nz-tooltip nzTooltipTitle="Anulado">
                        ANU
                    </nz-tag>
                    <ng-container *ngIf="!fv.anulado">
                        <nz-tag *ngIf="!fv.pagado"
                            [nzColor]="'orange'"
                            nz-tooltip nzTooltipTitle="Pendiente de pago">
                            PEN
                        </nz-tag>
                        <nz-tag *ngIf="fv.pagado"
                         [nzColor]="'green'"
                         nz-tooltip nzTooltipTitle="Pagado">
                            PAG
                        </nz-tag>
                    </ng-container>
                    <ng-container *ngIf="fv.idestadodte as estado">
                        <nz-tag *ngIf="estado == 1 || estado == 2"
                            nzColor="green"
                            nz-tooltip nzTooltipTitle="Aprobado por SIFEN">
                            APR
                        </nz-tag>
                        <nz-tag *ngIf="estado == 3"
                            nzColor="red"
                            nz-tooltip nzTooltipTitle="Rechazado por SIFEN">
                            REC
                        </nz-tag>
                        <nz-tag *ngIf="estado == 4"
                            nzColor="red"
                            nz-tooltip nzTooltipTitle="Anulado en SIFEN">
                            CAN
                        </nz-tag>
                        <nz-tag *ngIf="estado == 30"
                            nzColor="orange"
                            nz-tooltip nzTooltipTitle="Pendiente de envio a SIFEN">
                            NOE
                        </nz-tag>
                        <nz-tag *ngIf="estado == 32"
                            nzColor="blue"
                            nz-tooltip nzTooltipTitle="Enviado a SIFEN">
                            ENV
                        </nz-tag>
                    </ng-container>
                </td>
                <td>
                    <span *ngIf="!fv.prefijofactura && !fv.nrofactura" nz-typography nzType="secondary">(sin factura)</span>
                    <span *ngIf="fv.prefijofactura && fv.nrofactura">
                        {{ fv.prefijofactura }}-{{ fv.nrofactura | paddingZeros: 7 }}
                    </span>
                </td>
                <td nzAlign="center">
                    <div nz-row [nzGutter]="[8, 8]">
                        <div nz-col>
                            <button
                                [disabled]="fv | botonAnularDisabled"
                                nz-button
                                nz-tooltip
                                [nzLoading]="anulandoMap.get(fv.id ?? -1)"
                                [nzType]="'default'"
                                [nzTooltipTitle]="fv | botonAnularTooltip"
                                (click)="confirmarAnulacion(fv)">
                                <i nz-icon nzTheme="outline" [nzType]="fv.anulado?'undo':'minus-circle'"></i>
                            </button>
                        </div>
                        <div nz-col>
                            <button
                                nz-button 
                                nzType="primary"
                                nz-tooltip
                                nzTooltipTitle="Editar"
                                [routerLink]="[fv.id]">
                                <i nz-icon nzType="edit"></i>
                            </button>
                        </div>
                        <div nz-col>
                            <button
                                [disabled]="fv | botonEliminarDisabled"                            
                                nz-tooltip
                                nz-button
                                nzType="primary"
                                [nzTooltipTitle]="fv | botonEliminarTooltip"
                                nzOkText="Eliminar"
                                nzDanger
                                (click)="confirmarEliminacion(fv)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(fv.id ?? 0)">
                <nz-tabset>
                    <nz-tab nzTitle="Detalles">
                        <nz-descriptions nzSize="small">
                            <nz-descriptions-item [nzTitle]="tituloidventa">
                                <ng-template #tituloidventa><strong>Código Venta</strong></ng-template>
                                {{ fv.id }}
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="titulotipofactura" *ngIf="fv.facturaelectronica != null">
                                <ng-template #titulotipofactura><strong>Tipo de Factura</strong></ng-template>
                                <nz-tag *ngIf="fv.facturaelectronica" nzColor="purple">Electrónica</nz-tag>
                                <nz-tag *ngIf="!fv.facturaelectronica" nzColor="geekblue">Preimpresa</nz-tag>
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="titulocobrador">
                                <ng-template #titulocobrador><strong>Cobrador</strong></ng-template>
                                {{ fv.cobrador }}
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="tituloFechaCobro">
                                <ng-template #tituloFechaCobro><strong>Fecha de cobro</strong></ng-template>
                                <span *ngIf="fv.fechacobro">{{ fv.fechacobro | date: 'dd/MM/yy' }}</span>
                                <span *ngIf="!fv.fechacobro" nz-typography nzType="secondary">(sin fecha)</span>
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="titulousuarioreg">
                                <ng-template #titulousuarioreg><strong>Cobro registrado por</strong></ng-template>
                                {{ fv.usuarioregistrocobro }}
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </nz-tab>
                    <nz-tab nzTitle="Items">
                        <nz-table #tablaDetalle [nzData]="fv.detalles" nzSize="small">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Cant.</th>
                                    <th>Unitario</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dfv of tablaDetalle.data">
                                    <td>{{ dfv.descripcion }}</td>
                                    <td>{{ dfv.cantidad }}</td>
                                    <td>Gs.{{ dfv.monto | number }}</td>
                                    <td>Gs.{{ dfv.subtotal | number }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-tab>
                    <nz-tab nzTitle="Factura Electrónica">
                        <nz-spin [nzSpinning]="loadFacturaElectronicaMap.get(fv.id ?? -1) ?? false">
                            <nz-descriptions nzSize="small">
                                <nz-descriptions-item [nzTitle]="titulodescargas">
                                    <ng-template #titulodescargas><strong>Descargar</strong></ng-template>
                                    <nz-space>
                                        <button
                                            *nzSpaceItem
                                            nz-tooltip
                                            nzTooltipTitle="Documento Tributario Electronico en formato XML"
                                            nz-button
                                            nzType="default"
                                            nzSize="small"
                                            [nzLoading]="loadingDTEMap.get(fv.id ?? -1)"
                                            (click)="descargarDTE(fv.id ?? 0)">
                                            <i nz-icon nzTheme="outline" nzType="file-protect"></i>
                                            DTE
                                        </button>
                                        <button
                                            nz-tooltip
                                            nzTooltipTitle="Version Imprimible en formato PDF"
                                            *nzSpaceItem
                                            nz-button
                                            nzType="default"
                                            nzSize="small"
                                            [nzLoading]="loadingKudeMap.get(fv.id ?? -1)"
                                            (click)="descargarKUDE(fv.id ?? 0)">
                                            <i nz-icon nzTheme="outline" nzType="file-pdf"></i>
                                            KuDE
                                        </button>
                                    </nz-space>
                                </nz-descriptions-item>
                                <ng-container *ngIf="facturaElectronicaMap.get(fv.id ?? -1) as factElect">
                                    <nz-descriptions-item [nzTitle]="tituloIdDte">
                                        <ng-template #tituloIdDte>
                                            <strong>Código</strong>
                                        </ng-template>
                                        {{ factElect.id }}
                                    </nz-descriptions-item>
                                    <nz-descriptions-item [nzTitle]="tituloEstadoFE">
                                        <ng-template #tituloEstadoFE>
                                            <strong>Estado</strong>
                                        </ng-template>
                                        <nz-tag [nzColor]="factElect.idestadodocumento | estadoFeColor">
                                            {{ factElect.estadodocumento }}
                                        </nz-tag>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item [nzTitle]="tituloObservacionFE">
                                        <ng-template #tituloObservacionFE>
                                            <strong>Observación</strong>
                                        </ng-template>
                                        <span *ngIf="factElect.observaciondocumento">
                                            {{ factElect.observaciondocumento }}
                                        </span>
                                        <span *ngIf="!factElect.observaciondocumento" nz-typography nzType="secondary">
                                            (Sin observación)
                                        </span>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item [nzTitle]="tituloFechaCambioEstadoFE">
                                        <ng-template #tituloFechaCambioEstadoFE>
                                            <strong>{{ factElect.idestadodocumento | tituloCambioEstado }}</strong>
                                        </ng-template>
                                        {{ factElect.fechacambioestado | date:'dd/MMM/yyyy HH:MM' }}
                                    </nz-descriptions-item>
                                </ng-container>
                                <nz-descriptions-item
                                    *ngIf="!fv.anulado && fv.idestadodte != 30 && fv.idestadodte != 4"
                                    [nzTitle]="tituloConsultarSifen">
                                    <ng-template #tituloConsultarSifen>
                                        <strong>Sincronizar</strong>
                                    </ng-template>
                                    <button
                                        nz-button
                                        nzSize="small"
                                        [nzLoading]="loadingConsultaDTEMap.get(fv.id ?? -1)"
                                        (click)="consutlarSifen(fv.iddte ?? -1)">
                                        <i nz-icon nzType="monitor"></i>
                                        Consultar SIFEN
                                    </button>
                                </nz-descriptions-item>
                            </nz-descriptions>
                        </nz-spin>
                    </nz-tab>
                    <nz-tab nzTitle="Email">
                        <nz-spin [nzSpinning]="loadFacturaElectronicaMap.get(fv.id ?? -1) ?? false">
                            <nz-descriptions nzSize="small">
                                <ng-container *ngIf="facturaElectronicaMap.get(fv.id ?? -1) as factElect">
                                    <nz-descriptions-item [nzTitle]="tituloEstadoEmail">
                                        <ng-template #tituloEstadoEmail>
                                            <strong>Estado</strong>
                                        </ng-template>
                                        <nz-tag *ngIf="factElect.idestadoemail == 1" nzColor="orange">
                                            {{ factElect.estadoemail }}
                                        </nz-tag>
                                        <nz-tag *ngIf="factElect.idestadoemail == 2" nzColor="green">
                                            {{ factElect.estadoemail }}
                                        </nz-tag>
                                        <nz-tag *ngIf="factElect.idestadoemail == 3" nzColor="red">
                                            {{ factElect.estadoemail }}
                                        </nz-tag>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item [nzTitle]="tituloFechaEmail">
                                        <ng-template #tituloFechaEmail>
                                            <strong>Cambio de estado</strong>
                                        </ng-template>
                                        <span nz-typography nzType="secondary" *ngIf="!factElect.fechacambioestadoemail"></span>
                                        <span *ngIf="factElect.fechacambioestado">{{ factElect.fechacambioestadoemail | date:'dd/MM/yyyy HH:mm' }}</span>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item [nzTitle]="tituloObsEmail">
                                        <ng-template #tituloObsEmail>
                                            <strong>Obs. Email</strong>
                                        </ng-template>
                                        <span nz-typography nzType="secondary" *ngIf="!factElect.observacionemail">
                                            (Sin observación)
                                        </span>
                                        <span *ngIf="factElect.observacionemail">
                                            {{ factElect.observacionemail }}
                                        </span>
                                    </nz-descriptions-item>
                                </ng-container>
                            </nz-descriptions>
                        </nz-spin>
                    </nz-tab>
                </nz-tabset>         
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<ng-template #pietabla>
    <nz-space>
        <span *nzSpaceItem><strong>Total:</strong></span>
        <span *nzSpaceItem>{{ totalRegisters | number }}</span>
    </nz-space>
</ng-template>