<nz-table #tablaVentas [nzData]="lstFacturasVenta" [nzFrontPagination]="false" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzTotal]="totalRegisters" [nzLoading]="loadingVentas" nzShowPagination nzShowSizeChanger
    nzSize="small" style="padding-top: 10px;" [nzFooter]="pietabla" (nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th [nzColumnKey]="'ci'" [nzSortFn]="true">CI/RUC</th>
            <th [nzColumnKey]="'cliente'" [nzSortFn]="true">Cliente</th>
            <th [nzColumnKey]="'fechafactura'" [nzSortFn]="true" [nzSortOrder]="'descend'">F. Factura</th>
            <th [nzColumnKey]="'total'" [nzSortFn]="true">Total</th>
            <th>Estado</th>
            <th [nzColumnKey]="'fechacobro'" [nzSortFn]="true">F. Cobro</th>
            <th [nzColumnKey]="'nrofactura'" [nzSortFn]="true">Nro. Factura</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let fv of tablaVentas.data">
            <tr>
                <td [nzExpand]="expandSet.has(fv.id ?? 0)" (nzExpandChange)="onExpandChange(fv.id ?? 0, $event)"></td>
                <td>
                    <span *ngIf="fv.ci == null" nz-typography nzType="secondary">(sin CI/RUC)</span>
                    <span *ngIf="!fv.dvruc">{{ fv.ci | number }}</span>
                    <span *ngIf="fv.dvruc">{{ fv.ci | number }}-{{ fv.dvruc }}</span>
                </td>
                <td>{{ fv.cliente }}</td>
                <td>{{ fv.fechafactura | date: 'dd/MM/yyyy' }}</td>

                <td nzAlign="right">Gs.{{ fv.total | number }}</td>
                <td>
                    <nz-tag *ngIf="fv.anulado" nzColor="red">Anulado</nz-tag>
                    <nz-tag *ngIf="!fv.anulado && fv.pagado" [nzColor]="'green'">Pagado</nz-tag>
                    <nz-tag *ngIf="!fv.anulado && !fv.pagado" [nzColor]="'orange'">Pendiente</nz-tag>
                </td>
                <td>
                    <span *ngIf="fv.fechacobro">{{ fv.fechacobro | date: 'dd/MM/yy' }}</span>
                    <span *ngIf="!fv.fechacobro" nz-typography nzType="secondary">(sin fecha)</span>
                </td>
                <td>
                    <span *ngIf="!fv.prefijofactura && !fv.nrofactura" nz-typography nzType="secondary">(sin factura)</span>
                    <span *ngIf="fv.prefijofactura && fv.nrofactura">
                        {{ fv.prefijofactura }}-{{ fv.nrofactura | paddingZeros: 7 }}
                    </span>
                </td>
                <td nzAlign="center">
                    <div nz-row [nzGutter]="[8, 8]">
                        <div nz-col>
                            <button nz-button nz-tooltip nz-popconfirm [nzType]="'default'"
                                [nzTooltipTitle]="fv.anulado?'Revertir anulacion':'Anular factura'"
                                [nzPopconfirmTitle]="fv.anulado?'¿Desea revertir la anulación?':'¿Desea anular la factura?'"
                                [nzOkText]="fv.anulado?'Revertir':'Anular'" (nzOnConfirm)="procesarAnulacion(fv)">
                                <i nz-icon nzTheme="outline" [nzType]="fv.anulado?'undo':'minus-circle'"></i>
                            </button>
                        </div>
                        <div nz-col>
                            <button
                                nz-button 
                                nzType="primary"
                                nz-tooltip
                                nzTooltipTitle="Editar"
                                [routerLink]="[fv.id]">
                                <i nz-icon nzType="edit"></i>
                            </button>
                        </div>
                        <div nz-col>
                            <button nz-tooltip nz-button nz-popconfirm nzType="primary"
                                nzTooltipTitle="Eliminar factura" nzPopconfirmTitle="¿Desea eliminar la factura?"
                                nzOkText="Eliminar" (nzOnConfirm)="eliminarVenta(fv.id)" nzDanger>
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(fv.id ?? 0)">
                <nz-descriptions nzSize="small">
                    <nz-descriptions-item [nzTitle]="tituloidventa">
                        <ng-template #tituloidventa><strong>Código Venta</strong></ng-template>
                        {{ fv.id }}
                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="titulotipofactura" *ngIf="fv.facturaelectronica != null">
                        <ng-template #titulotipofactura><strong>Tipo de Factura</strong></ng-template>
                        <nz-tag *ngIf="fv.facturaelectronica" nzColor="purple">Electrónica</nz-tag>
                        <nz-tag *ngIf="!fv.facturaelectronica" nzColor="geekblue">Preimpresa</nz-tag>
                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="titulodescargas" *ngIf="fv.facturaelectronica != null">
                        <ng-template #titulodescargas><strong>Descargar</strong></ng-template>
                        <nz-space>
                            <button
                                *nzSpaceItem
                                nz-tooltip
                                nzTooltipTitle="Documento Tributario Electronico en formato XML"
                                nz-button
                                nzType="default"
                                nzSize="small"
                                [nzLoading]="loadingDTE"
                                (click)="descargarDTE(fv.id ?? 0)">
                                <i nz-icon nzTheme="outline" nzType="file-protect"></i>
                                DTE
                            </button>
                            <button
                                nz-tooltip
                                nzTooltipTitle="Version Imprimible en formato PDF"
                                *nzSpaceItem
                                nz-button
                                nzType="default"
                                nzSize="small"
                                [nzLoading]="loadingKuDE"
                                (click)="descargarKUDE(fv.id ?? 0)">
                                <i nz-icon nzTheme="outline" nzType="file-pdf"></i>
                                KuDE
                            </button>
                        </nz-space>
                        
                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="titulocobrador">
                        <ng-template #titulocobrador><strong>Cobrador</strong></ng-template>
                        {{ fv.cobrador }}
                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="titulousuarioreg">
                        <ng-template #titulousuarioreg><strong>Cobro registrado por</strong></ng-template>
                        {{ fv.usuarioregistrocobro }}
                    </nz-descriptions-item>
                </nz-descriptions>
                <nz-table #tablaDetalle [nzLoading]="loadingDetalleMap[fv.id?fv.id:0]" [nzData]="fv.detalles"
                    nzSize="small" nzShowPagination="false" [nzPageSize]="50" nzBordered>
                    <thead>
                        <tr>
                            <th>Ítem</th>
                            <th nzAlign="center">Monto</th>
                        </tr>
                    </thead>
        <tbody>
            <tr *ngFor="let dfv of tablaDetalle.data">
                <td>{{ dfv.descripcion }}</td>
                <td nzAlign="right">Gs.{{ dfv.subtotal | number }}</td>
            </tr>
        </tbody>
</nz-table>
</tr>
</ng-container>
</tbody>
</nz-table>

<ng-template #pietabla>
    <nz-space>
        <span *nzSpaceItem><strong>Total:</strong></span>
        <span *nzSpaceItem>{{ totalRegisters | number }}</span>
    </nz-space>
</ng-template>