<nz-table
    #tabla
    nzSize="small"
    [nzData]="lstResumenDistritos"
    [nzFrontPagination]="false"
    [nzTotal]="totalRegisters"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="tableLoading"
    [nzShowSizeChanger]="true"
    [nzFooter]="pieTabla"
    [nzPageSizeOptions]="[5, 10, 15, 20, 25]"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th [nzColumnKey]="'distrito'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Distrito</th>
            <th [nzColumnKey]="'cantidad'" [nzSortFn]="true">Nro. suscripciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resumentDepartamento of tabla.data">
            <td>{{ resumentDepartamento.distrito }}</td>
            <td>{{ resumentDepartamento.cantidad | number }} suscripciones</td>
        </tr>
    </tbody>
    <ng-template #pieTabla>
        <strong>Total registros: </strong>{{ totalRegisters | number }}
    </ng-template>
</nz-table>