<div nz-row [nzGutter]="[0, 16]">
    <div nz-col nzSpan="24">
        <app-cabecera-reporte titulo="Detalles de Facturas (Cobros)"></app-cabecera-reporte>
    </div>
    <div nz-col nzSpan="24">
        <div>Filtros</div>
        <app-filtros-reporte [lstFiltrosReporte]="lstFiltrosReporte"></app-filtros-reporte>
    </div>
    <div nz-col nzSpan="24">
        <div>Registros</div>
        <table class="tabla-reporte">
            <thead>
                <tr>
                    <th>CI/RUC</th>
                    <th>Cliente</th>
                    <th>Concepto</th>
                    <th>F. Pago</th>
                    <th>Factura</th>
                    <th>Monto (Gs.)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cobro of lstCobros">
                    <td>
                        <span *ngIf="cobro.ci == null">-</span>
                        <span *ngIf="cobro.ci != null">{{cobro.ci | number}}</span>
                        <span *ngIf="cobro.dvruc != null">-{{ cobro.dvruc }}</span>
                    </td>
                    <td>{{ cobro.cliente }}</td>
                    <td>{{ cobro.grupo }} / {{ cobro.servicio }}</td>
                    <td style="text-align: center;">
                        <span *ngIf="cobro.fechacobro != null">{{ cobro.fechacobro | date: 'dd/MM/yyyy' }}</span>
                        <span *ngIf="cobro.fechacobro == null">-</span>
                    </td>
                    <td style="text-align: center;">{{ cobro.facturacobro }}</td>
                    <td style="text-align: right;">{{ cobro.monto | number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>