<div nz-row [nzGutter]="[16,16]">
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="fechaInicioFiltro != null || fechaFinFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fecha" (click)="limpiarFiltroFecha()">
                    <i nz-icon nzType="clear"></i>
                </a>
                Fecha
            </h3>
        </nz-badge>
        <div nz-row [nzGutter]="[8,8]">
            <div nz-col nzSpan="12">
                <nz-date-picker
                    [nzFormat]="'dd/MM/yyyy'"
                    [(ngModel)]="fechaInicioFiltro"
                    [nzDisabledDate]="disabledStartDate"
                    (ngModelChange)="filtrar()"
                    nzPlaceHolder="Desde">
                </nz-date-picker>
            </div>
            <div nz-col nzSpan="12">
                <nz-date-picker
                    [nzFormat]="'dd/MM/yyyy'"
                    [(ngModel)]="fechaFinFiltro"
                    [nzDisabledDate]="disabledEndDate"
                    (ngModelChange)="filtrar()"
                    nzPlaceHolder="Hasta">
                </nz-date-picker>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="tiposMovimientosFiltro.length > 0" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fecha" (click)="limpiarFiltroTipoMovimiento()">
                    <i nz-icon nzType="clear"></i>
                </a>
                Tipo
            </h3>
        </nz-badge>
        <nz-select
            nzPlaceHolder="Seleccionar..."
            style="width: 100%;"
            nzMode="multiple"
            [(ngModel)]="tiposMovimientosFiltro"
            (ngModelChange)="filtrar()">
            <nz-option [nzLabel]="'Entrada'" [nzValue]="'EN'" nzCustomContent>
                <i nz-icon nzType="upload" nzTheme="outline"></i> Salida
            </nz-option>
            <nz-option [nzLabel]="'Salida'" [nzValue]="'SA'" nzCustomContent>
                <i nz-icon nzType="download" nzTheme="outline"></i> Entrada
            </nz-option>
            <nz-option [nzLabel]="'Devolución'" [nzValue]="'DE'" nzCustomContent>
                <i nz-icon nzType="import" nzTheme="outline"></i> Devolución
            </nz-option>
            <nz-option [nzLabel]="'Ajuste'" [nzValue]="'AJ'" nzCustomContent>
                <i nz-icon nzType="control" nzTheme="outline"></i> Ajuste
            </nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idusuarioResponsable != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fecha" (click)="limpiarFiltroResponsableDeposito()">
                    <i nz-icon nzType="clear"></i>
                </a>
                Responsable de depósito
            </h3>
        </nz-badge>
        <nz-select
            nzPlaceHolder="Seleccionar..."
            style="width: 100%;"
            [nzLoading]="loadingUsuariosResponsables"
            [(ngModel)]="idusuarioResponsable"
            (ngModelChange)="filtrar()"
            nzAllowClear
            nzShowSearch>
            <nz-option
                *ngFor="let usuario of lstUsuariosResponsables"
                [nzValue]="usuario.id"
                [nzLabel]="usuario.razonsocial">
            </nz-option>
        </nz-select>
    </div>
</div>