<div nz-row [nzGutter]="[0, 16]">
    <div nz-col nzSpan="24">
        <div nz-row nzAlign="bottom" class="gray-background-printable">
            <div nz-col nzSpan="8">
                <img style="width: 110px;" src="assets/img/logo-grayscale.png">
            </div>
            <div nz-col nzSpan="8" style="text-align: center;">
                <span style="font-size: x-large;">Suscripciones</span>
            </div>
            <div nz-col nzSpan="8"></div>
        </div>
    </div>

    <div nz-col nzSpan="24">
        <div>Filtros</div>
        <div class="gray-background-printable">
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-space>
                        <span *nzSpaceItem class="descriptions-title">Estado:</span>
                        <span *nzSpaceItem class="descriptions-content">
                            <span *ngIf="paramsFiltros['estado']">
                                {{ estadoArrayConverter() }}
                            </span>
                            <span *ngIf="!paramsFiltros['estado']">*</span>
                        </span>
                    </nz-space>
                </div>

                <div nz-col nzSpan="12">
                    <nz-space>
                        <span *nzSpaceItem class="descriptions-title">Fecha de Susc.:</span>
                        <span *nzSpaceItem class="descriptions-content">
                            <span *ngIf="!paramsFiltros['fechainiciosuscripcion']">desde * </span>
                            <span *ngIf="paramsFiltros['fechainiciosuscripcion']">desde {{
                                paramsFiltros['fechainiciosuscripcion'].toString() | date: 'dd/MM/yy' }} </span>
                            <span *ngIf="!paramsFiltros['fechafinsuscripcion']">hasta * </span>
                            <span *ngIf="paramsFiltros['fechafinsuscripcion']">hasta {{
                                paramsFiltros['fechafinsuscripcion'].toString() | date: 'dd/MM/yy' }}</span>
                        </span>
                    </nz-space>
                </div>

                <div nz-col nzSpan="12">
                    <nz-space>
                        <span *nzSpaceItem class="descriptions-title">
                            Grupo/Servicio:
                        </span>
                        <span *nzSpaceItem class="descriptions-content">
                            <span *ngIf="servicios.length === 0 && grupos.length === 0">
                                * / *
                            </span>
                            <table *ngIf="servicios.length !== 0 || grupos.length !== 0">
                                <tr *ngFor="let gr of grupos">
                                    <td>{{ gr.descripcion }}</td>
                                    <td>/</td>
                                    <td>*</td>
                                </tr>
                                <tr *ngFor="let se of servicios">
                                    <td>{{ se.grupo }}</td>
                                    <td>/</td>
                                    <td>{{ se.descripcion }}</td>
                                </tr>
                            </table>
                        </span>
                    </nz-space>
                </div>

                <div nz-col nzSpan="12">
                    <nz-space>
                        <span *nzSpaceItem class="descriptions-title">Depart./Dist./Barrio:</span>
                        <span *nzSpaceItem class="descriptions-content">
                            <span *ngIf="barrios.length === 0 && distritos.length === 0 && departamentos.length === 0">* / * / *</span>
                            <table *ngIf="barrios.length !== 0 || distritos.length !== 0 || departamentos.length !== 0">
                                <tbody>
                                    <tr *ngFor="let dep of departamentos">
                                        <td>{{ dep.descripcion }}</td>
                                        <td>/</td>
                                        <td>*</td>
                                        <td>/</td>
                                        <td>*</td>
                                    </tr>
                                    <tr *ngFor="let dis of distritos">
                                        <td>{{ dis.departamento }}</td>
                                        <td>/</td>
                                        <td>{{ dis.descripcion }}</td>
                                        <td>/</td>
                                        <td>*</td>
                                    </tr>
                                    <tr *ngFor="let bar of barrios">
                                        <td>{{ bar.departamento }}</td>
                                        <td>/</td>
                                        <td>{{ bar.distrito }}</td>
                                        <td>/</td>
                                        <td>{{ bar.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </span>
                    </nz-space>
                </div>

                <div nz-col nzSpan="12">
                    <nz-space>
                        <span *nzSpaceItem class="descriptions-title">Cuotas Pend.:</span>
                        <span *nzSpaceItem class="descriptions-content">
                            <span *ngIf="!paramsFiltros['cuotaspendientesdesde']">desde * </span>
                            <span *ngIf="paramsFiltros['cuotaspendientesdesde']">desde {{ paramsFiltros['cuotaspendientesdesde'] }} </span>
                            <span *ngIf="!paramsFiltros['cuotaspendienteshasta']">hasta *</span>
                            <span *ngIf="paramsFiltros['cuotaspendienteshasta']">hasta {{ paramsFiltros['cuotaspendienteshasta'] }}</span>
                        </span>
                    </nz-space>
                </div>
            </div>
        </div>
    </div>

    <div nz-col nzSpan="24">
        <div>Registros</div>
        <app-reporte-suscripciones-lista [lstSuscripciones]="suscripciones" [totalDeuda]="totalDeuda" [totalRegistros]="suscripciones.length"></app-reporte-suscripciones-lista>
    </div>
</div>