$colorAlternoFila: #ececec;

@media screen {
    * {
        visibility: hidden;
    }
}

@media print {
    * {
        visibility: visible;
    }
}

.tabla-reporte tbody tr:nth-child(4n) {
    print-color-adjust: exact !important;
    background-color: $colorAlternoFila;
}

.tabla-reporte tbody tr:nth-child(4n-1) {
    print-color-adjust: exact !important;
    background-color: $colorAlternoFila;
}