<div>
    <app-cabecera-reporte titulo="Suscripciones"></app-cabecera-reporte>
</div>

<div style="margin-top: 15px;">
    <div>Filtros</div>
    <app-filtros-reporte [lstFiltrosReporte]="lstFiltrosReporte"></app-filtros-reporte>
</div>

<div style="margin-top: 15px;">
    <div>Registros</div>
    <table class="tabla-reporte">
        <thead>
            <tr>
                <th style="text-align: left;">Cód. Susc.</th>
                <th style="text-align: left;">Titular</th>
                <th style="text-align: left;">Servicio</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>Fecha S.</th>
                <th>Cuotas</th>
                <th>Deuda</th>
            </tr>
            <tr>
                <th style="text-align: left;">RUC</th>
                <th colspan="7" style="text-align: left;">Direccion</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let s of suscripciones">
                <tr class="color-intermitente">
                    <td>{{ s.id | number }}</td>
                    <td>{{ s.cliente }}</td>
                    <td>{{ s.servicio }}</td>
                    <td style="text-align: center;">
                        <span *ngIf="s.estado === 'C'">CON</span>
                        <span *ngIf="s.estado === 'R'">REC</span>
                        <span *ngIf="s.estado === 'D'">DESC</span>
                    </td>
                    <td style="text-align: right;">{{ s.monto | number }}</td>
                    <td style="text-align: center;">{{ s.fechasuscripcion | date: 'dd/MM/yy' }}</td>
                    <td style="text-align: center;">{{ s.cuotaspendientes | number }}</td>
                    <td style="text-align: right;">{{ s.deuda | number }}</td>
                </tr>
                <tr style="border-bottom: 1px solid black;">
                    <td>
                        {{ s.ci | number }}{{ s.dvruc?'-'+s.dvruc:'' }}
                    </td>
                    <td colSpan="7">
                        {{ s.direccion }} | BARRIO: {{s.barrio}}
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td colSpan="8">
                    <strong>Total de registros: </strong><span *ngIf="suscripciones">{{ suscripciones.length |
                        number
                        }}</span>
                </td>
            </tr>
            <tr>
                <td colSpan="8">
                    <strong>Deuda total: </strong>{{ totalDeuda | number }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>