<nz-card [nzTitle]="titulo" [nzExtra]="extraTitulo">
    <ng-template #titulo>
        <span nz-typography nzType="secondary" style="font-size: smaller;">Cuotas Pendientes</span>
    </ng-template>
    <ng-template #extraTitulo>
        <button nz-button nzType="default" (click)="cargarDatos()">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
    </ng-template>
    <nz-table
        #tablaResumenSuscCuoPend
        [nzData]="lstDatosResumen"
        nzShowSizeChanger="true"
        nzSize="small"
        [nzLoading]="loadingDatos"
        (nzQueryParams)="onQueryParamsChange($event)"
        nzFrontPagination="false"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        [nzFooter]="pieTabla"
        [nzTotal]="totalRegisters"
        [nzPageSizeOptions]="[5, 10, 15, 20, 25]">
        <thead>
            <tr>
                <th [nzSortFn]="true" [nzColumnKey]="'cuotaspendientes'" [nzSortOrder]="'ascend'">Cuotas pendientes</th>
                <th>No. suscripciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rcp of tablaResumenSuscCuoPend.data">
                <td>
                   <nz-tag *ngIf="rcp.nrocuotas == 0" nzColor="green">{{ rcp.nrocuotas }}</nz-tag>
                   <nz-tag *ngIf="rcp.nrocuotas && rcp.nrocuotas >= 1 && rcp.nrocuotas <=3" nzColor="orange">{{ rcp.nrocuotas }}</nz-tag>
                   <nz-tag *ngIf="rcp.nrocuotas && rcp.nrocuotas >= 4 " nzColor="red">{{ rcp.nrocuotas }}</nz-tag>
                   {{ rcp.nrocuotas == 1 ? 'cuota' : 'cuotas'}}
                </td>
                <td>{{ rcp.cantidad }} {{ rcp.cantidad == 1 ? 'suscripción' : 'suscripciones' }}</td>
            </tr>
        </tbody>
        <ng-template #pieTabla>
            <strong>Total registros: </strong>{{ totalRegisters | number }}
        </ng-template>
    </nz-table>
</nz-card>
