<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Auditoría
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row>
                <div nz-col nzFlex="auto">
                    <button nz-button nzType="default" (click)="cargarDatos()">
                        <i nz-icon nzType="reload"></i>
                        Recargar
                    </button>
                </div>
                <div nz-col>
                    <nz-space>
                        <nz-input-group *nzSpaceItem [nzSuffix]="inputClearTpl" [nzPrefixIcon]="'search'">
                            <input nz-input placeholder="Buscar..." [(ngModel)]="textoBusqueda" (ngModelChange)="buscar()">
                            <ng-template #inputClearTpl>
                                <i
                                  nz-icon
                                  class="ant-input-clear-icon"
                                  nzTheme="fill"
                                  nzType="close-circle"
                                  *ngIf="textoBusqueda"
                                  (click)="limpiarBusqueda()"
                                ></i>
                              </ng-template>
                        </nz-input-group>
                        <nz-badge *nzSpaceItem [nzCount]="cantFiltrosAplicados">
                            <button nz-tooltip nz-button nzType="primary" nzTooltipTitle="Ver filtros" (click)="drawerFiltrosVisible = !drawerFiltrosVisible">
                                <i nz-icon nzType="filter" nzTheme="outline"></i>
                            </button>
                        </nz-badge>
                    </nz-space>
                </div>
            </div>

            <nz-drawer [nzContent]="contenidoFiltros" nzPlacement="right" nzTitle="Filtros" nzClosable="true" [nzVisible]="drawerFiltrosVisible" (nzOnClose)="drawerFiltrosVisible = false">
                <ng-template #contenidoFiltros>
                    <app-form-filtro-evento-auditoria (cantFiltrosChange)="cantFiltrosAplicados = $event" (paramsFiltrosChange)="paramsFiltros = $event"></app-form-filtro-evento-auditoria>
                </ng-template>
            </nz-drawer>

            <nz-modal [nzWidth]="750" [nzFooter]="modalDetallesFooter" [(nzVisible)]="modalDeteallesVisisble" [nzTitle]="'Evento #'+ideventoSelec" (nzOnCancel)="cerrarDetalles()">
                <ng-container *nzModalContent="">
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="12">
                            <app-tabla-detalle-estado [estado]="estadoAnteriorSelec" titulo="Estado anterior"></app-tabla-detalle-estado>
                        </div>
                        <div nz-col nzSpan="12">
                            <app-tabla-detalle-estado [estado]="estadoNuevoSelec" titulo="Estado nuevo"></app-tabla-detalle-estado> 
                        </div>
                    </div>
                </ng-container>
                <ng-template #modalDetallesFooter>
                    <button nz-button nzType="default" (click)="cerrarDetalles()">Cerrar</button>
                  </ng-template>
            </nz-modal>

            <nz-table #tabla [nzTotal]="totalRegistros" [nzData]="lstEventos" [nzShowPagination]="true"
                [nzShowSizeChanger]="true" [nzTotal]="totalRegistros" [nzFrontPagination]="false" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                [nzLoading]="tableLoading" [nzFooter]="footer" (nzQueryParams)="onTableQueryParamsChange($event)"
                nzSize="small" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true">Código</th>
                        <th [nzColumnKey]="'fechahora'" [nzSortFn]="true" nzSortOrder="descend">Fecha/Hora</th>
                        <th [nzColumnKey]="'nombresusuario'" [nzSortFn]="true">Usuario</th>
                        <th [nzColumnKey]="'operacion'" [nzSortFn]="true">Operación</th>
                        <th [nzColumnKey]="'tabla'" [nzSortFn]="true">Tabla</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ea of tabla.data">
                        <tr>
                            <td>{{ ea.id }}</td>
                            <td>{{ ea.fechahora | date: 'dd/MMM/yy HH:mm:ss' }}</td>
                            <td>
                                <span nz-tooltip [nzTooltipTitle]="'Código: '+ea.idusuario">
                                    {{ ea.nombresusuario }} {{ ea.apellidosusuario }}
                                </span>
                            </td>
                            <td>
                                <nz-tag nzColor="blue" *ngIf="ea.operacion === 'R'">
                                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                                    Registro
                                </nz-tag>
                                <nz-tag nzColor="orange" *ngIf="ea.operacion === 'M'">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    Modificación
                                </nz-tag>
                                <nz-tag nzColor="red" *ngIf="ea.operacion === 'E'">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    Eliminación
                                </nz-tag>
                            </td>
                            <td>
                                {{ ea.tabla }}
                            </td>
                            <td nzAlign="center">
                                <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="Ver detalles" (click)="verDetalles(ea.id, ea.estadoanterior, ea.estadonuevo)">
                                    <i nz-icon nzType="eye" nzTheme="outline"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <ng-template #footer>
                    <strong>Total de registros:</strong> {{ totalRegistros | number }}
                </ng-template>
            </nz-table>
        </div>
    </div>
</div>