<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Cobradores
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstCobradores" style="margin-top: 10px;"
            [nzFrontPagination]="false" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzLoading]="tableLoading" [nzTotal]="totalRegisters"
            (nzQueryParams)="onTableQueryParamsChange($event)" nzShowPagination nzShowSizeChanger nzSize="small">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                        <th [nzColumnKey]="'razon_social'" [nzSortFn]="true">Razón social</th>
                        <th [nzColumnKey]="'ci'" [nzSortFn]="true">CI/RUC</th>
                        <th [nzColumnKey]="'telefono'" [nzSortFn]="true">Teléfono</th>
                        <th [nzColumnKey]="'email'" [nzSortFn]="true">Email</th>
                        <th [nzColumnKey]="'activo'" [nzSortFn]="true" nzAlign="center">Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of tbl.data">
                        <td>{{ c.id }}</td>
                        <td>{{ c.razonsocial }}</td>
                        <td>{{ c.ci | number }}{{ c.ci !== null && c.dvruc !== null?' - ':'' }}{{c.dvruc}}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.email }}</td>
                        <td nzAlign="center">
                            <i nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="c.activo?'#00C853':'#f44336'" [nzType]="c.activo?'check-circle':'close-circle'"></i>
                        </td>
                        <td>
                            <nz-space>
                                <button *nzSpaceItem nz-button nz-tooltip nzType="primary" [routerLink]="c.id+''"
                            nzTooltipTitle="Editar">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                            <button *nzSpaceItem nz-button nz-tooltip nz-popconfirm nzType="primary" nzTooltipTitle="Eliminar" 
                            nzPopconfirmTitle="¿Desea eliminr el Cobrador?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar" 
                            (nzOnConfirm)="eliminar(c.id)" nzDanger>
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                            </nz-space>
                            
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>