<nz-table #tbl [nzData]="lstCuotas" nzSize="small" nzFrontPagination="false"
[nzLoading]="tableLoading" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="totalRegisters"
[nzShowSizeChanger]="true" (nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th [nzColumnKey]="'id'" [nzSortFn]="true">Código</th>
            <th [nzColumnKey]="'fechavencimiento'" [nzSortFn]="true" [nzSortOrder]="'descend'">Vencimiento</th>
            <th [nzColumnKey]="'monto'" [nzSortFn]="true" nzAlign="right">Monto</th>
            <th nzAlign="center">Estado</th>
            <th>Observación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor="let c of tbl.data">
            <tr>
                <td [nzExpand]="expandSet.has(+(c.id+''))" (nzExpandChange)="onExpandChange(+(c.id+''), $event)"></td>
                <td>{{ c.id }}</td>
                <td>{{ c.fechavencimiento | date: 'dd/MMM/yyyy' }}</td>
                <td nzAlign="right">{{ c.monto | number}}</td>
                <td nzAlign="center">
                    <nz-tag nzColor="green" *ngIf="c.pagado">Pagado</nz-tag>
                    <nz-tag nzColor="red" *ngIf="!c.pagado">Pendiente</nz-tag>
                </td>
                <td>
                    <span *ngIf="c.observacion && c.observacion.length > 25"
                        nz-tooltip [nzTooltipTitle]="c.observacion" style="cursor: pointer;">
                        {{ c.observacion | slice: 0:25 }} ...
                    </span>
                    <span *ngIf="c.observacion && c.observacion.length <= 25">
                        {{ c.observacion }}
                    </span>
                    <span *ngIf="!c.observacion" nz-typography nzType="secondary">(Sin observación)</span>
                </td>
                <td>
                    <nz-space>
                        <button nz-button nz-tooltip nzType="primary" *nzSpaceItem [routerLink]="c.id+''"
                        nzTooltipTitle="Editar">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                        <button nz-button nz-tooltip nz-popconfirm nzType="primary" nzDanger="" *nzSpaceItem
                        nzTooltipTitle="Eliminar" nzPopconfirmTitle="¿Desea eliminar la cuota?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                        (nzOnConfirm)="eliminar(c.id ?? -1)">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    </nz-space>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(+(c.id+''))">
                <nz-spin [nzSpinning]="consultaCobros[+(c.id+'')]"></nz-spin>
                <nz-descriptions nzSize="small">
                    <nz-descriptions-item [nzTitle]="titulofactura">
                        <ng-template #titulofactura>
                            <strong>Factura</strong>
                        </ng-template>
                        {{ c.cobro?.facturacobro }}
                        <span nz-typography nzType="secondary" *ngIf="!c.cobro?.facturacobro">-</span>
                    </nz-descriptions-item>

                    <nz-descriptions-item [nzTitle]="titulofechapago">
                        <ng-template #titulofechapago>
                            <strong>Fecha de pago</strong>
                        </ng-template>
                        <span>{{ c.cobro?.fechacobro| date: 'dd/MMM/yyyy' }}</span>
                        <span nz-typography nzType="secondary" *ngIf="!c.cobro?.fechacobro">-</span>
                    </nz-descriptions-item>

                    <nz-descriptions-item [nzTitle]="titulocobrador">
                        <ng-template #titulocobrador>
                            <strong>Cobrador</strong>
                        </ng-template>
                        <span>{{ c.cobro?.cobrador}}</span>
                        <span nz-typography nzType="secondary" *ngIf="!c.cobro?.cobrador">-</span>
                    </nz-descriptions-item>

                    <nz-descriptions-item [nzTitle]="titulousuario">
                        <ng-template #titulousuario>
                            <strong>Cobro registrado por</strong>
                        </ng-template>
                        <span>{{ c.cobro?.usuario}}</span>
                        <span nz-typography nzType="secondary" *ngIf="!c.cobro?.usuario">-</span>
                    </nz-descriptions-item>

                </nz-descriptions>
              </tr>
        </ng-container>
    </tbody>
</nz-table>
