<nz-table #tbl [nzData]="lstCuotas" nzSize="small" nzFrontPagination="false"
[nzLoading]="tableLoading" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="totalRegisters"
(nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
        <tr>
            <th [nzColumnKey]="'id'" [nzSortFn]="true">Código</th>
            <th [nzColumnKey]="'fechavencimiento'" [nzSortFn]="true" [nzSortOrder]="'descend'">Vencimiento</th>
            <th [nzColumnKey]="'nrocuota'" [nzSortFn]="true" nzAlign="center">Nro. Cuota</th>
            <th [nzColumnKey]="'monto'" [nzSortFn]="true" nzAlign="right">Monto</th>
            <th nzAlign="center">Pagado</th>
            <th>F. de pago</th>
            <th [nzColumnKey]="'observacion'" [nzSortFn]="true">Observación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of tbl.data">
            <td>{{ c.id }}</td>
            <td>{{ c.fechavencimiento | date: 'dd/LL/yyyy' }}</td>
            <td nzAlign="center">{{ c.nrocuota | number}}</td>
            <td nzAlign="right">{{ c.monto | number}}</td>
            <td nzAlign="center">
                <i nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="c.pagado?'#00C853':'#f44336'" [nzType]="c.pagado?'check-circle':'close-circle'"></i>
            </td>
            <td>{{ c.fechapago }}</td>
            <td nzBreakWord>{{ c.observacion }}</td>
            <td>
                <nz-space>
                    <button nz-button nz-tooltip nzType="primary" *nzSpaceItem [routerLink]="c.id+''"
                    nzTooltipTitle="Editar">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                    <button nz-button nz-tooltip nz-popconfirm nzType="primary" nzDanger="" *nzSpaceItem
                    nzTooltipTitle="Eliminar" nzPopconfirmTitle="¿Desea eliminar la cuota?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                    (nzOnConfirm)="eliminar(c.id)">
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>
