<nz-spin [nzSpinning]="loadingDatos">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Servicio</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un servicio.">
                <nz-cascader
                    [nzOptions]="opcionesServicios"
                    formControlName="idservicio"
                    nzExpandTrigger="hover"
                    [nzDisabled]="!form.controls.exonerado.value && form.controls.pagado.value">
                </nz-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Vencimiento</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione la fecha de vencimiento.">
                <div nz-col [nzSm]="12" [nzXs]="24">
                    <nz-date-picker
                        formControlName="fechavencimiento"
                        nzFormat="dd/MMMM/yyyy"
                        style="width: 100%;"
                        [nzDisabled]="!form.controls.exonerado.value && form.controls.pagado.value">
                    </nz-date-picker>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Monto</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese el monto.">
                <div nz-col [nzSm]="12" [nzXs]="24">
                    <nz-input-number
                        [nzDisabled]="form.controls.exonerado.value || (!form.controls.exonerado.value && form.controls.pagado.value)"
                        formControlName="monto"
                        [nzMin]="0"
                        [nzStep]="1"
                        style="width: 100%;">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <!--<nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24">Número de cuota</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24">
                <div nz-col [nzSm]="12" [nzXs]="24">
                    <nz-input-number style="width: 100%;" formControlName="nrocuota" [nzStep]="1" [nzMin]="1">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>-->
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24">Observación</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Máx. 150 carácteres.">
                <input formControlName="observacion" nz-input>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div nz-col [appNzColResponsiveSizes]="LABEL_SIZES"></div>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES">
                <label
                    nz-checkbox
                    formControlName="exonerado"
                    [nzDisabled]="form.controls.pagado.value && form.controls.monto.value != 0">
                    Exonerado
                </label>
            </nz-form-control>
        </nz-form-item>
        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
            <button nz-button nzType="primary" [nzLoading]="guardando" (click)="guardar()">
                <i nz-icon nzType="save"></i>
                {{ idcuota === 'nueva' ? 'Registrar' : 'Editar' }}
            </button>
        </div>
    </form>
</nz-spin>