<nz-spin [nzSpinning]="loadingDatos">
    <form nz-form [formGroup]="form">
        <nz-form-item *ngIf="idcuota == 'nueva'">
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>
                Cantidad
            </nz-form-label>
            <nz-form-control
                [appNzColResponsiveSizes]="CONTROLS_SIZES"
                [nzErrorTip]="'Ingrese la cantidad de cuotas a generar. Min.: ' + cantMin + ', Max.: ' + cantMax">
                <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZES">
                    <nz-input-number
                        style="width: 100%;"
                        [nzStep]="1"
                        [nzMin]="cantMin"
                        [nzMax]="cantMax"
                        formControlName="cantidad">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Servicio</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES" nzErrorTip="Seleccione un servicio.">
                <nz-cascader
                    [nzOptions]="opcionesServicios"
                    formControlName="idservicio"
                    nzExpandTrigger="hover"
                    [nzDisabled]="!form.controls.exonerado.value && form.controls.pagado.value">
                </nz-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>
                <span *ngIf="!form.controls.cantidad.value || form.controls.cantidad.value == 1">
                    Vencimiento
                </span>
                <span *ngIf="form.controls.cantidad.value > 1">
                    Venc. inicial
                </span>
            </nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES" nzErrorTip="Seleccione la fecha de vencimiento.">
                <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZES">
                    <nz-date-picker
                        formControlName="fechavencimiento"
                        nzFormat="dd/MMMM/yyyy"
                        style="width: 100%;"
                        [nzDisabled]="!form.controls.exonerado.value && form.controls.pagado.value">
                    </nz-date-picker>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Monto</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES" nzErrorTip="Ingrese el monto.">
                <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZES">
                    <nz-input-number
                        [nzDisabled]="form.controls.exonerado.value || (!form.controls.exonerado.value && form.controls.pagado.value)"
                        formControlName="monto"
                        [nzMin]="0"
                        [nzStep]="1"
                        style="width: 100%;">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="suscripcionActual?.idservicio != form.controls.idservicio.value && form.controls.idservicio?.value?.length > 0">
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">
                Grupo
            </nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES">
                <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZES">
                    <nz-select
                        nzAllowClear
                        nzPlaceHolder="Seleccionar..."
                        formControlName="codigogrupo"
                        [nzDropdownRender]="addCuotaGrupo"
                        [nzLoading]="loadingCuotasGrupos">
                        <nz-option
                            *ngFor="let grupo of lstCuotasGrupos"
                            [nzValue]="grupo.codigo" [nzLabel]="grupo.codigo" nzCustomContent>
                            <span>{{ grupo.codigo }} </span>
                            <span nz-typography nzType="secondary">({{ grupo.totalcuotas }} {{ grupo.totalcuotas == 1 ? 'cuota' : 'cuotas' }})</span>
                        </nz-option>
                    </nz-select>
                    <ng-template #addCuotaGrupo>
                        <nz-divider style="margin: 4px 0;"></nz-divider>
                            <a nz-button nzType="link" (click)="crearGrupoCuota()" [nzLoading]="guardandoCuotaGrupo">
                                <i nz-icon [nzType]="'plus'"></i>
                                Crear
                            </a>
                    </ng-template>
                </div>
            </nz-form-control>
        </nz-form-item>
        <!--<nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24">Número de cuota</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24">
                <div nz-col [nzSm]="12" [nzXs]="24">
                    <nz-input-number style="width: 100%;" formControlName="nrocuota" [nzStep]="1" [nzMin]="1">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>-->
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">Observación</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES" nzErrorTip="Máx. 150 carácteres.">
                <input formControlName="observacion" nz-input>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div nz-col [appNzColResponsiveSizes]="LABEL_SIZES"></div>
            <nz-form-control [appNzColResponsiveSizes]="CONTROLS_SIZES">
                <label
                    nz-checkbox
                    formControlName="exonerado"
                    [nzDisabled]="form.controls.pagado.value && form.controls.monto.value != 0">
                    Exonerado
                </label>
            </nz-form-control>
        </nz-form-item>
        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
            <div nz-row [nzGutter]="[8,8]" nzJustify="end">
                <div nz-col>
                    <button nz-button nzType="primary" [nzLoading]="guardando" (click)="guardar()">
                        <i nz-icon nzType="save"></i>
                        <span *ngIf="idcuota == 'nueva' && (!form.controls.cantidad.value || form.controls.cantidad.value == 1)">
                            Registrar
                        </span>
                        <span *ngIf="idcuota == 'nueva' && (form.controls.cantidad.value > 1)">
                            Generar
                        </span>
                        <span *ngIf="idcuota != 'nueva'">
                            Editar
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</nz-spin>
