<div class="inner-component">
    <div class="main-breadcrumb">
        <div nz-row [nzGutter]="8">
            <div nz-col nzFlex="auto">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'welcome']"><i nz-icon nzType="home"></i></a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'suscripciones']">Suscripciones</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'suscripciones', idsuscripcion ]">{{ idsuscripcion }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'suscripciones', idsuscripcion, 'cuotas']">Cuotas</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'suscripciones', idsuscripcion, 'cuotas', idcuota]">{{ idcuota | titlecase }}</a>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div *ngIf="suscripcion" nz-col>
                <nz-tag [nzColor]="'magenta'">
                    <strong>{{ suscripcion.servicio }}</strong>
                    <nz-divider nzType="vertical"></nz-divider>
                    Gs.{{ suscripcion.monto | number }}/mes
                </nz-tag>
            </div>
            <div *ngIf="cliente" nz-col> 
                <nz-tag [nzColor]="'magenta'">
                    <strong>{{ cliente.razonsocial }}</strong>
                    <nz-divider nzType="vertical" *ngIf="cliente.ci"></nz-divider>
                    <span *ngIf="cliente.ci">
                        {{ cliente.ci | number }}<span *ngIf="cliente.dvruc">-{{ cliente.dvruc }}</span>
                    </span>
                </nz-tag>
            </div>
        </div>
    </div>
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="12" [nzXl]="14" [nzLg]="16" [nzMd]="18" [nzSm]="20">
                <app-form-cuota [idsuscripcion]="idsuscripcion" [idcuota]="idcuota"></app-form-cuota>
            </div>
        </div>
    </div>
</div>