<div nz-row [nzGutter]="[16, 16]">

    <div nz-col nzSpan="12">
        <nz-spin [nzSpinning]="loadingMontoPagado">
            <nz-card>
                <nz-statistic nzTitle="Monto pagado" [nzValue]="'Gs. '+(montoTotalPagado | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="12">
        <nz-spin [nzSpinning]="loadingMontoPendiente">
            <nz-card>
                <nz-statistic nzTitle="Monto pendiente" [nzValue]="'Gs. '+(montoTotalPendiente | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="6">
        <nz-spin [nzSpinning]="loadingCantFacturas">
            <nz-card>
                <nz-statistic nzTitle="Total de facturas" [nzValue]="(cantFacturas | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="6">
        <nz-spin [nzSpinning]="loadingCantPagadas">
            <nz-card>
                <nz-statistic nzTitle="Facturas pagadas" [nzValue]="(cantFactPagadas | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="6">
        <nz-spin [nzSpinning]="loadingCantPendientes">
            <nz-card>
                <nz-statistic nzTitle="Facturas pendientes" [nzValue]="(cantFactPendientes | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="6">
        <nz-spin [nzSpinning]="loadingCantAnuladas">
            <nz-card>
                <nz-statistic nzTitle="Facturas anuladas" [nzValue]="(cantFactAnuladas | number)!"></nz-statistic>
            </nz-card>
        </nz-spin>
    </div>
    <div nz-col nzSpan="12">
        <app-card-resumen-ventas-grupos-servicios [paramsFiltros]="paramsFiltros" [textoBusqueda]="textoBusqueda">
        </app-card-resumen-ventas-grupos-servicios>
    </div>
    <div nz-col nzSpan="12">
        <app-card-resumen-ventas-cobradores [paramsFiltros]="paramsFiltros" [textoBusqueda]="textoBusqueda">
        </app-card-resumen-ventas-cobradores>
    </div>
</div>

