<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Anterior</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Ingrese la contraseña antigua'">
            <nz-input-group [nzSuffix]="suffixOldPass">
                <input nz-input [type]="oldPasswordVisible ? 'text' : 'password'" formControlName="oldPass" autocomplete="off">
            </nz-input-group>

        </nz-form-control>
        <ng-template #suffixOldPass>
            <span nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="oldPasswordVisible = !oldPasswordVisible"></span>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Nueva</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Ingrese la contraseña nueva. Min. 6 carácteres.'">
            <nz-input-group [nzSuffix]="suffixNewPass">
                <input nz-input [type]="newPasswordVisible ? 'text' : 'password'" formControlName="newPass">
            </nz-input-group>
        </nz-form-control>
        <ng-template #suffixNewPass>
            <span nz-icon [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="newPasswordVisible = !newPasswordVisible"></span>
        </ng-template>
    </nz-form-item>
    <nz-alert
        *ngIf="errorAlertVisible"
        nzType="error"
        [nzMessage]="'Error al guardar'"
        [nzDescription]="errorAlertMessage"
        (nzOnClose)="errorAlertVisible = false"
        nzShowIcon
        nzCloseable>
    </nz-alert>
</form>