<nz-table
    #tabla
    nzSize="small"
    [nzData]="lstResumenServicios"
    [nzFrontPagination]="false"
    [nzTotal]="totalRegisters"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzShowSizeChanger]="true"
    [nzLoading]="tableLoading"
    [nzFooter]="pieTabla"
    [nzPageSizeOptions]="[5, 10, 15, 20, 25]"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th [nzColumnKey]="'servicio'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Servicio</th>
            <th [nzColumnKey]="'cantidad'" [nzSortFn]="true">Nro. suscripciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resumenServicio of tabla.data">
            <td>{{ resumenServicio.servicio }}</td>
            <td>{{ resumenServicio.cantidad | number }} suscripciones</td>
        </tr>
    </tbody>
    <ng-template #pieTabla>
        <strong>Total de registros: </strong>
        <span>{{ totalRegisters | number }}</span>
    </ng-template>
</nz-table>