<div class="workspace workspace-spacing">
    <div class="workspace-header">
        <div class="breadcrumb">
            <ng-content select="[breadcrumb]"></ng-content>
        </div>
        <div class="workspace-header-extra">
            <ng-content select="[header-extra]"></ng-content>
        </div>
    </div>
    <div
        class="workspace-content"
        [class.workspace-content-padding]="isContentPadded"
        [class.workspace-content-background]="isBackgroundVisible">
        <ng-content></ng-content>
    </div>
</div>
