<div class="inner-component">
    <div class="main-breadcrumb">
        <div nz-row>
            <div nz-col nzFlex="auto">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="/welcome"><i nz-icon nzType="home"></i></a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a routerLink="/clientes">Clientes</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="'/clientes/'+idcliente">{{ idcliente }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        Domicilios
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div nz-col>
                <div *ngIf="cliente">
                    <span style="color:gray" *ngIf="cliente.ci">1.333.444-5</span>
                    <nz-divider nzType="vertical" *ngIf="cliente.ci"></nz-divider>
                    <strong>{{ cliente.razonsocial }}</strong>
                </div>
            </div>
        </div>
    </div>
    
    <div class="module-container">
        <div class="module-content">
            <app-contenido-vista-domicilios [idcliente]="idcliente"></app-contenido-vista-domicilios>
        </div>
    </div>
</div>