<app-workspace-layout [isForm]="true">

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/app/sorteos">Sorteos</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idsorteo | titlecase }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>
                Código
            </nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese un código.">
                <div nz-row>
                    <div nz-col [nzSm]="12" [nzXs]="24">
                        <nz-input-group [nzAddOnAfter]="btnGenerarId" nzSearch>
                            <nz-input-number style="width: 100%;" formControlName="id"></nz-input-number>
                        </nz-input-group>
                        <ng-template #btnGenerarId>
                            <button
                                nz-button
                                nzType="primary"
                                nzSearch
                                nz-tooltip
                                nzTooltipTitle="Generar código."
                                [nzLoading]="ultimoIdLoading"
                                (click)="cargarUltimoId()">
                                <i nz-icon nzType="sync" nzTheme="outline"></i>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>
                Descripción
            </nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese una descripción. Máx. 70 carácteres.">
                <input nz-input style="width: 100%;" formControlName="descripcion">
            </nz-form-control>
        </nz-form-item>
        <div nz-col [appNzColResponsiveSizes]="ACTION_SIZES" style="text-align: right;">
            <div nz-row [nzGutter]="[8, 8]" nzJustify="end">
                <div nz-col *ngIf="idsorteo != 'nuevo'">
                    <button nz-button nzType="default" routerLink="participantes">
                        <i nz-icon nzType="team" nzTheme="outline"></i>
                        Participantes
                    </button>
                </div>
                <div nz-col *ngIf="idsorteo != 'nuevo'">
                    <button nz-button nzType="default" routerLink="premios">
                        <i nz-icon nzType="gift" nzTheme="outline"></i>
                        Premios
                    </button>
                </div>
                <div nz-col *ngIf="idsorteo != 'nuevo'">
                    <button nz-button nzType="default" [routerLink]="['/sortear', idsorteo]">
                        <i nz-icon nzType="check-square" nzTheme="outline"></i>
                        Sortear
                    </button>
                </div>
                <div nz-col>
                    <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                        <i nz-icon nzType="save"></i>
                        {{ idsorteo === 'nuevo' ? 'Registrar' : 'Editar' }}
                    </button>
                </div>
            </div>
        </div>
    </form>

</app-workspace-layout>