<app-workspace-layout [isForm]="true">

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/app/usuariosdepositos">Usuarios depósitos</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idusuario | titlecase }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-spin [nzSpinning]="loading">
        <form [formGroup]="form">
            <nz-form-item>
                <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Código</nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese un código.">
                    <div nz-row>
                        <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                            <nz-input-group [nzAddOnAfter]="addonGenerarCodigo" nzSearch>
                                <nz-input-number style="width: 100%;" formControlName="id"></nz-input-number>
                                <ng-template #addonGenerarCodigo>
                                    <button
                                        nz-button
                                        nzType="primary"
                                        nzSearch
                                        nz-tooltip
                                        nzTooltipTitle="Generar código"
                                        [nzLoading]="loadingId"
                                        (click)="generarId()">
                                        <i nz-icon nzType="sync" nzTheme="outline"></i>
                                    </button>
                                </ng-template>
                            </nz-input-group>
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Nombres</nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese una razón social. Máx. 80 carácteres.">
                    <input nz-input formControlName="nombres">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">Apellidos</nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Máx. 80 carácteres.">
                    <input nz-input formControlName="apellidos">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Rol</nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Seleccione un rol.">
                    <nz-select nzPlaceHolder="Seleccionar..." formControlName="roles" nzMode="multiple" nzAllowClear>
                        <nz-option [nzValue]="8" [nzLabel]="'Proveedor de materiales'"></nz-option>
                        <nz-option [nzValue]="7" [nzLabel]="'Retiro de materiales'"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
                <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardando">
                    <i nz-icon nzType="save" nzTheme="outline"></i>
                    {{ idusuario === 'nuevo' ? 'Registrar' : 'Editar' }}
                </button>
            </div>
        </form>
    </nz-spin>

</app-workspace-layout>