<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="lg" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="'/app/dashboard'">
        <img src="/assets/img/favicon-transparente.png" alt="logo">
        <h1>TVMax ERP</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="dashboard">Inicio</a>
          </li>
        </ul>
      </li>
      <ng-container *ngFor="let submenu of mainMenu">
        <li *ngIf="subMenuVisible(submenu.children)" nz-submenu [nzTitle]="submenu.title" [nzIcon]="submenu.icon">
          <ul>
            <ng-container *ngFor="let menu of submenu.children">
              <li *ngIf="sesionSrv.permisos.has(menu.id)" nz-menu-item nzMatchRouter style="display: flex; justify-content: space-between;">
                <a [routerLink]="menu.routerLink">{{ menu.name }}</a>
                <button nz-button nzType="link" (click)="sesionSrv.switchMenuFav(menu.id)">
                  <i *ngIf="!(sesionSrv.menuFavsObs| async)?.includes(menu.id)" 
                    nz-icon nzType="star" 
                    nzTheme="outline"
                    nz-tooltip
                    nzTooltipTitle="Agregar a favoritos">
                  </i>
                  <i *ngIf="(sesionSrv.menuFavsObs | async)?.includes(menu.id)"
                  nz-icon nzType="star"
                  nzTheme="fill"
                  nz-tooltip
                  nzTooltipTitle="Quitar de favoritos">
                </i>
                </button>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-row>
        <div nz-col nzFlex="auto">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
        <div nz-col>
          <a>
            <nz-avatar nz-dropdown [nzText]="textoAvatar" [nzDropdownMenu]="menu"
              style="margin-right: 8px; background-color: #87d068;"></nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li style="margin: 6px 12px 6px 12px"><strong>{{nombreUsuario}}</strong></li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="isCambiarPassModalVisible = true">
                <span><i nz-icon nzType="key"></i> Cambiar Contraseña</span>
              </li>
              <li nz-menu-item (click)="doLogout()">
                <span><i nz-icon nzType="logout"></i> Cerrar Sesión</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal [nzContent]="formCambioPass" [nzTitle]="'Cambiar Contraseña'" [(nzVisible)]="isCambiarPassModalVisible"
  (nzOnCancel)="isCambiarPassModalVisible = false" (nzOnOk)="formCambioPasswordComp.guardar()"
  [nzOkLoading]="guardarLoading">
  <ng-template #formCambioPass>
    <app-form-cambio-password (guardado)="isCambiarPassModalVisible = false"
      (guardarLoading)="guardarLoading = $event"></app-form-cambio-password>
  </ng-template>
</nz-modal>