<app-workspace-layout [isContentPadded]="false" [isBackgroundVisible]="false">

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a *ngIf="moduloActivadoDesde == 'venta'" routerLink="../">Ventas</a>
            <span *ngIf="moduloActivadoDesde == 'pos'">POS</span>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idventa | titlecase }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div nz-row [nzGutter]="[16, 16]">
        <div nz-col nzSpan="15" [nzXs]="24" [nzSm]="24" [nzMd]="15" [nzLg]="15">
            <div class="module-content">
                <div nz-row [nzGutter]="[8, 8]">
                    <div nz-col nzSpan="24">
                        <div nz-row [nzGutter]="[8, 8]">
                            <div nz-col>
                                <button nz-button nzType="primary" (click)="modalServiciosVisible = true;" [disabled]="guardandoFactura">
                                    <i nz-icon nzType="search" nzTheme="outline"></i>
                                    Servicios
                                </button>
                            </div>
                            <div nz-col>
                                <nz-badge [nzCount]="totalCuotasPendientes">
                                    <button nz-button nzType="primary" (click)="mostrarModalCuotas()"
                                        [nzLoading]="loadingCantidadCuotas"
                                        [disabled]="guardandoFactura">
                                        <i nz-icon nzType="search" nzTheme="outline"></i>
                                        Cuotas
                                    </button>
                                </nz-badge>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-table #tablaDetalle
                            nzSize="small"
                            [nzData]="lstDetallesVenta"
                            [nzLoading]="loadingVenta">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dfv of tablaDetalle.data; let i = index" [class.editable-row]="this.sesionSrv.permisos.has(268)">
                                    <td>{{ dfv.descripcion }}</td>
                                    <td [nzAlign]="'right'" (click)="iniciarEdicionMonto(i, dfv.monto ?? -1, inputCompMonto)" >
                                        <div
                                            [class.editable-cell]="this.sesionSrv.permisos.has(268)"
                                            [hidden]="indexFilaEnEdicion == i">
                                            Gs. {{ dfv.monto | number }}
                                        </div>
                                        <nz-input-number #inputCompMonto
                                            [(ngModel)]="montoEnEdicion"
                                            [hidden]="indexFilaEnEdicion != i"
                                            (keydown.enter)="aceptarEdicionMonto()"
                                            (keydown.escape)="cancelarEdicionMonto()"
                                            (nzBlur)="cancelarEdicionMonto()"
                                            [nzMin]="50"
                                            [nzStep]="1">
                                        </nz-input-number>
                                    </td>
                                    <td [nzAlign]="'center'">
                                        <button
                                            nz-button 
                                            (click)="confirmarQuitarDetalleFactura(i)"
                                            nzType="primary"
                                            nzDanger
                                            [disabled]="guardandoFactura">
                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="9" [nzXs]="24" [nzSm]="24" [nzMd]="9" [nzLg]="9">
            <div nz-row [nzGutter]="[16, 16]">
                <div nz-col nzSpan="12">
                    <div class="module-content" style="min-height: 106px;">
                        <div><span nz-typography nzType="secondary">Total</span></div>
                        <div>
                            <span nz-typography style="font-size: x-large;">
                                <span>Gs. {{ totalFactura | number }}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <div class="module-content" style="min-height: 106px;">
                        <div>
                            <span nz-typography nzType="secondary">IVA</span>
                        </div>
                        <div>
                            <span>Gs. {{ totalIva10 | number }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span nz-typography nzType="secondary">10%</span>
                        </div>
                        <div>
                            <span>Gs. {{ totalIva5 | number }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span nz-typography nzType="secondary">5%</span>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="module-content">
                        <nz-spin [nzSpinning]="loadingVenta">
                            <form nz-form [formGroup]="formCabecera" (keydown.enter)="$event.preventDefault()">
                                <nz-form-item>
                                    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24"
                                        [nzLg]="6">Factura</nz-form-label>
                                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                                        [nzErrorTip]="errorTipNroFactura" [nzValidateStatus]="statusNroFactura">
                                        
                                        <!--<span *ngIf="facturaElectronica && idventa == 'nueva'">
                                            <ng-container *ngTemplateOutlet="prefijoFactura"></ng-container>
                                        </span>-->
                                        
                                        <ng-template #prefijoFactura>
                                            <nz-select style="min-width: 7em;" [nzDropdownMatchSelectWidth]="false"
                                                [nzCustomTemplate]="renderPrefijo" formControlName="idTimbrado">
                                                <nz-option nzCustomContent *ngFor="let timb of lstTimbrados"
                                                    [nzLabel]="timb | datosTimbrado"
                                                    [nzValue]="timb.id"
                                                    [nzCustomContent]>
                                                    <nz-tag [nzColor]="timb.electronico ? 'purple' : 'geekblue'">
                                                        {{ timb.electronico ? 'E' : 'P' }}
                                                    </nz-tag>
                                                    <span>{{ timb | datosTimbrado:false }}</span>
                                                </nz-option>
                                            </nz-select>
                                        </ng-template>
                                        <nz-input-group
                                            [nzAddOnBefore]="prefijoFactura"
                                            nzSearch>
                                            <nz-input-number
                                                *ngIf="facturaElectronica && idventa == 'nueva'"
                                                nzPlaceHolder="(autogenerado)"
                                                [nzDisabled]="true"
                                                style="width: 100%;">
                                            </nz-input-number>
                                            <nz-input-number
                                                *ngIf="!facturaElectronica || (facturaElectronica && idventa != 'nueva')"
                                                style="width: 100%;"
                                                formControlName="nroFactura"
                                                [nzDisabled]="nroFacturaDesactivado" [nzStep]="1"
                                                [nzMin]="nroFacturaMin" [nzMax]="nroFacturaMax">
                                            </nz-input-number>
                                            <!--<ng-template #sufijoFactura>
                                                <button
                                                    nz-button
                                                    nzType="default"
                                                    nzSearch
                                                    nz-tooltip
                                                    nzTooltipTitle="Buscar y abrir factura"
                                                    [nzLoading]="buscandoFactura"
                                                    (click)="buscarFacturaPorNro()">
                                                    <i nz-icon nzType="search" nzTheme="outline"></i>
                                                </button>
                                            </ng-template>-->
                                        </nz-input-group>
                                        <ng-template #renderPrefijo let-selected>
                                            <span *ngIf="selected.nzValue | findTimbrado:lstTimbrados as timbrado">
                                                {{ timbrado.prefijo }}
                                            </span>  
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6">Fecha</nz-form-label>
                                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                                        nzErrorTip="Ingrese la fecha de la factura.">
                                        <nz-input-group [nzAddOnAfter]="addonEditarFechaHora" nzSearch>
                                            <ng-template #addonEditarFechaHora>
                                                <button
                                                    nz-button
                                                    [disabled]="usarFechaActual || guardandoFactura"                                                
                                                    [nzType]="usarFechaActual ? 'default' : 'primary'"
                                                    (click)="cambiarAModoFechaActual(!usarFechaActual)"
                                                    nzSearch
                                                    nz-tooltip
                                                    [nzTooltipTitle]="usarFechaActual ? '' : 'Usar fecha/hora actual'">
                                                    <i nz-icon [nzType]="'sync'"></i>
                                                </button>
                                            </ng-template>
                                            <nz-date-picker
                                                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                                                style="width: 100%;"
                                                nzFormat="dd/MM/yyyy HH:mm:ss"
                                                formControlName="fecha"
                                                (nzOnOpenChange)="cambiarAModoFechaActual(false)">
                                            </nz-date-picker>
                                        </nz-input-group>
                                        
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24"
                                        [nzLg]="6">Cliente</nz-form-label>
                                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                                        nzErrorTip="Seleccione el cliente de la factura.">
                                        <nz-select
                                            nzServerSearch
                                            nzAllowClear
                                            nzShowSearch
                                            [nzLoading]="loadingClientes"
                                            [nzDropdownRender]="spinCargarMasClientes"
                                            (nzOnSearch)="buscarClienteDelayed($event)"
                                            (nzScrollToBottom)="cargarMasClientes()" formControlName="idCliente">
                                            <nz-option
                                                nzCustomContent
                                                *ngFor="let cli of lstClientes"
                                                [nzLabel]="cli.razonsocial"
                                                [nzValue]="cli.id">
                                                <nz-space>
                                                    <span *nzSpaceItem>{{ cli.razonsocial }}</span>
                                                    <ng-container *ngIf="cli.ci">
                                                        <nz-tag *nzSpaceItem>
                                                            {{ cli.ci | number }}
                                                            <span *ngIf="cli.dvruc">- {{ cli.dvruc }}</span>
                                                        </nz-tag>
                                                    </ng-container>
                                                </nz-space>
                                            </nz-option>
                                        </nz-select>
                                        <ng-template #spinCargarMasClientes>
                                            <nz-spin *ngIf="loadingMasClientes"></nz-spin>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6">
                                        CI/RUC
                                    </nz-form-label>
                                    <nz-form-control
                                        [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                                        [nzHasFeedback]="mostrarValidacionRuc"
                                        nzWarningTip="RUC no encontrado en Marangatu"
                                        [nzValidateStatus]="estadoValidacionRuc">
                                        <nz-input-group [nzAddOnAfter]="dvRuc ?? ''">
                                            <input formControlName="ci" nz-input (keydown.enter)="buscarClientePorCi($event)">
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                                
                                <div nz-row [nzGutter]="[8, 8]" nzJustify="end">
                                    <div *ngIf="clienteSeleccionado != null" nz-col>
                                        <nz-badge [nzShowDot]="clienteSeleccionado != null && (clienteSeleccionado.telefono1 == null || clienteSeleccionado.email == null)" nzDot>
                                            <button nz-button nzType="default" style="width: 100%;" (click)="mostrarModalContacto()" [disabled]="guardandoFactura">
                                                <i nz-icon nzType="contacts"></i>
                                                Contacto
                                            </button>
                                        </nz-badge>
                                    </div>
                                    <div *ngIf="idventa !== 'nueva'" nz-col>
                                        <ng-container *ngIf="facturaElectronica">
                                            <button
                                                nz-button
                                                nzType="default"
                                                style="width: 100%;"
                                                [nzLoading]="loadingImpresion"
                                                [disabled]="guardandoFactura"
                                                nz-dropdown
                                                [nzDropdownMenu]="menuImpresion">
                                                <i nz-icon nzType="printer"></i>
                                                Imprimir
                                            </button>
                                            <nz-dropdown-menu #menuImpresion="nzDropdownMenu">
                                                <ul nz-menu>
                                                    <li nz-menu-item (click)="imprimirKude(false)">
                                                        <a>Normal</a>
                                                    </li>
                                                    <li nz-menu-item (click)="imprimirKude(true)">
                                                        <a>Con duplicado</a>
                                                    </li>
                                                </ul>
                                            </nz-dropdown-menu>
                                        </ng-container>
                                        <ng-container *ngIf="!facturaElectronica">
                                            <button
                                                nz-button
                                                nzType="default"
                                                style="width: 100%;"
                                                [nzLoading]="loadingImpresion"
                                                [disabled]="guardandoFactura"
                                                (click)="imprimirFacturaPreimpresa()">
                                                    <i nz-icon nzType="printer"></i>
                                                    Imprimir
                                            </button>
                                        </ng-container>
                                    </div>
                                    <div nz-col>
                                        <button nz-button nzType="default" style="width: 100%;" (click)="limpiar()" [disabled]="guardandoFactura">
                                            <i nz-icon [nzType]="idventa === 'nueva'?'clear':'plus'"></i>
                                            {{ idventa === 'nueva'?'Limpiar':'Nueva' }}
                                        </button>
                                    </div>
                                    <div nz-col>
                                        <button
                                            nz-button
                                            nzType="primary"
                                            [nzLoading]="guardandoFactura"
                                            (click)="guardar()"
                                            style="width: 100%;">
                                            <i nz-icon nzType="save"></i>
                                            {{ idventa == 'nueva' ? 'Registrar' : 'Editar' }}
                                        </button>
                                    </div>
                                    <div nz-col nzSpan="24" *ngIf="mostrarValidacionRuc && estadoValidacionRuc == 'warning'">
                                        <nz-alert nzType="warning" nzMessage="RUC inexistente provocará rechazo de Factura Electrónica"></nz-alert>
                                    </div>
                                </div>
                            </form>
                        </nz-spin>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-workspace-layout>

<nz-modal
    [(nzVisible)]="modalServiciosVisible"
    nzTitle="Servicios"
    [nzContent]="contentModalServicios"
    (nzOnCancel)="modalServiciosVisible = false;"
    [nzFooter]="footerModalServicios"
    nzWidth="700px">

    <ng-template #contentModalServicios>
        <app-servicios
            [idcliente]="this.formCabecera.controls.idCliente.value"
            (agregarServicio)="agregarServicioDetalle($event.servicio, $event.suscripcion)">
        </app-servicios>
    </ng-template>

    <ng-template #footerModalServicios>
        <button nz-button nzType="default" (click)="modalServiciosVisible = false;">
            Cerrar
        </button>
    </ng-template>
</nz-modal>

<nz-modal
    [(nzVisible)]="modalCuotasVisible"
    nzTitle="Cuotas pendientes"
    [nzFooter]="footerModalCuotas"
    [nzContent]="contentModalCuotas"
    (nzOnCancel)="ocultarModalCuotas()"
    nzWidth="700px">

    <ng-template #contentModalCuotas>
        <app-cuotas-pendientes
            [idcliente]="formCabecera.controls.idCliente.value"
            [mapCuotasEnDetalle]="mapCuotaEnDetalle"
            (cantidadCuotasPendientes)="totalCuotasPendientes = $event"
            (agregarCuota)="agregarCuotaDetalle($event)"
            (quitarCuota)="quitarCuotaDetalle($event)">
        </app-cuotas-pendientes>
    </ng-template>

    <ng-template #footerModalCuotas>
        <button nz-button nzType="default" (click)="ocultarModalCuotas()">Cerrar</button>
    </ng-template>
</nz-modal>

<nz-modal
    [(nzVisible)]="modalContactoVisible"
    [nzTitle]="'Contacto'"
    [nzContent]="contentModalContacto"
    [nzFooter]="footerModalContacto"    
    (nzOnCancel)="ocultarModalContacto()">
    <ng-template #contentModalContacto>
        <app-form-contacto-cliente
            [idcliente]="clienteSeleccionado?.id"
            [telefono1]="clienteSeleccionado?.telefono1"
            [telefono2]="clienteSeleccionado?.telefono2"
            [email]="clienteSeleccionado?.email"
            (guardando)="guardandoContacto = $event"
            (guardadoCorrecto)="refreshClienteSeleccionado()">
            
        </app-form-contacto-cliente>
    </ng-template>
    <ng-template #footerModalContacto>
        <button nz-button nzType="default" (click)="ocultarModalContacto()">Cerrar</button>
        <button
            *ngIf="sesionSrv.permisos.has(187)"
            nz-button
            nzType="primary"
            (click)="formContactoClienteComp.guardar()"
            [nzLoading]="guardandoContacto">
            <i nz-icon nzType="save" nzTheme="outline"></i>
            Editar
        </button>
    </ng-template>
</nz-modal>
<iframe #iframe style="display:none; visibility: hidden;"></iframe>