<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Clientes
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row>
                <div nz-col nzFlex="auto">
                    <a nz-button nzType="primary" routerLink="nuevo">
                        <i nz-icon nzType="plus"></i>
                        Nuevo
                    </a>
                </div>
                <div nz-col>
                    <nz-space>
                        <nz-input-group *nzSpaceItem [nzPrefixIcon]="'search'" [nzSuffix]="inputClearTpl">
                            <input nz-input placeholder="Buscar..." [(ngModel)]="textoBusqueda"
                                (ngModelChange)="buscar()">
                            <ng-template #inputClearTpl>
                                <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                                    *ngIf="textoBusqueda" (click)="limpiarBusqueda()"></i>
                            </ng-template>
                        </nz-input-group>

                        <nz-badge *nzSpaceItem [nzCount]="cantFiltrosAplicados">
                            <button nz-tooltip nz-button nzType="primary" nzTooltipTitle="Ver filtros"
                                (click)="drawerFiltrosVisible = !drawerFiltrosVisible">
                                <i nz-icon nzType="filter" nzTheme="outline"></i>
                            </button>
                        </nz-badge>
                    </nz-space>
                </div>
            </div>
            <nz-drawer [nzContent]="formfiltro" [nzVisible]="drawerFiltrosVisible" nzClosable="true" nzTitle="Filtros"
                (nzOnClose)="drawerFiltrosVisible = !drawerFiltrosVisible"></nz-drawer>

            <ng-template #formfiltro>
                <app-form-filtro-clientes (paramsFiltrosChange)="procesarParamsFiltro($event)"
                    (cantFiltrosChange)="procesarCantidadFiltros($event)"></app-form-filtro-clientes>
            </ng-template>

            <ng-template #pietabla>
                <nz-space>
                    <span *nzSpaceItem><strong>Total:</strong></span>
                    <span *nzSpaceItem>{{ total | number}}</span>
                </nz-space>
            </ng-template>
            <nz-table #tbl [nzData]="lstClientes" nzShowSizeChanger nzShowPagination [nzFrontPagination]="false"
                [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzLoading]="tablaLoading"
                (nzQueryParams)="onTableParamsChange($event)" [nzFooter]="pietabla" nzSize="small"
                style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th></th>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true">Código</th>
                        <th [nzColumnKey]="'razonsocial'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Razón social</th>
                        <th [nzColumnKey]="'ci'" [nzSortFn]="true" nzAlign="right">CI/RUC</th>
                        <th [nzColumnKey]="'direccion'" [nzSortFn]="true">Domicilio princ.</th>
                        <th>Susc.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let c of tbl.data">
                        <tr>
                            <td [nzExpand]="expandSet.has(c.id===null?-1:c.id)"
                                (nzExpandChange)="onRowExpand(c.id===null?-1:c.id, $event)"></td>
                            <td>{{ c.id }}</td>
                            <td>{{ c.razonsocial }}</td>
                            <td nzAlign="right">
                                <span *ngIf="c.ci">
                                    <span>{{ c.ci | number }}</span>
                                    <ng-container *ngIf="c.ci !=null && c.dvruc != null">
                                        <span> - </span>
                                        <span>{{ c.dvruc }}</span>
                                    </ng-container>
                                </span>
                                <span *ngIf="!c.ci" nz-typography nzType="secondary">(sin CI/RUC)</span>
                            </td>
                            <td>
                                <span *ngIf="c.direccion" nz-tooltip
                                    [nzTooltipTitle]="c.direccion">
                                    {{ c.direccion | slice:0:30 }}
                                    <span *ngIf="c.direccion.length>30">...</span>
                                </span>
                                <span *ngIf="!c.direccion" nz-typography nzType="secondary">(ninguno)</span>
                            </td>
                            <td>
                                <div nz-row [nzGutter]="[0,8]">
                                    <div nz-col>
                                        <nz-tag nz-tooltip nzTooltipTitle="Conectados" [nzColor]="'green'">{{
                                            c.cantconectados }} </nz-tag>
                                    </div>
                                    <div nz-col>
                                        <nz-tag nz-tooltip nzTooltipTitle="Desconectados" [nzColor]="'red'">{{
                                            c.cantdesconectados }} </nz-tag>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div nz-row [nzGutter]="[8,8]">
                                    <div nz-col>
                                        <button nz-tooltip nzTooltipTitle="Domicilios" nz-button nzType="default"
                                            [routerLink]="[c.id, 'domicilios']">
                                            <i nz-icon nzType="home" nzTheme="outline"></i>
                                        </button>
                                    </div>
                                    <div nz-col>
                                        <button nz-tooltip nz-button nzType="default" nzTooltipTitle="Suscripciones"
                                            [routerLink]="c.id+'/suscripciones'">
                                            <i nz-icon nzType="carry-out" nzTheme="outline"></i>
                                        </button>
                                    </div>
                                    <div nz-col>
                                        <button nz-button nz-tooltip nzType="primary" [routerLink]="c.id+''"
                                            nzTooltipTitle="Editar">
                                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                                        </button>
                                    </div>
                                    <div nz-col>
                                        <button
                                            nzType="primary"
                                            nz-button
                                            (click)="confirmarEliminacion(c)"
                                            nzDanger>
                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(c.id===null?-1:c.id)">
                            <nz-descriptions nzSize="small">
                                <nz-descriptions-item [nzTitle]="tituloemail">
                                    <ng-template #tituloemail>
                                        <strong>Email</strong>
                                    </ng-template>
                                    <span [style]="!c.email?'color: gray':''">
                                        {{ c.email?c.email:'(sin email)'}}
                                    </span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulotelef1">
                                    <ng-template #titulotelef1>
                                        <strong>Teléfono princ.</strong>
                                    </ng-template>
                                    <span [style]="!c.telefono1?'color: gray':''">
                                        {{c.telefono1?c.telefono1:'(sin teléfono)' }}
                                    </span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulotelef2">
                                    <ng-template #titulotelef2>
                                        <strong>Teléfono sec.</strong>
                                    </ng-template>
                                    <span [style]="!c.telefono2?'color: gray':''">
                                        {{c.telefono2?c.telefono2:'(sin teléfono)' }}
                                    </span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulocobrador">
                                    <ng-template #titulocobrador>
                                        <strong>Cobrador</strong>
                                    </ng-template>
                                    <span nz-tooltip [nzTooltipTitle]="'Código: '+c.idcobrador">{{ c.cobrador }}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulobarrio">
                                    <ng-template #titulobarrio>
                                        <strong>Barrio</strong>
                                    </ng-template>
                                    <span *ngIf="c.idbarrio" nz-tooltip [nzTooltipTitle]="'Código: '+c.idbarrio">
                                        {{c.barrio }}
                                    </span>
                                    <span *ngIf="!c.idbarrio" nz-typography nzType="secondary">(sin barrio)</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulodist">
                                    <ng-template #titulodist>
                                        <strong>Distrito</strong>
                                    </ng-template>
                                    <span *ngIf="c.iddistrito" nz-tooltip [nzTooltipTitle]="'Código: '+c.iddistrito">
                                        {{ c.distrito }}
                                    </span>
                                    <span *ngIf="!c.iddistrito" nz-typography nzType="secondary">(Sin distrito)</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item [nzTitle]="titulodep">
                                    <ng-template #titulodep>
                                        <strong>Departamento</strong>
                                    </ng-template>
                                    <span *ngIf="c.iddepartamento" nz-tooltip
                                        [nzTooltipTitle]="'Código: '+c.iddepartamento">{{ c.departamento }}</span>
                                    <span *ngIf="!c.iddepartamento" nz-typography nzType="secondary">(Sin departamento)</span>
                                </nz-descriptions-item>
                            </nz-descriptions>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>