<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Clientes
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <ng-template #pietabla>
                <nz-space>
                    <span *nzSpaceItem><strong>Total:</strong></span>
                    <span *nzSpaceItem>{{ total | number}}</span>
                </nz-space>
            </ng-template>
            <nz-table #tbl [nzData]="lstClientes" nzShowSizeChanger nzShowPagination
                [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
                [nzLoading]="tablaLoading" (nzQueryParams)="onTableParamsChange($event)" [nzFooter]="pietabla"
                nzSize="small" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true">Código</th>
                        <th [nzColumnKey]="'razonsocial'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Razón social</th>
                        <th [nzColumnKey]="'ci'" [nzSortFn]="true" nzAlign="right">CI/RUC</th>
                        <th [nzColumnKey]="'direccion'" [nzSortFn]="true">Domicilio princ.</th>
                        <th>Susc.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let c of tbl.data">
                        <tr>
                            <td [nzExpand]="expandSet.has(c.id===null?-1:c.id)"
                                (nzExpandChange)="onRowExpand(c.id===null?-1:c.id, $event)"></td>
                            <td>{{ c.id }}</td>
                            <td>{{ c.razonsocial }}</td>
                            <td nzAlign="right">
                                <span *ngIf="c.ci">
                                    {{ c.ci | number }}{{ c.ci!==null && c.dvruc!=null?' - ':'' }}{{ c.dvruc }}
                                </span>
                                <span *ngIf="!c.ci" style="color: gray">(Sin CI/RUC)</span>
                            </td>
                            <td>
                                <span *ngIf="c.direccion">
                                    {{ c.direccion }}
                                    ({{ c.barrio }})
                                </span>
                                <span *ngIf="!c.direccion" style="color: gray">
                                    (Sin domicilio principal)
                                </span>
                            </td>
                            <td>
                                    <nz-tag nz-tooltip nzTooltipTitle="Conectados" [nzColor]="'green'">{{
                                        c.cantconectados }} </nz-tag>
                                    <nz-tag nz-tooltip nzTooltipTitle="Desconectados" [nzColor]="'red'">{{
                                        c.cantdesconectados }} </nz-tag>
                            </td>
                            <td>
                                <nz-space>
                                    <button *nzSpaceItem nz-tooltip nzTooltipTitle="Domicilios"
                                        nz-button nzType="default" [routerLink]="[c.id, 'domicilios']">
                                        <i nz-icon nzType="home" nzTheme="outline"></i>
                                    </button>
                                    <button *nzSpaceItem nz-tooltip nz-button nzType="default"
                                        nzTooltipTitle="Suscripciones"
                                        [routerLink]="c.id+'/suscripciones'">
                                        <i nz-icon nzType="carry-out" nzTheme="outline"></i>
                                    </button>
                                    <button *nzSpaceItem nz-button nz-tooltip nzType="primary" [routerLink]="c.id+''"
                                        nzTooltipTitle="Editar">
                                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    </button>
                                    <button *nzSpaceItem nzType="primary" nz-button nz-tooltip nz-popconfirm
                                        nzTooltipTitle="Eliminar" nzPopconfirmTitle="¿Desea eliminr el Cliente?"
                                        nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                                        (nzOnConfirm)="eliminar(c.id)" nzDanger>
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </button>

                                </nz-space>
                            </td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(c.id===null?-1:c.id)">
                            <span>
                                <nz-space nzSize="large">
                                    <span *nzSpaceItem>
                                        <strong>Email: </strong>
                                        <span [style]="!c.email?'color: gray':''">{{ c.email?c.email:'(sinemail)'}}</span>
                                    </span>
                                    <span *nzSpaceItem>
                                        <strong>Teléfono princ.: </strong>
                                        <span [style]="!c.telefono1?'color: gray':''">{{
                                            c.telefono1?c.telefono1:'(sinteléfono)' }}</span>
                                    </span>
                                    <span *nzSpaceItem>
                                        <strong>Teléfono sec.:</strong>
                                        <span [style]="!c.telefono2?'color: gray':''"> {{
                                            c.telefono2?c.telefono2:'(sinteléfono)' }}</span>
                                    </span>
                                    <span *nzSpaceItem>
                                        <strong>Cobrador: </strong>
                                        <span>{{ c.cobrador }} ({{ c.idcobrador }})</span>
                                    </span>
                                </nz-space>
                            </span>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>