<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Clientes
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="/clientes/nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstClientes" style="margin-top: 10px;"
            nzShowSizeChanger
            [nzFrontPagination]="false"
            [nzTotal]="total" 
            [nzPageSize]="pageSize" 
            [nzPageIndex]="pageIndex"
            [nzLoading]="tablaLoading"
            (nzQueryParams)="onTableParamsChange($event)">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Razón social</th>
                        <th>CI/RUC</th>
                        <th>Teléfonos</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of tbl.data">
                        <td>{{ c.id }}</td>
                        <td>{{ c.razonsocial }}</td>
                        <td>{{ c.ci | number }}
                            <span *ngIf="c.ci!==null && c.dvruc!=null">-</span>
                            {{c.dvruc}}
                        </td>
                        <td>
                            {{ c.telefono1 }}
                            <nz-divider nzType="vertical" *ngIf="c.telefono2"></nz-divider>
                            {{c.telefono2}}
                        </td>
                        <td>{{ c.email }}</td>
                        <td>
                            <a [routerLink]="'/clientes/'+c.id">Editar</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="¿Desea eliminr el Cobrador?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar"
                            (nzOnConfirm)="eliminar(c.id)">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>