<div nz-row [nzGutter]="[8,8]">
    <div nz-col nzSpan="24">
        <div nz-row>
            <div nz-col nzFlex="auto">
                <div nz-row [nzGutter]="[8, 8]">
                    <div nz-col>
                        <button nz-button nzType="primary" routerLink="nuevo">
                            <i nz-icon nzType="plus"></i>
                            Nuevo
                        </button>
                    </div>
                    <div nz-col>
                        <button nz-button nzType="default" (click)="cargarDatos()">
                            <i nz-icon nzType="reload" nzTheme="outline"></i>
                            Recargar
                        </button>
                    </div>
                </div>
            </div>
            <div nz-col>
                <nz-input-group [nzPrefix]="prefixSearch">
                    <input nz-input [(ngModel)]="textoBusqueda" (ngModelChange)="buscar()">
                </nz-input-group>
                <ng-template #prefixSearch>
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                </ng-template>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-table 
            #tbl
            [nzData]="lstDomicilios"
            nzSize="small"
            [nzFrontPagination]="false"
            [nzPageIndex]="pageIndex"
            [nzPageSize]="pageSize"
            [nzTotal]="totalRegisters"
            [nzLoading]="tableLoading"
            nzShowPagination
            nzShowSizeChanger
            (nzQueryParams)="onTableQueryParamsChange($event)">
            <thead>
                <tr>
                    <th nzWidth="60px"></th>
                    <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'descend'">Código</th>
                    <th *ngIf="mostrarTitular" [nzColumnKey]="'cliente'" [nzSortFn]="true">Titular</th>
                    <th [nzColumnKey]="'direccion'" [nzSortFn]="true">Dirección</th>
                    <th [nzColumnKey]="'barrio'" [nzSortFn]="true">Barrio</th>
                    <th [nzColumnKey]="'tipo'" [nzSortFn]="true">Tipo</th>
                    <th [nzColumnKey]="'nromedidor'" [nzSortFn]="true">ANDE</th>
                    <th [nzColumnKey]="'principal'" [nzSortFn]="true">Nivel</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let d of tbl.data">
                    <tr>
                        <td [nzExpand]="expandSet.has(d.id ?? -1)" (nzExpandChange)="onExpandChange(d.id ?? -1, $event)"></td>
                        <td>{{ d.id }}</td>
                        <td *ngIf="mostrarTitular">{{ d.cliente }}</td>
                        <td>{{ d.direccion }}</td>
                        <td>{{ d.barrio }}</td>
                        <td>
                            <span *ngIf="d.tipo === 'PRO'">Propio</span>
                            <span *ngIf="d.tipo === 'ALQ'">Alquiler</span>
                            <span *ngIf="d.tipo === 'PRE'">Préstamo</span>               
                        <td>
                            <span *ngIf="d.nromedidor">{{ d.nromedidor }}</span>
                            <span *ngIf="!d.nromedidor" nz-typography nzType="secondary">(Ninguno)</span>
                        </td>
                        <td>
                            <nz-tag *ngIf="d.principal" nzColor="green">
                                Principal
                            </nz-tag>
                            <nz-tag *ngIf="!d.principal" nzColor="default">
                                <span nz-typography nzType="secondary">Secundario</span>
                            </nz-tag>
                        <td>
                            <nz-space>
                                <button *nzSpaceItem nz-button nz-tooltip nzType="primary" [routerLink]="[d.id]" nzTooltipTitle="Editar">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </button>
                                <button *nzSpaceItem nz-button nz-tooltip nzType="primary" nzTooltipTitle="Eliminar" nzOkText="Eliminar" 
                                (click)="confirmarEliminacion(d)" nzDanger>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </button>
                            </nz-space>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(d.id ?? -1)">
                        <nz-descriptions>
                            <nz-descriptions-item [nzTitle]="distritoTitle">
                                <ng-template #distritoTitle>
                                    <strong>Distrito</strong>
                                </ng-template>
                                {{ d.distrito }}
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="departamentoTitle">
                                <ng-template #departamentoTitle>
                                    <strong>Departamento</strong>
                                </ng-template>
                                {{ d.departamento }}
                            </nz-descriptions-item>
                            <nz-descriptions-item [nzTitle]="ubicacionTitle">
                                <ng-template #ubicacionTitle>
                                    <strong>Ubicación</strong>
                                </ng-template>
                                <a
                                    *ngIf="d.latitud != null && d.longitud != null"
                                    (click)="mostrarModalUbicacion([d.latitud, d.longitud])"
                                    nz-tooltip
                                    nzTooltipTitle="Ver ubicación">
                                    {{ [d.latitud, d.longitud] | openLocationCode}}
                                </a>
                                <span *ngIf="d.latitud == null || d.longitud == null" nz-typography nzType="secondary">
                                    (sin ubicación)
                                </span>
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal
    [nzTitle]="'Ubicación'"
    [nzWidth]="800"
    [nzContent]="ubicacionTpl"
    [nzFooter]="footerUbicacionTpl"
    [(nzVisible)]="modalUbicacionVisible"
    (nzOnCancel)="cerrarModalUbicacion()"
    [nzOkDisabled]="true"
    nzCentered>
    <ng-template #ubicacionTpl>
        <app-ubicacion [ubicacion]="ubicacionActual" [soloLectura]="true"></app-ubicacion>
    </ng-template>
    <ng-template #footerUbicacionTpl>
        <button nz-button nzType="default" (click)="cerrarModalUbicacion()">
            Cerrar
        </button>
    </ng-template>
</nz-modal>
