<app-workspace-layout [isForm]="true">

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/app/clientes">Clientes</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idcliente | titlecase}}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-spin [nzSpinning]="formLoading">
        <form [formGroup]="form" nz-form>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES"
                    nzRequired>
                    Código
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Ingrese un código.">
                    <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZE">
                        <nz-input-group
                            style="width: 100%;"
                            [nzAddOnAfter]="btnConsutarId"
                            nzSearch>
                            <nz-input-number
                                [nzMin]="0"
                                [nzStep]="1"
                                formControlName="id"
                                style="width: 100%;">
                            </nz-input-number>
                        </nz-input-group>
                    </div>
                    
                </nz-form-control>
                <ng-template #btnConsutarId>
                    <button nz-button nz-tooltip nzTooltipTitle="Generar código"
                        [nzLoading]="lastIdLoading" nzType="primary" nzSearch
                        (click)="calculteID()">
                        <i nz-icon nzType="sync" nzTheme="outline"></i>
                    </button>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES"
                    nzRequired>
                    Tipo
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Seleccione el tipo de cliente">
                    <nz-select
                        nz-tooltip
                        nzTooltipTitle="Tipo de cliente: Requerimiento de Tributación."
                        formControlName="idtipocliente"
                        nzAllowClear
                        nzPlaceHolder="Seleccionar..."
                        [nzLoading]="loadingTiposClientes">
                        <nz-option
                            *ngFor="let tipo of lstTiposClientes"
                            [nzLabel]="tipo.descripcion"
                            [nzValue]="tipo.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    Nombres
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Min. 2 carácteres. Máx. 80 carácteres.">
                    <input nz-input formControlName="nombres" (focusout)="cargarRazonSocial()">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    Apellidos
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Min. 2 carácteres. Máx. 80 carácteres.">
                    <input nz-input formControlName="apellidos" (focusout)="cargarRazonSocial()">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES"
                    nzRequired>
                    Razón social
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Ingrese una razón social. Máx. 160 carácteres.">
                    <input nz-input formControlName="razonsocial">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    CI/RUC
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Máx. 15 carácteres.">
                    <nz-input-group>
                        <input nz-input formControlName="ci" style="width: 70%;"
                            nzErrorTip="Máx. 15 carácteres." (focusout)="verificarCi()">
                        <nz-select nzAllowClear formControlName="dvruc" style="width: 30%;"
                            nzPlaceHolder="DV">
                            <nz-option *ngFor="let dv of [0,1,2,3,4,5,6,7,8,9]" [nzLabel]="dv"
                                [nzValue]="dv"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    Tel. Principal
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Min. 4 carácteres. Máx. 20 carácteres.">
                    <div nz-row>
                        <div nz-col [appNzColResponsiveSizes]="HALF_CONTROL_SIZE">
                            <input nz-input formControlName="telefono1">
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    Tel. Secundario
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Min. 4 carácteres. Máx. 20 carácteres.">
                    <div nz-col nzSpan="24" [nzXl]="12">
                        <input nz-input formControlName="telefono2">
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES">
                    Email
                </nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Ingrese en un formato correcto. Máx. 120 carácteres.">
                    <input nz-input formControlName="email">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label
                    [appNzColResponsiveSizes]="LABEL_SIZES"
                    nzRequired>
                    Cobrador
                </nz-form-label>
                <nz-form-control
                    [appNzColResponsiveSizes]="CONTROL_SIZES"
                    nzErrorTip="Seleccione un cobrador.">
                    <nz-select
                        nzPlaceHolder="Seleccionar..."
                        nzAllowClear
                        nzShowSearch
                        formControlName="idcobrador">
                        <nz-option *ngFor="let co of lstCobradores" [nzValue]="co.id"
                            [nzLabel]="co.razonsocial ?? ''"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div nz-col [appNzColResponsiveSizes]="ACTION_SIZES" style="text-align: right;">
                <div nz-row [nzGutter]="[8,8]" nzJustify="end">
                    <div nz-col *ngIf="form.controls.ci.value">
                        <button
                            nz-button
                            (click)="consultarRuc()"
                            [nzLoading]="consultandoRuc">
                                <i nz-icon nzType="search"></i>
                                Consultar RUC
                        </button>
                    </div>
                    <div nz-col *ngIf="idcliente!=='nuevo'">
                        <button nz-button routerLink="pagos">
                            <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                            Pagos
                        </button>
                    </div>
                    <div nz-col *ngIf="idcliente!=='nuevo'">
                        <button nz-button routerLink="suscripciones">
                            <i nz-icon nzType="carry-out"></i>
                            Suscripciones
                        </button>
                    </div>
                    <div nz-col *ngIf="idcliente!=='nuevo'">
                        <button nz-button routerLink="domicilios">
                            <i nz-icon nzType="home"></i>
                            Domicilios
                        </button>
                    </div>
                    <div nz-col>
                        <button
                            nz-button
                            nzType="primary"
                            (click)="guardar()"
                            [nzLoading]="guardarLoading">
                                <i nz-icon nzType="save"></i>
                                {{ idcliente === 'nuevo' ? 'Registrar' : 'Editar' }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </nz-spin>

</app-workspace-layout>

<nz-modal
    nzTitle="Consulta de RUC - SIFEN"
    [(nzVisible)]="modalConsultaRucVisible"
    (nzOnCancel)="cerrarModalConsultaRuc()"
    (nzAfterClose)="consultaRuc == undefined">

    <ng-container *nzModalContent>
        <app-detalle-ruc [consultaRuc]="consultaRuc"></app-detalle-ruc>
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button (click)="cerrarModalConsultaRuc()">
            Cerrar
        </button>
    </ng-container>
</nz-modal>