$tamanioLetra: 10px;
$borderSyle: 1px solid black;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $tamanioLetra;
}

.tabla-reporte{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.tabla-reporte th, td {
    padding-left: 3px;
    padding-right: 3px;
    page-break-after: auto;
}

.tabla-reporte th:first-of-type{
    border-left: $borderSyle;
}

.tabla-reporte th:last-of-type{
    border-right: $borderSyle;
}

.tabla-reporte td:first-of-type{
    border-left: $borderSyle;
}

.tabla-reporte td:last-of-type{
    border-right: $borderSyle;
}

.tabla-reporte thead tr:last-of-type th {
    border-bottom: $borderSyle;
}

.tabla-reporte thead tr:first-of-type th {
    border-top: $borderSyle;
}

.tabla-reporte tfoot tr:first-of-type td {
    border-top: $borderSyle;
}

.tabla-reporte tfoot tr:last-of-type td {
    border-bottom: $borderSyle;
}
