.workspace {
    display: flex;
    flex-direction: column;
}

.workspace-spacing {
    gap: 8px;
    padding: 8px 24px 24px 24px;
}

.workspace-header{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-content: center;
}

.breadcrumb{
    flex-grow: 1;
    align-content: center;
}

.workspace-content-padding{
    padding: 20px;
}

.workspace-content-background{
    background-color: white;
}

@media only screen and (max-width: 576px){
    .workspace-content-padding{
        padding: 10px;        
    }

    .workspace-spacing {
        gap: 5px;
        padding: 4px 8px 0px 8px;        
    }
}