<app-workspace-layout [isBackgroundVisible]="vista == 'registros'" [isContentPadded]="vista == 'registros'">

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Suscripciones
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div header-extra>
        <nz-button-group>
            <button nz-button [nzType]="vista !== 'estadisticas'?'primary':'default'" nzSize="small"
                (click)="cambiarVista('registros')">
                <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                Registros
            </button>
            <button nz-button [nzType]="vista === 'estadisticas'?'primary':'default'" nzSize="small"
                (click)="cambiarVista('estadisticas')">
                <i nz-icon nzType="line-chart" nzTheme="outline"></i>
                Estadisticas
            </button>
        </nz-button-group>
    </div>

    <div nz-row [nzGutter]="[8, 8]">
        <div nz-col nzSpan="24">
            <div nz-row [class.toolbar]="vista == 'estadisticas'">
                <div nz-col nzFlex="auto">
                    <div nz-row [nzGutter]="[8, 8]">
                        <div nz-col>
                            <button nz-button nzType="primary" routerLink="nueva">
                                <i nz-icon nzType="plus"></i>
                                Nueva
                            </button>
                        </div>
                        <div nz-col *ngIf="sesionSrv.permisos.has(226)">
                            <button nz-button nzType="default" (click)="mostrarModalGenerarCuotas()">
                                <i nz-icon nzType="sync"></i>
                                Generar cuotas
                            </button>
                        </div>
                        <div nz-col>
                            <button nz-button nzType="default" (click)="recargar()">
                                <i nz-icon nzType="reload"></i>
                                Recargar
                            </button>
                        </div>
                        <div nz-col *ngIf="vista === 'registros'">
                            <button nz-button nzType="default" [nzLoading]="loadingDatosReporte"
                                (click)="printWithSrv()">
                                <i nz-icon nzType="printer"></i>
                                Imprimir
                            </button>
                        </div>
                    </div>
                </div>
                <div nz-col>
                    <div nz-row [nzGutter]="[8, 8]">
                        <div nz-col>
                            <nz-input-group [nzPrefixIcon]="'search'" [nzSuffix]="inputClearTpl">
                                <input nz-input placeholder="Buscar..." [(ngModel)]="textoBusqueda">
                                <ng-template #inputClearTpl>
                                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill"
                                        nzType="close-circle" *ngIf="textoBusqueda"
                                        (click)="textoBusqueda = ''"></i>
                                </ng-template>
                            </nz-input-group>
                        </div>
                        <div nz-col>
                            <nz-badge [nzCount]="cantFiltrosAplicados">
                                <button nz-tooltip nz-button nzType="primary"
                                    nzTooltipTitle="Ver filtros"
                                    (click)="drawerFiltrosVisible = !drawerFiltrosVisible">
                                    <i nz-icon nzType="filter" nzTheme="outline"></i>
                                </button>
                            </nz-badge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="24" *ngIf="vista==='registros'">
            <app-tabla-suscripciones [mostrarCliente]="true" [textoBusqueda]="textoBusqueda"
                [paramsFiltros]="paramsFiltro" (tableLoadingChange)="dataLoading = $event">
            </app-tabla-suscripciones>
        </div>
        <div nz-col nzSpan="24" *ngIf="vista==='estadisticas'">
            <app-contenido-estadisticas-suscripciones [paramsFiltros]="paramsFiltro"
                [textoBusqueda]="textoBusqueda">
            </app-contenido-estadisticas-suscripciones>
        </div>
    </div>

</app-workspace-layout>

<nz-drawer [nzContent]="contenidofiltros" [nzVisible]="drawerFiltrosVisible" (nzOnClose)="drawerFiltrosVisible = false"
    nzTitle="Filtros" nzClosable>
    <ng-template #contenidofiltros>
        <app-form-filtro-suscripciones (paramsFiltrosChange)="paramsFiltro = $event"
            (cantFiltrosChange)="cantFiltrosAplicados = $event"></app-form-filtro-suscripciones>
    </ng-template>
</nz-drawer>

<nz-modal
    nzTitle="Generar cuotas"
    [(nzVisible)]="modalGenerarCuotasVisisble"
    (nzOnOk)="generarCuotas()"
    (nzOnCancel)="cerrarModalGenerarCuotas()">
    <ng-container *nzModalContent="">
        <form [formGroup]="formGenerarCuota">
            <nz-form-item>
                <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Mes/Año</nz-form-label>
                <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Seleccione un mes/año">
                    <nz-date-picker formControlName="mesAnio" nzMode="month" nzFormat="MMM/yyyy" style="width: 100%;"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<iframe #iframe style="display:none; visibility: hidden;"></iframe>