<app-workspace-layout>

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/app', 'dashboard']"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            Formatos facturas
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div nz-row [nzGutter]="[8, 8]">
        <div nz-col nzSpan="24">
            <div nz-row [nzGutter]="[8,8]">
                <div nz-col>
                    <button nz-button nzType="primary" routerLink="nuevo">
                        <i nz-icon nzType="plus"></i>
                        Nuevo
                    </button>
                </div>
                <div nz-col>
                    <button nz-button nzType="default" (click)="cargarDatos()">
                        <i nz-icon nzType="reload" nzTheme="outline"></i>
                        Recargar
                    </button>
                </div>
            </div>
        </div>

        <div nz-col nzSpan="24">
            <nz-table
                #tabla
                nzSize="small"
                [nzData]="lstFormatos"
                [nzLoading]="dataLoading">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Plantilla</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let formato of tabla.data">
                        <td>{{ formato.id }}</td>
                        <td>{{ formato.descripcion }}</td>
                        <td>
                            <span *ngIf="formato.tipoFactura === 'PRE'">Preimpreso</span>
                        </td>
                        <td>{{ formato.plantilla }}</td>
                        <td>
                            <div nz-row [nzGutter]="[8, 8]">
                                <div nz-col>
                                    <button nz-button nzType="primary" [routerLink]="[formato.id]">
                                        <i nz-icon nzType="edit"></i>
                                    </button>
                                </div>
                                <div nz-col>
                                    <button nz-button nzType="primary" nzDanger (click)="confirmarEliminacion(formato)">
                                        <i nz-icon nzType="delete"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>

</app-workspace-layout>