<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Ventas
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row>
                <div nz-col nzFlex="auto">
                    <button nz-button nzType="primary" routerLink="nueva">
                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                        Nueva
                    </button>
                </div>
                <div nz-col>
                    <nz-space>
                        <nz-input-group *nzSpaceItem [nzSuffixIcon]="'search'">
                            <input nz-input placeholder="Buscar..." [(ngModel)]="textoBusqueda"
                                (ngModelChange)="buscar()">
                        </nz-input-group>
                        <nz-badge *nzSpaceItem [nzCount]="cantFiltrosAplicados">
                            <button nz-tooltip nz-button nzType="primary" nzTooltipTitle="Ver filtros"
                                (click)="drawerFiltrosVisible = !drawerFiltrosVisible">
                                <i nz-icon nzType="filter" nzTheme="outline"></i>
                            </button>
                        </nz-badge>
                    </nz-space>
                </div>
            </div>

            <nz-drawer nzTitle="Filtros" [nzVisible]="drawerFiltrosVisible" [nzClosable]="true"
                (nzOnClose)="drawerFiltrosVisible = !drawerFiltrosVisible">
                <ng-container *nzDrawerContent>
                    <nz-tabset>
                        <nz-tab [nzTitle]="tituloTabFiltroFactura">
                            <nz-space nzDirection="vertical">
                                <ng-template #tituloTabFiltroFactura>
                                    Factura 
                                    <nz-tag [nzColor]="'processing'">
                                        {{ cantFiltrosFacturas }}
                                    </nz-tag>
                                </ng-template>
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de fechas"
                                            (click)="limpiarFiltroFechas()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Fecha
                                    </h3>
                                    <nz-date-picker [(ngModel)]="fechaInicioFiltro" (ngModelChange)="filtrar()"
                                        [nzDisabledDate]="disabledStartDate" nzPlaceHolder="Fecha desde"
                                        style="width: 100%;" nzFormat="dd/MM/yyyy">
                                    </nz-date-picker>
                                    <nz-date-picker [(ngModel)]="fechaFinFiltro" (ngModelChange)="filtrar()"
                                        [nzDisabledDate]="disabledEndDate" nzPlaceHolder="Fecha hasta"
                                        style="width: 100%; margin-top: 10px;" nzFormat="dd/MM/yyyy">
                                    </nz-date-picker>
                                </div>
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de pagos"
                                            (click)="limpiarFiltroPagos()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Pago</h3>
                                    <label nz-checkbox [(ngModel)]="filtroPagado"
                                        (ngModelChange)="filtrar()">Pagado</label><br>
                                    <label nz-checkbox [(ngModel)]="filtroPendiente"
                                        (ngModelChange)="filtrar()">Pendiente</label><br>

                                </div>
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de anulación"
                                            (click)="limpiarFiltrosAnulacion()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Anulación</h3>
                                    <label nz-checkbox [(ngModel)]="filtroAnulado"
                                        (ngModelChange)="filtrar()">Anulado</label><br>
                                    <label nz-checkbox [(ngModel)]="filtroNoAnulado" (ngModelChange)="filtrar()">No
                                        Anulado</label>
                                </div>
                            </nz-space>
                        </nz-tab>
                        <nz-tab [nzTitle]="tituloTabFiltrosCobros">
                            <ng-template #tituloTabFiltrosCobros>
                                Cobro
                                <nz-tag nzColor="processing">
                                    {{ cantFiltrosCobros }}
                                </nz-tag>
                            </ng-template>
                            <nz-space nzDirection="vertical" style="width: 100%;">
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de fechas"
                                            (click)="limpiarFiltroFechas()" (click)="limpiarFiltrosFechasCobro()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Fecha
                                    </h3>
                                    <nz-date-picker [(ngModel)]="fechaInicioCobroFiltro" (ngModelChange)="filtrar()"
                                        [nzDisabledDate]="disabledStartDateCobro" nzPlaceHolder="Fecha desde"
                                        style="width: 100%;" nzFormat="dd/MM/yyyy">
                                    </nz-date-picker>
                                    <nz-date-picker [(ngModel)]="fechaFinCobroFiltro" (ngModelChange)="filtrar()"
                                        [nzDisabledDate]="disabledEndDateCobro" nzPlaceHolder="Fecha hasta"
                                        style="width: 100%; margin-top: 10px;" nzFormat="dd/MM/yyyy"></nz-date-picker>
                                </div>
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de usuario"
                                            (click)="limpiarFiltroUsuarioCobro()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Registrado por</h3>
                                    <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear
                                        [(ngModel)]="idUsuarioCobroFiltro" (ngModelChange)="filtrar()" style="width: 100%;">
                                        <nz-option *ngFor="let usu of lstUsuariosFiltro"
                                            [nzLabel]="usu.nombres+' '+usu.apellidos" [nzValue]="usu.id"></nz-option>
                                    </nz-select>
                                </div>
                                <div *nzSpaceItem>
                                    <h3><a nz-tooltip nzTooltipTitle="Limpiar filtro de cobrador"
                                            (click)="limpiarFiltroCobrador()"><i nz-icon nzType="clear"
                                                nzTheme="outline"></i></a> Cobrador</h3>
                                    <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear
                                        [(ngModel)]="idCobradorFiltro" (ngModelChange)="filtrar()" style="width: 100%;">
                                        <nz-option *ngFor="let cob of lstCobradoresFiltro" [nzLabel]="cob.razonsocial"
                                            [nzValue]="cob.id"></nz-option>
                                    </nz-select>
                                </div>
                            </nz-space>
                        </nz-tab>
                    </nz-tabset>
                </ng-container>
            </nz-drawer>

            <ng-template #pietabla>
                <nz-space>
                    <span *nzSpaceItem><strong>Total:</strong></span>
                    <span *nzSpaceItem>{{ totalRegisters | number }}</span>
                </nz-space>
            </ng-template>

            <nz-table #tablaVentas [nzData]="lstFacturasVenta" [nzFrontPagination]="true" [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex" [nzTotal]="totalRegisters" [nzLoading]="loadingVentas" nzShowPagination
                nzShowSizeChanger nzSize="small" style="padding-top: 10px;" [nzFooter]="pietabla"
                (nzQueryParams)="onTableQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                        <th [nzColumnKey]="'cliente'" [nzSortFn]="true">Cliente</th>
                        <th [nzColumnKey]="'fecha_venta'" [nzSortFn]="true">Fecha</th>
                        <th [nzColumnKey]="'prefijofactura, nrofactura'" [nzSortFn]="true">Nro. Factura</th>
                        <th [nzColumnKey]="'total'" [nzSortFn]="true">Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fv of tablaVentas.data">
                        <tr>
                            <td [nzExpand]="expandSet.has(fv.id ?? 0)"
                                (nzExpandChange)="onExpandChange(fv.id ?? 0, $event)"></td>
                            <td>{{ fv.id }}</td>
                            <td>{{ fv.cliente }}</td>
                            <td>{{ fv.fechafactura | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ fv.prefijofactura }}-{{ fv.nrofactura?.toString()?.padStart(7, '0') }}</td>
                            <td>Gs.{{ fv.total | number }}</td>
                            <td>
                                <nz-tag *ngIf="fv.anulado" nzColor="red">Anulado</nz-tag>
                                <nz-tag *ngIf="!fv.anulado && fv.pagado" [nzColor]="'green'">Pagado</nz-tag>
                                <nz-tag *ngIf="fv.anulado && fv.pagado" nz-tooltip nzTooltipTitle="Pagado"
                                    [nzColor]="'default'">PA</nz-tag>
                                <nz-tag *ngIf="!fv.anulado && !fv.pagado" [nzColor]="'orange'">Pendiente</nz-tag>
                                <nz-tag *ngIf="fv.anulado && !fv.pagado" nz-tooltip nzTooltipTitle="Pendiente"
                                    [nzColor]="'default'">PE</nz-tag>

                            </td>
                            <td nzAlign="center">
                                <nz-space>
                                    <button *nzSpaceItem nz-button nz-tooltip nz-popconfirm nzType="primary"
                                        [nzTooltipTitle]="fv.anulado?'Revertir anulacion':'Anular factura'"
                                        [nzPopconfirmTitle]="fv.anulado?'¿Desea revertir la anulación?':'¿Desea anular la factura?'"
                                        [nzOkText]="fv.anulado?'Revertir':'Anular'"
                                        (nzOnConfirm)="procesarAnulacion(fv)" nzGhost [nzDanger]="!fv.anulado">
                                        <i nz-icon nzTheme="outline" [nzType]="fv.anulado?'undo':'minus-circle'"></i>
                                    </button>
                                    <button *nzSpaceItem nz-tooltip nz-button nz-popconfirm nzType="primary"
                                        nzTooltipTitle="Eliminar factura"
                                        nzPopconfirmTitle="¿Desea eliminar la factura?" nzOkText="Eliminar"
                                        (nzOnConfirm)="eliminarVenta(fv.id)" nzDanger>
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </button>
                                </nz-space>
                            </td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(fv.id ?? 0)">
                            <nz-collapse>
                                <nz-collapse-panel [nzHeader]="'Ítems ('+fv.detalles.length+')'">
                                    <nz-table #tablaDetalle [nzData]="fv.detalles" nzSize="small"
                                        nzShowPagination="false">
                                        <thead>
                                            <tr>
                                                <th>Ítem</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                <tbody>
                    <tr *ngFor="let dfv of tablaDetalle.data">
                        <td>{{ dfv.descripcion }}</td>
                        <td>Gs.{{ dfv.subtotal | number }}</td>
                    </tr>
                </tbody>
            </nz-table>
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="'Cobro'">
                <nz-space nzSize="large">
                    <span *nzSpaceItem><strong>Cobrador:</strong> {{ fv.cobrador }}</span>
                    <span *nzSpaceItem><strong>Fecha: </strong>{{ fv.fechacobro | date: 'dd/MM/yyyy' }}</span>
                    <span *nzSpaceItem><strong>Registrado por:</strong> {{ fv.nombresusuariocobro }} {{
                        fv.apellidosusuariocobro }}</span>
                </nz-space>
            </nz-collapse-panel>
            </nz-collapse>
            </tr>
            </ng-container>
            </tbody>
            </nz-table>
        </div>
    </div>
</div>