<nz-spin [nzSpinning]="formLoading">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzRequired [appNzColResponsiveSizes]="LABEL_SIZES">Código</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese un código.">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-input-group [nzAddOnAfter]="btnGenerarId" nzSearch>
                        <nz-input-number style="width: 100%;" [nzMin]="1" [nzStep]="1"
                            formControlName="id">
                        </nz-input-number>
                        <ng-template #btnGenerarId>
                            <button nz-button nzType="primary" [nzLoading]="lastidLoading"
                                (click)="generarId()">
                                <i nz-icon nzType="sync"></i>
                            </button>
                        </ng-template>
                    </nz-input-group>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>
                Tipo
            </nz-form-label>
            <nz-form-control
                [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Seleccione el tipo de documento">
                <nz-select
                    style="width: 100%;"
                    formControlName="tipodocumento"
                    nzPlaceHolder="Seleccionar"
                    nzAllowClear>
                    <nz-option [nzLabel]="'Factura'" [nzValue]="'FAC'"></nz-option>
                    <nz-option [nzLabel]="'Nota de Crédito'" [nzValue]="'NCR'"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="nrotimbrado && idtalonario != 'nuevo'">
            <nz-form-label nzRequired [appNzColResponsiveSizes]="LABEL_SIZES">Timbrado</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese el timbrado. Máx. 8 dígitos.">
                <nz-select
                    formControlName="nrotimbrado"
                    nzPlaceHolder="Seleccionar..."
                    nzAllowClear
                    style="width: 100%;">
                    <nz-option
                        *ngFor="let timbrado of lstTimbrados"
                        [nzValue]="timbrado.nrotimbrado"
                        [nzLabel]="timbrado.nrotimbrado"
                        nzCustomContent>
                            <span>{{ timbrado.nrotimbrado }}</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>
                                {{ timbrado.fechainiciovigencia | date: 'dd/MM/yy'}}
                            </span>
                            <span *ngIf="timbrado.fechavencimiento">al</span>
                            <span *ngIf="timbrado.fechavencimiento">
                                {{ timbrado.fechavencimiento| date: 'dd/MM/yy'}}
                            </span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>
                                <nz-tag *ngIf="timbrado.electronico" nzColor="purple">ELE</nz-tag>
                                <nz-tag *ngIf="!timbrado.electronico" nzColor="geekblue">PRE</nz-tag>
                            </span>
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label
                [appNzColResponsiveSizes]="LABEL_SIZES"
                nzRequired>
                Establecimiento
            </nz-form-label>
            <nz-form-control
                [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Seleccione el establecimiento">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-select
                        nzPlaceHolder="Seleccionar..."
                        formControlName="codEstablecimiento"
                        [nzDropdownMatchSelectWidth]="false"
                        nzAllowClear>
                        <nz-option
                            *ngFor="let estab of lstEstablecimientos"
                            [nzValue]="estab.id" [nzLabel]="estab.id | paddingZeros:3" nzCustomContent>
                            {{ estab.id | paddingZeros:3 }} - {{ estab.denominacion }} - {{ estab.direccion }} N° {{ estab.nrocasa }}
                        </nz-option>
                    </nz-select>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Punto Emisión</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Ingrese el códígo de punto de emision. Máx. 3 dígitos.">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-input-number nzPlaceHolder="Ej.: 001" [nzFormatter]="formatterNroPrefijo"
                        [nzParser]="parserNroPrefijo" [nzMin]="1" [nzMax]="999" [nzStep]="1"
                        style="width: 100%;" formControlName="codPuntoEmision">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired [appNzColResponsiveSizes]="LABEL_SIZES">Nro. Inicial</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Ingrese el número inicial. Máx. 7 dígitos.">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                        [nzFormatter]="formatterNroFactura" [nzParser]="parserNroFactura"
                        formControlName="nroInicial">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="!(form.controls.nrotimbrado.value | isTimbradoElectronico:lstTimbrados)">
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">Nro. Final</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Ingrese el número final. Máx. 7 dígitos y mayor al nro. inicial.">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="9999999" [nzStep]="1"
                        [nzFormatter]="formatterNroFactura" [nzParser]="parserNroFactura"
                        formControlName="nroFinal" nzPlaceHolder="Por defecto: 9999999">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES"> Ult. num. usado</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES"
                nzErrorTip="Debe estar entre el nro. inicial y el nro. final.">
                <div nz-col [appNzColResponsiveSizes]="SMALL_CONTROL_SIZES">
                    <nz-input-number style="width: 100%;" [nzMax]="9999999" [nzStep]="1"
                        formControlName="ultNroUsado" [nzFormatter]="formatterNroFactura"
                        [nzParser]="parserNroFactura">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!(form.controls.nrotimbrado.value | isTimbradoElectronico:lstTimbrados)">
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">
                Formato de impresión
            </nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES">
                <nz-select nzPlaceHolder="Seleccionar..." formControlName="idformato" nzAllowClear>
                    <nz-option
                        *ngFor="let formato of lstFormatos"
                        [nzValue]="formato.id"
                        [nzLabel]="formato.descripcion+' | Preimpreso | '+formato.plantilla">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <span nz-col [appNzColResponsiveSizes]="LABEL_SIZES"></span>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES">
                <label nz-checkbox formControlName="activo">Activo</label>
            </nz-form-control>
        </nz-form-item>

        <div nz-col [appNzColResponsiveSizes]="ACTION_SIZES" style="text-align: right;">
            <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                <i nz-icon nzType="save"></i>
                {{ idtalonario === 'nuevo' ? 'Registrar' : 'Editar'}}
            </button>
        </div>
    </form>
</nz-spin>
