<app-workspace-layout [isForm]="true">
    
    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/app/materiales">Materiales</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idmaterial | titlecase }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Código</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese un código.">
                <div nz-row>
                    <div nz-col [nzSm]="12" [nzXs]="24">
                        <nz-input-group nzSearch [nzAddOnAfter]="btnCargarCodigo">
                            <nz-input-number style="width: 100%;" formControlName="id"></nz-input-number>
                        </nz-input-group>
                    </div>
                </div>
                
                <ng-template #btnCargarCodigo>
                    <button
                        nz-button
                        nzType="primary"
                        nzSearch 
                        (click)="generarId()"
                        [nzLoading]="loadingLastId"
                        nz-tooltip
                        nzTooltipTitle="Generar código">
                        <i nz-icon nzType="sync" nzTheme="outline"></i>
                    </button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Descripción</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Ingrese una descripción. Máx. 80 carácteres.">
                <input nz-input formControlName="descripcion">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Tipo de material</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Seleccione un tipo de material.">
                <nz-select nzPlaceHolder="Seleccionar..." formControlName="idtipomaterial">
                    <nz-option
                        *ngFor="let tipomaterial of lstTiposMateriales"
                        [nzValue]="tipomaterial.id"
                        [nzLabel]="tipomaterial.descripcion">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES" nzRequired>Unidad de medida</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES" nzErrorTip="Seleccione una unidad de medida.">
                <nz-radio-group nzButtonStyle="solid" formControlName="unidadmedida" [nzDisabled]="form.controls.identificable.value">
                    <label nz-radio-button nzValue="UD">Unidades</label>
                    <label nz-radio-button nzValue="MT">Metros</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [appNzColResponsiveSizes]="LABEL_SIZES">Ult. precio compra</nz-form-label>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES">
                <nz-input-number
                    formControlName="ultimoprecio"
                    nz-tooltip
                    nzTooltipTitle="El precio de compra más reciente por unidad/metro."
                    [nzStep]="1"
                    [nzMin]="0"
                    style="width: 100%;">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div nz-col [appNzColResponsiveSizes]="LABEL_SIZES"></div>
            <nz-form-control [appNzColResponsiveSizes]="CONTROL_SIZES">
                <label nz-checkbox formControlName="identificable">Identificable</label>
                <i nz-icon nzType="info-circle" nzTheme="twotone"
                    nz-tooltip nzTooltipTitle="Establece si el material se identifica individualmente mediante números de serie.">
                </i>
            </nz-form-control>
        </nz-form-item>
        <div nz-col [appNzColResponsiveSizes]="ACTION_SIZES" style="text-align: right;">
            <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardando">
                <i nz-icon nzType="save" nzTheme="outline"></i>
                {{ idmaterial === 'nuevo' ? 'Registrar' : 'Editar' }}
            </button>
        </div>
    </form>

</app-workspace-layout>