<app-workspace-layout>

    <nz-breadcrumb breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/app/movimientosmateriales">Movimientos de materiales</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ idMovimientoMaterial | titlecase }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div nz-row [nzGutter]="[8,8]">
        <div nz-col nzSpan="14">
            <div class="module-content">
                <div nz-row [nzGutter]="[8,8]">
                    <div nz-col nzSpan="24">
                        <app-buscador-materiales
                            [disabled]="formCabecera.controls.tipoMovimiento.value == 'DE'"
                            (materialSelected)="tablaDetallesMovimientosComp.agregarDetalleMovimiento($event)">
                        </app-buscador-materiales>
                    </div>
                    <div nz-col nzSpan="24">
                        <app-tabla-detalles-movimientos [tipoMovimiento]="formCabecera.controls.tipoMovimiento.value"></app-tabla-detalles-movimientos>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="10">
            <div class="module-content">
                <form nz-form [formGroup]="formCabecera">                        
                    <nz-form-item>
                        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" nzRequired>
                            Tipo
                        </nz-form-label>
                        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                            nzErrorTip="Seleccione el tipo de movimiento.">
                            <nz-select
                                formControlName="tipoMovimiento"
                                nzPlaceHolder="Seleccionar..."
                                [nzCustomTemplate]="tipoMovimientoTemplate"
                                [nzAllowClear]="idMovimientoMaterial == 'nuevo' && formCabecera.controls.tipoMovimiento.value != 'DE'">
                                <nz-option [nzValue]="'SA'" [nzLabel]="'Salida'" *ngIf="opcionSAHabilitada()" nzCustomContent>
                                    <i nz-icon nzType="upload" nzTheme="outline"></i>
                                    Salida
                                </nz-option>
                                <nz-option [nzValue]="'EN'" [nzLabel]="'Entrada'" *ngIf="opcionENHabilitada()" nzCustomContent>
                                    <i nz-icon nzType="download" nzTheme="outline"></i>
                                    Entrada
                                </nz-option>
                                <nz-option [nzValue]="'AJ'" [nzLabel]="'Ajuste'" *ngIf="opcionAJHabilitada()" nzCustomContent>
                                    <i nz-icon nzType="control" nzTheme="outline"></i>
                                    Ajuste
                                </nz-option>
                                <nz-option [nzValue]="'DE'" [nzLabel]="'Devolución'" *ngIf="formCabecera.controls.tipoMovimiento.value == 'DE'" nzCustomContent>
                                    <i nz-icon nzType="import" nzTheme="outline"></i>
                                    Devolución
                                </nz-option>
                            </nz-select>
                            <ng-template #tipoMovimientoTemplate let-selected>
                                <i *ngIf="selected.nzValue == 'SA'" nz-icon nzType="upload" nzTheme="outline"></i>
                                <i *ngIf="selected.nzValue == 'EN'" nz-icon nzType="download" nzTheme="outline"></i>
                                <i *ngIf="selected.nzValue == 'AJ'" nz-icon nzType="control" nzTheme="outline"></i>
                                <i *ngIf="selected.nzValue == 'DE'" nz-icon nzType="import" nzTheme="outline"></i>
                                <span *ngIf="selected.nzValue == 'SA'"> Salida</span>
                                <span *ngIf="selected.nzValue == 'EN'"> Entrada</span>
                                <span *ngIf="selected.nzValue == 'AJ'"> Ajuste</span>
                                <span *ngIf="selected.nzValue == 'DE'"> Devolución</span>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" nzRequired>
                            <span>Fecha</span>
                        </nz-form-label>
                        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                            nzErrorTip="Ingrese la fecha.">
                            <nz-date-picker
                                style="width: 100%;"
                                nzFormat="dd/MM/yyyy"
                                formControlName="fecha"
                                [nzDisabledDate]="disabledDate">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item *ngIf="setMostrarUsuarioTipo.has(formCabecera.controls.tipoMovimiento.value ?? '')">
                        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" 
                            [nzRequired]="formCabecera.controls.tipoMovimiento.value == 'SA'">
                            <span *ngIf="formCabecera.controls.tipoMovimiento.value == null">Usuario</span>
                            <span *ngIf="formCabecera.controls.tipoMovimiento.value == 'SA'">Entregado a</span>
                            <span *ngIf="formCabecera.controls.tipoMovimiento.value == 'DE'">Entregado por</span>
                            <span *ngIf="formCabecera.controls.tipoMovimiento.value == 'EN'">Proveedor</span>
                        </nz-form-label>
                        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                            nzErrorTip="Seleccione el responsable.">
                            <nz-select
                                nzPlaceHolder="Seleccionar..."
                                formControlName="idUsuarioEntrega"
                                nzShowSearch
                                nzAllowClear>
                                <nz-option
                                    *ngFor="let usuario of lstUsuarios"
                                    [nzValue]="usuario.id"
                                    [nzLabel]="usuario.razonsocial ?? ''">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6">
                            Observación
                        </nz-form-label>
                        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17"
                            nzErrorTip="Máx. 150 carácteres.">
                            <input nz-input formControlName="observacion">
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-row [nzGutter]="[8, 8]" nzJustify="end">
                        <div nz-col>
                            <button
                                *ngIf="idMovimientoMaterial != 'nuevo'"
                                nz-button nzType="default" 
                                [nzLoading]="loadingImpresion" 
                                (click)="imprimir()">
                                <i nz-icon nzType="printer"></i>
                                Imprimir
                            </button>
                        </div>
                        <div nz-col>
                            <button nz-button nzType="default" (click)="limpiar()">
                                <i *ngIf="idMovimientoMaterial === 'nuevo'" nz-icon nzType="clear" nzTheme="outline"></i>
                                <i *ngIf="idMovimientoMaterial !== 'nuevo'" nz-icon nzType="plus" nzTheme="outline"></i>
                                {{ idMovimientoMaterial === 'nuevo' ? 'Limpiar' : 'Nuevo' }}
                            </button>
                        </div>
                        <div nz-col>
                            <button
                                nz-button
                                nzType="primary"
                                style="width: 100%;"
                                (click)="guardar()"
                                [nzLoading]="guardandoMovimiento">
                                <i nz-icon nzType="save"></i>
                                {{ idMovimientoMaterial == 'nuevo' ? 'Registrar' : 'Editar' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-workspace-layout>
<iframe #iframe style="display: none; visibility: hidden;"></iframe>