<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Grupos
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstGrupos" [nzFrontPagination]="false" style="margin-top: 10px;"
                [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalRegisters"
                (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="loadingData" nzShowPagination
                nzShowSizeChanger>
                <thead>
                    <tr>
                        <th nzColumnKey="id" [nzSortOrder]="'ascend'" [nzSortFn]="true">Código</th>
                        <th nzColumnKey="descripcion" [nzSortFn]="true">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let grupo of tbl.data">
                        <td>{{ grupo.id }}</td>
                        <td>{{ grupo.descripcion }}</td>
                        <td>
                            <button nz-button nzType="primary" [routerLink]="grupo.id+''" nz-tooltip
                                nzTooltipTitle="Editar">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nzType="primary" nzDanger nz-popconfirm
                                nzPopconfirmTitle="¿Desea eliminr el Grupo?" nzPopconfirmPlacement="bottom"
                                nzOkText="Eliminar" (nzOnConfirm)="eliminar(grupo.id)" nz-tooltip
                                nzTooltipTitle="Eliminar...">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>