<nz-spin [nzSpinning]="formLoading">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Código</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un código.">
                <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="id" style="width: 50%;"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item [style]="!mostrarCliente?'display: none':''">
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Cliente</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un cliente.">
                <nz-select nzAllowClear nzShowSearch formControlName="idcliente" (ngModelChange)="onChangeCliente($event)">
                    <nz-option *ngFor="let cli of lstClientes" [nzLabel]="cli.razonsocial+' ('+cli.id+')'" [nzValue]="cli.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Domicilio</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un domicilio.">
                <nz-select formControlName="iddomicilio" nzShowSearch nzAllowClear [nzDropdownRender]="addDomicilio">
                    <nz-option *ngFor="let dom of lstDomicilios" [nzValue]="dom.id"
                        [nzLabel]="dom.direccion+' - '+dom.barrio+' ('+dom.id+')'"></nz-option>
                </nz-select>
                <ng-template #addDomicilio>
                    <nz-divider style="margin: 4px 0;"></nz-divider>
                    <a *ngIf="idcliente" [routerLink]="'/app/clientes/'+idcliente+'/domicilios/nuevo'"
                        [queryParams]="{navigate: navigateOnSaveDest, idsuscripcion: idsuscripcion}" style="margin-left: 12px;">
                        <i nz-icon nzType="plus"></i>
                        Nuevo domicilio...
                    </a>
                    <span *ngIf="!idcliente" style="color: gray; margin-left: 12px;">(Seleccione un cliente)</span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Servicio</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un servicio.">
                <nz-select formControlName="idservicio" (ngModelChange)="onChangeServicio($event)" nzShowSearch
                    nzAllowClear>
                    <nz-option *ngFor="let srv of lstServicios" [nzLabel]="srv.descripcion+' ('+srv.id+')'"
                        [nzValue]="srv.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Monto</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un monto.">
                <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="monto" style="width: 50%;"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Fecha de suscripción</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese una fecha.">
                <nz-date-picker nzFormat="dd/MMMM/yyyy" formControlName="fechasuscripcion" style="width: 50%;">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>
                Estado
            </nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un estado.">
                <nz-select formControlName="estado" nzAllowClear nzShowSearch style="width: 50%;"
                    (ngModelChange)="seleccionEstado($event)">
                    <nz-option [nzLabel]="'Conectado'" [nzValue]="'C'"></nz-option>
                    <nz-option [nzLabel]="'Reconectado'" [nzValue]="'R'"></nz-option>
                    <nz-option [nzLabel]="'Desconectado'" [nzValue]="'D'"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>
                Fecha de {{ labelFechaCambio }}
            </nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese una fecha.">
                <nz-date-picker nzFormat="dd/MMMM/yyyy" formControlName="fechacambioestado" style="width: 50%;">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
            <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                <i nz-icon nzType="save"></i>
                Guardar
            </button>
        </div>
    </form>
</nz-spin>