<nz-spin [nzSpinning]="formLoading">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Código</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un código.">
                <div nz-row>
                    <div nz-col nzSpan="24" [nzXl]="12">
                        <nz-input-group nzSearch [nzAddOnAfter]="idIconButton" style="width: 100%;" nzSearch>
                            <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="id"
                                style="width: 100%;"></nz-input-number>
                        </nz-input-group>
                        <ng-template #idIconButton>
                            <button nz-button nz-tooltip nzTooltipTitle="Generar código" nzType="primary" nzSearch
                                (click)="cargarUltimoId()" [nzLoading]="idLoading">
                                <i nz-icon nzType="sync" nzTheme="outline"></i>
                            </button>
                        </ng-template>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="mostrarCliente">
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Cliente</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un cliente.">
                <nz-select
                    nzPlaceHolder="Seleccionar..."
                    nzAllowClear
                    nzShowSearch
                    nzServerSearch
                    formControlName="idcliente"
                    (nzScrollToBottom)="cargarMasClientes()"
                    [nzDropdownRender]="loadingClientes"
                    (nzOnSearch)="buscarClientes($event)">
                    <nz-option
                        *ngFor="let cli of lstClientes"
                        [nzLabel]="cli.razonsocial"
                        [nzValue]="cli.id">
                    </nz-option>
                </nz-select>
                <ng-template #loadingClientes>
                    <nz-spin *ngIf="clienteLoading"></nz-spin>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Domicilio</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un domicilio.">
                <nz-select formControlName="iddomicilio" nzShowSearch nzAllowClear [nzDropdownRender]="addDomicilio">
                    <nz-option *ngFor="let dom of lstDomicilios" [nzValue]="dom.id"
                        [nzLabel]="dom.direccion+' - '+dom.barrio+' ('+dom.id+')'"></nz-option>
                </nz-select>
                <ng-template #addDomicilio>
                    <nz-divider style="margin: 4px 0;"></nz-divider>
                    <a *ngIf="idcliente" [routerLink]="'/app/clientes/'+idcliente+'/domicilios/nuevo'"
                        [queryParams]="{navigate: navigateOnSaveDest, idsuscripcion: idsuscripcion}"
                        style="margin-left: 12px;">
                        <i nz-icon nzType="plus"></i>
                        Nuevo domicilio...
                    </a>
                    <span *ngIf="!idcliente" style="color: gray; margin-left: 12px;">(Seleccione un cliente)</span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Servicio</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un servicio.">
                <nz-select formControlName="idservicio" nzShowSearch
                    nzAllowClear>
                    <nz-option *ngFor="let srv of lstServicios" [nzLabel]="srv.descripcion+' ('+srv.grupo+')'"
                        [nzValue]="srv.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Monto</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un monto.">
                <nz-input-number [nzDisabled]="form.controls.gentileza.value" [nzMin]="0" [nzStep]="1" formControlName="monto" style="width: 50%;"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Fecha de Susc.</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese una fecha.">
                <div nz-row>
                    <div nz-col nzSpan="24" [nzXl]="12">
                        <nz-date-picker nzFormat="dd/MMMM/yyyy" formControlName="fechasuscripcion" style="width: 100%;">
                        </nz-date-picker>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>
                Estado
            </nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un estado.">
                <div nz-row>
                    <div nz-col nzSpan="24" [nzXl]="12">
                        <nz-select formControlName="estado" nzAllowClear nzShowSearch style="width: 100%;"
                            (ngModelChange)="seleccionEstado($event)">
                            <nz-option [nzLabel]="'Conectado'" [nzValue]="'C'"></nz-option>
                            <nz-option [nzLabel]="'Reconectado'" [nzValue]="'R'"></nz-option>
                            <nz-option [nzLabel]="'Desconectado'" [nzValue]="'D'"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>
                Fecha de {{ labelFechaCambio }}
            </nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese una fecha.">
                <nz-date-picker nzFormat="dd/MMMM/yyyy" formControlName="fechacambioestado" style="width: 50%;">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24">Observación</nz-form-label>
            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Max. 100 carácteres.">
                <input nz-input formControlName="observacion" style="width: 100%;">
            </nz-form-control>
        </nz-form-item>
        <div nz-row>
            <div nz-col [nzSm]="7" [nzXs]="24"></div>
            <div nz-col [nzSm]="15" [nzXs]="24">
                <label nz-checkbox formControlName="gentileza">Gentileza</label>
            </div>
        </div>
        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
            <div nz-row [nzGutter]="[8, 8]" nzJustify="end">
                <div nz-col *ngIf="idsuscripcion !== 'nueva'">
                    <button nz-button nzType="default" [routerLink]="'cuotas'">
                        <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
                        Cuotas
                    </button>
                </div>
                <div nz-col>
                    <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                        <i nz-icon nzType="save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</nz-spin>