<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a routerLink="/app/clientes">Clientes</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{ idcliente | titlecase}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="12" [nzXl]="14" [nzLg]="16" [nzMd]="18" [nzSm]="20">
                <nz-spin [nzSpinning]="formLoading">
                    <form [formGroup]="form" nz-form>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Código</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Ingrese un código.">
                                <div nz-col nzSpan="24" [nzXl]="12">
                                    <nz-input-group style="width: 100%;" [nzAddOnAfter]="btnConsutarId" nzSearch>
                                        <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="id" style="width: 100%;">
                                        </nz-input-number>
                                    </nz-input-group>
                                </div>
                                
                            </nz-form-control>
                            <ng-template #btnConsutarId>
                                <button nz-button nz-tooltip nzTooltipTitle="Generar código"
                                    [nzLoading]="lastIdLoading" nzType="primary" nzSearch
                                    (click)="calculteID()">
                                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                                </button>
                            </ng-template>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Nombres</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Min. 2 carácteres. Máx. 50 carácteres.">
                                <input nz-input formControlName="nombres" (focusout)="cargarRazonSocial()">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Apellidos</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Min. 2 carácteres. Máx. 50 carácteres.">
                                <input nz-input formControlName="apellidos" (focusout)="cargarRazonSocial()">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Razón social</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese una razón social. Máx. 100 carácteres.">
                                <input nz-input formControlName="razonsocial">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">CI/RUC</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Máx. 15 carácteres.">
                                <nz-input-group>
                                    <input nz-input formControlName="ci" style="width: 70%;"
                                        nzErrorTip="Máx. 15 carácteres." (focusout)="verificarCi()">
                                    <nz-select nzAllowClear formControlName="dvruc" style="width: 30%;"
                                        nzPlaceHolder="DV">
                                        <nz-option *ngFor="let dv of [0,1,2,3,4,5,6,7,8,9]" [nzLabel]="dv"
                                            [nzValue]="dv"></nz-option>
                                    </nz-select>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Tel. Principal</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Min. 4 carácteres. Máx. 20 carácteres.">
                                <div nz-row>
                                    <div nz-col nzSpan="24" [nzXl]="12">
                                        <input nz-input formControlName="telefono1">
                                    </div>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Tel. Secundario</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Min. 4 carácteres. Máx. 20 carácteres.">
                                <div nz-col nzSpan="24" [nzXl]="12">
                                    <input nz-input formControlName="telefono2">
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24">Email</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24"
                                nzErrorTip="Ingrese en un formato correcto. Máx. 120 carácteres.">
                                <input nz-input formControlName="email">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Cobrador</nz-form-label>
                            <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="Seleccione un cobrador.">
                                <nz-select nzAllowClear nzShowSearch formControlName="idcobrador">
                                    <nz-option *ngFor="let co of lstCobradores" [nzValue]="co.id"
                                        [nzLabel]="co.razonsocial"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col [nzSm]="22" [nzXs]="24" style="text-align: right;">
                            <nz-space>
                                <span *nzSpaceItem>
                                    <span *ngIf="idcliente!=='nuevo'">
                                        <a nz-button routerLink="pagos">
                                            <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                                            Pagos
                                        </a>
                                    </span>
                                </span>
                                <span *nzSpaceItem>
                                    <span *ngIf="idcliente!=='nuevo'">
                                        <a nz-button routerLink="suscripciones">
                                            <i nz-icon nzType="carry-out"></i>
                                            Suscripciones
                                        </a>
                                    </span>
                                </span>
                                <span *nzSpaceItem>
                                    <span *ngIf="idcliente!=='nuevo'">
                                        <a nz-button routerLink="domicilios">
                                            <i nz-icon nzType="home"></i>
                                            Domicilios
                                        </a>
                                    </span>
                                </span>
                                <span *nzSpaceItem>
                                    <button nz-button nzType="primary" (click)="guardar()" [nzLoading]="guardarLoading">
                                        <i nz-icon nzType="save"></i>
                                        {{ idcliente === 'nuevo' ? 'Registrar' : 'Editar' }}
                                    </button>
                                </span>
                            </nz-space>
                        </div>
                    </form>
                </nz-spin>
            </div>
        </div>
    </div>
</div>