<div nz-row [nzGutter]="[8, 8]">
    <div nz-col>
        <nz-badge [nzShowDot]="fechaInicioFiltro != null || fechaFinFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fecha de factura" (click)="limpiarFiltroFechas()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Fecha factura
            </h3>
        </nz-badge>
        <nz-date-picker [(ngModel)]="fechaInicioFiltro" (ngModelChange)="filtrar()" [nzDisabledDate]="disabledStartDate"
            nzPlaceHolder="Fecha desde" style="width: 100%;" nzFormat="dd/MM/yyyy">
        </nz-date-picker>
        <nz-date-picker [(ngModel)]="fechaFinFiltro" (ngModelChange)="filtrar()" [nzDisabledDate]="disabledEndDate"
            nzPlaceHolder="Fecha hasta" style="width: 100%; margin-top: 10px;" nzFormat="dd/MM/yyyy">
        </nz-date-picker>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idtimbradoFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de timbrado" (click)="limpiarFiltroTimbrado()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Timbrado
            </h3>
        </nz-badge>
        <nz-select
            nzPlaceHolder="Seleccionar..."
            nzAllowClear
            [(ngModel)]="idtimbradoFiltro"
            (ngModelChange)="filtrar()"
            style="width: 100%;"
            [nzDropdownMatchSelectWidth]="false"
            [nzCustomTemplate]="timbradoSelected">
            <nz-option
                *ngFor="let timbrado of lstTimbrados"
                [nzValue]="timbrado.id"
                [nzLabel]="timbrado.prefijo"
                nzCustomContent>
                
                    <nz-tag [nzColor]="timbrado.electronico ? 'purple' : 'geekblue'">
                        {{ timbrado.electronico ? 'E' : 'P' }}
                    </nz-tag>
                    <span>{{ timbrado | datosTimbrado:false }}</span>
                
                
            </nz-option>
            <ng-template #timbradoSelected let-selected>
                <span *ngIf="selected.nzValue | findTimbrado:lstTimbrados as timbrado">
                    <nz-tag [nzColor]="timbrado.electronico ? 'purple' : 'geekblue'">
                        {{ timbrado.electronico ? 'E' : 'P' }}
                    </nz-tag>
                    <span>{{ timbrado.prefijo }} | {{ timbrado.nrotimbrado }}</span>
                </span>                
            </ng-template>
        </nz-select>
    </div>
    <div nz-col>
        <nz-badge [nzShowDot]="filtroAnulado || filtroPagado || filtroPendiente" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de estados" (click)="limpiarFiltroEstados()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Estado
            </h3>
        </nz-badge>
        <div nz-row>
            <nz-col nzSpan="24">
                <label nz-checkbox [(ngModel)]="filtroAnulado" (ngModelChange)="filtrar()">Anulado</label>
            </nz-col>
            <nz-col nzSpan="24">
                <label nz-checkbox [nzDisabled]="filtroAnulado" [(ngModel)]="filtroPagado"
                    (ngModelChange)="filtrar()">Pagado</label>
            </nz-col>
            <nz-col nzSpan="24">
                <label nz-checkbox [nzDisabled]="filtroAnulado" [(ngModel)]="filtroPendiente"
                    (ngModelChange)="filtrar()">Pendiente</label>
            </nz-col>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="fechaInicioCobroFiltro != null || fechaFinCobroFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fechas" (click)="limpiarFiltrosFechasCobro()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Fecha cobro
            </h3>
        </nz-badge>
        <nz-date-picker [(ngModel)]="fechaInicioCobroFiltro" (ngModelChange)="filtrar()"
            [nzDisabledDate]="disabledStartDateCobro" nzPlaceHolder="Fecha desde" style="width: 100%;"
            nzFormat="dd/MM/yyyy">
        </nz-date-picker>
        <nz-date-picker [(ngModel)]="fechaFinCobroFiltro" (ngModelChange)="filtrar()"
            [nzDisabledDate]="disabledEndDateCobro" nzPlaceHolder="Fecha hasta" style="width: 100%; margin-top: 10px;"
            nzFormat="dd/MM/yyyy">
        </nz-date-picker>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idUsuarioCobroFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de usuario" (click)="limpiarFiltroUsuarioCobro()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Cobro registrado por
            </h3>
        </nz-badge>
        <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear [(ngModel)]="idUsuarioCobroFiltro"
            (ngModelChange)="filtrar()" style="width: 100%;" nzShowSearch>
            <nz-option *ngFor="let usu of lstUsuariosFiltro" [nzLabel]="usu.razonsocial ?? ''" [nzValue]="usu.id"></nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idCobradorFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de cobrador" (click)="limpiarFiltroCobrador()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a>
                Cobrador
            </h3>
        </nz-badge>
        <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear [(ngModel)]="idCobradorFiltro"
            (ngModelChange)="filtrar()" style="width: 100%;" nzShowSearch>
            <nz-option *ngFor="let cob of lstCobradoresFiltro" [nzLabel]="cob.razonsocial ?? ''"
                [nzValue]="cob.id"></nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24" *ngIf="mostrarFiltroGrupoServicio">
        <nz-badge [nzShowDot]="grupoServicioFiltro.length > 0" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de Grupo/Servicio" (click)="limpiarFiltroGrupoServicio()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a>
                Grupo/Servicio
            </h3>
        </nz-badge>
        <app-grupo-servicio-treeselect [(value)]="grupoServicioFiltro"
            (valueChange)="filtrar()"></app-grupo-servicio-treeselect>
    </div>
</div>