<div nz-row [nzGutter]="[8, 8]">
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="fechaInicioFiltro != null || fechaFinFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fecha de factura" (click)="limpiarFiltroFechas()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Fecha factura
            </h3>
        </nz-badge>
        <div nz-row [nzGutter]="[8,8]">
            <div nz-col nzSpan="12">
                <nz-date-picker [(ngModel)]="fechaInicioFiltro" (ngModelChange)="filtrar()" [nzDisabledDate]="disabledStartDate"
                    nzPlaceHolder="Desde" style="width: 100%;" nzFormat="dd/MM/yyyy">
                </nz-date-picker>
            </div>
            <div nz-col nzSpan="12">
                <nz-date-picker [(ngModel)]="fechaFinFiltro" (ngModelChange)="filtrar()" [nzDisabledDate]="disabledEndDate"
                    nzPlaceHolder="Hasta" style="width: 100%;" nzFormat="dd/MM/yyyy">
                </nz-date-picker>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idtalonarioFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de talonario" (click)="limpiarFiltroTalonario()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Talonario
            </h3>
        </nz-badge>
        <nz-select
            nzPlaceHolder="Seleccionar..."
            nzAllowClear
            [(ngModel)]="idtalonarioFiltro"
            (ngModelChange)="filtrar()"
            style="width: 100%;"
            [nzDropdownMatchSelectWidth]="false"
            [nzCustomTemplate]="talonarioSelected">
            <nz-option
                *ngFor="let talonario of lstTalonarios"
                [nzValue]="talonario.id"
                [nzLabel]="talonario.prefijo"
                nzCustomContent>
                    <nz-tag [nzColor]="talonario.electronico ? 'purple' : 'geekblue'">
                        {{ talonario.electronico ? 'E' : 'P' }}
                    </nz-tag>
                    <span>{{ talonario | datosTalonario:false }}</span>
            </nz-option>
            <ng-template #talonarioSelected let-selected>
                <span *ngIf="selected.nzValue | findTalonario:lstTalonarios as talonario">
                    <nz-tag [nzColor]="talonario.electronico ? 'purple' : 'geekblue'">
                        {{ talonario.electronico ? 'E' : 'P' }}
                    </nz-tag>
                    <span>{{ talonario.prefijo }} | {{ talonario.nrotimbrado }}</span>
                </span>                
            </ng-template>
        </nz-select>
    </div>
    <div nz-col>
        <nz-badge [nzShowDot]="filtroAnulado || filtroPagado || filtroPendiente" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de estados" (click)="limpiarFiltroEstados()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Estado
            </h3>
        </nz-badge>
        <div nz-row>
            <nz-col nzSpan="24">
                <label nz-checkbox [(ngModel)]="filtroAnulado" (ngModelChange)="filtrar()">Anulado</label>
            </nz-col>
            <nz-col nzSpan="24">
                <label nz-checkbox [nzDisabled]="filtroAnulado" [(ngModel)]="filtroPagado"
                    (ngModelChange)="filtrar()">Pagado</label>
            </nz-col>
            <nz-col nzSpan="24">
                <label nz-checkbox [nzDisabled]="filtroAnulado" [(ngModel)]="filtroPendiente"
                    (ngModelChange)="filtrar()">Pendiente</label>
            </nz-col>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idEstadoFacturaElectronicaSeleccionada != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de estados de Factura Electrónica" (click)="limpiarFiltroEstadoFacturaElectronica()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Estado F. Electrónica
            </h3>
        </nz-badge>
        <nz-select
            [(ngModel)]="idEstadoFacturaElectronicaSeleccionada"
            (ngModelChange)="filtrar()"
            nzPlaceHolder="Seleccionar..."
            nzAllowClear
            style="width: 100%;">
            <nz-option
                *ngFor="let estadoSifen of lstEstadosFacturaElectronica"
                [nzLabel]="estadoSifen.descripcion"
                [nzValue]="estadoSifen.id">
            </nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="fechaInicioCobroFiltro != null || fechaFinCobroFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de fechas" (click)="limpiarFiltrosFechasCobro()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Fecha cobro
            </h3>
        </nz-badge>
        <div nz-row [nzGutter]="[8,8]">
            <div nz-col nzSpan="12">
                <nz-date-picker [(ngModel)]="fechaInicioCobroFiltro" (ngModelChange)="filtrar()"
                    [nzDisabledDate]="disabledStartDateCobro" nzPlaceHolder="Desde" style="width: 100%;"
                    nzFormat="dd/MM/yyyy">
                </nz-date-picker>
            </div>
            <div nz-col nzSpan="12">
                <nz-date-picker [(ngModel)]="fechaFinCobroFiltro" (ngModelChange)="filtrar()"
                    [nzDisabledDate]="disabledEndDateCobro" nzPlaceHolder="Hasta" style="width: 100%;"
                    nzFormat="dd/MM/yyyy">
                </nz-date-picker>   
            </div>
        </div>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idUsuarioCobroFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de usuario" (click)="limpiarFiltroUsuarioCobro()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a> Cobro registrado por
            </h3>
        </nz-badge>
        <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear [(ngModel)]="idUsuarioCobroFiltro"
            (ngModelChange)="filtrar()" style="width: 100%;" nzShowSearch>
            <nz-option *ngFor="let usu of lstUsuariosFiltro" [nzLabel]="usu.razonsocial ?? ''" [nzValue]="usu.id"></nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24">
        <nz-badge [nzShowDot]="idCobradorFiltro != null" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de cobrador" (click)="limpiarFiltroCobrador()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a>
                Cobrador
            </h3>
        </nz-badge>
        <nz-select nzPlaceHolder="Seleccionar..." nzAllowClear [(ngModel)]="idCobradorFiltro"
            (ngModelChange)="filtrar()" style="width: 100%;" nzShowSearch>
            <nz-option *ngFor="let cob of lstCobradoresFiltro" [nzLabel]="cob.razonsocial ?? ''"
                [nzValue]="cob.id"></nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="24" *ngIf="mostrarFiltroGrupoServicio">
        <nz-badge [nzShowDot]="grupoServicioFiltro.length > 0" nzDot>
            <h3>
                <a nz-tooltip nzTooltipTitle="Limpiar filtro de Grupo/Servicio" (click)="limpiarFiltroGrupoServicio()">
                    <i nz-icon nzType="clear" nzTheme="outline"></i>
                </a>
                Grupo/Servicio
            </h3>
        </nz-badge>
        <app-grupo-servicio-treeselect [(value)]="grupoServicioFiltro"
            (valueChange)="filtrar()"></app-grupo-servicio-treeselect>
    </div>
</div>