<div class="inner-conntent">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Reclamos
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row [nzGutter]="[8,8]">
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzFlex="auto">
                            <div nz-row [nzGutter]="[8,8]">
                                <div nz-col>
                                    <button nz-button nzType="primary" routerLink="nuevo">
                                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                                        Nuevo
                                    </button>
                                </div>
                                <div nz-col>
                                    <button nz-button nzType="default" (click)="recargarDatos()">
                                        <i nz-icon nzType="reload" nzTheme="outline"></i>
                                        Recargar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div nz-col>
                            <div nz-row [nzGutter]="[8,8]">
                                <div nz-col>
                                    <nz-input-group nzPrefixIcon="search" [nzSuffix]="suffixIconClearSearch">
                                        <input nz-input placeholder="Buscar..." [formControl]="busquedaCtrl">
                                        <ng-template #suffixIconClearSearch>
                                            <i *ngIf="busquedaCtrl.value != ''"
                                                nz-icon nzType="close-circle"
                                                nzTheme="fill"
                                                class="ant-input-clear-icon"
                                                (click)="limpiarBusqueda()">
                                            </i>
                                        </ng-template>
                                    </nz-input-group>
                                </div>
                                <div nz-col>
                                    <nz-badge [nzCount]="cantidadFiltros">
                                            <button
                                            nz-button
                                            nzType="primary"
                                            nz-tooltip
                                            nzTooltipTitle="Filtros"
                                            (click)="abrirDrawerFiltros()">
                                            <i nz-icon nzType="filter" nzTheme="outline"></i>
                                        </button>
                                    </nz-badge>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <ng-container *ngIf="reclamos$ | loadingStatus | async as data">
                        <nz-table
                            #tabla
                            [nzData]="data.value?.reclamos ?? tabla.data"
                            [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize"
                            [nzTotal]="data.value?.total ?? tabla.nzTotal"
                            [nzLoading]="data.loading"
                            [nzFrontPagination]="false"
                            [nzShowSizeChanger]="true"
                            [nzFooter]="pieTabla"
                            (nzQueryParams)="onTableQueryParamsChange($event)"
                            nzSize="small">
                            <thead>
                                <tr>
                                    <th nzWidth="60px"></th>
                                    <th *ngFor="let header of tableHeaders"
                                    [nzColumnKey]="header.key"
                                    [nzSortFn]="header.sortFn"
                                    [(nzSortOrder)]="header.sortOrder">
                                        {{ header.description }}
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let reclamo of tabla.data">
                                    <tr>
                                        <td [nzExpand]="expandSet.has(reclamo.id)" (nzExpandChange)="onExpandChange(reclamo.id, $event)"></td>
                                        <td>{{ reclamo.id }}</td>
                                        <td>{{ reclamo.fecha | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span nz-tooltip [nzTooltipTitle]="'Código de Cliente: '+reclamo.idcliente">
                                                {{ reclamo.cliente }}
                                            </span>
                                        </td>
                                        <td>
                                            <span nz-tooltip [nzTooltipTitle]="'Código de suscripción: '+reclamo.idsuscripcion">{{ reclamo.servicio }}</span>
                                        </td>
                                        <td>
                                            <nz-tag *ngIf="reclamo.estado == 'PEN'" nzColor="red">Pendiente</nz-tag>
                                            <nz-tag *ngIf="reclamo.estado == 'PRO'" nzColor="orange">En Proceso</nz-tag>
                                            <nz-tag *ngIf="reclamo.estado == 'POS'" nzColor="magenta">Postergado</nz-tag>
                                            <nz-tag *ngIf="reclamo.estado == 'FIN'" nzColor="green">Finalizado</nz-tag>
                                            <nz-tag *ngIf="reclamo.estado == 'OTR'" nzColor="purple">
                                                {{ reclamo.observacionestado ?? 'Otro' }}
                                            </nz-tag>
                                        </td>
                                        <td>
                                            <span *ngIf="reclamo.usuarioresponsable">{{ reclamo.usuarioresponsable }}</span>
                                            <span *ngIf="!reclamo.usuarioresponsable" nz-typography nzType="secondary">(Sin responsable)</span>
                                        </td>
                                        <td nzAlign="center">
                                            <nz-tag [nzColor]="reclamo.nroreiteraciones > 0 ? 'orange' : 'green'">{{ reclamo.nroreiteraciones | number }}</nz-tag>
                                        </td>
                                        <td>
                                            <div nz-row [nzGutter]="[8,8]">
                                                <div nz-col>
                                                    <button
                                                        nz-tooltip
                                                        nzTooltipTitle="Reiterar reclamo"
                                                        nz-button
                                                        nzType="default"
                                                        [disabled]="reclamo.estado != 'PEN' && reclamo.estado != 'POS'"
                                                        (click)="abrirModalReiteracion(reclamo.id)">
                                                        <i nz-icon nzType="notification" nzTheme="outline"></i>
                                                    </button>
                                                </div>
                                                <div nz-col>
                                                    <button
                                                        nz-tooltip
                                                        nzTooltipTitle="Editar reclamo"
                                                        nz-button
                                                        nzType="primary"
                                                        [routerLink]="[reclamo.id]">
                                                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                                                    </button>
                                                </div>
                                                <div nz-col>
                                                    <button
                                                        nz-tooltip
                                                        nzTooltipTitle="Eliminar reclamo"
                                                        nz-button
                                                        nzType="primary"
                                                        nzDanger
                                                        (click)="confirmarEliminacion(reclamo)">
                                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr [nzExpand]="expandSet.has(reclamo.id)">
                                        <div nz-row [nzGutter]="[16,16]">
                                            <div nz-col [appNzColResponsiveSizes]="detalleSizes">
                                                <nz-collapse>
                                                    <nz-collapse-panel nzHeader="Detalles" [nzActive]="true" [nzDisabled]="true">
                                                        <nz-descriptions [nzColumn]="1">
                                                            <nz-descriptions-item [nzTitle]="tituloTelefono">
                                                                <ng-template #tituloTelefono><strong>Teléf. reclamo</strong></ng-template>
                                                                <span *ngIf="reclamo.telefono">{{ reclamo.telefono }}</span>
                                                                <span *ngIf="!reclamo.telefono" nz-typography nzType="secondary">(sin teléfono)</span>
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloObservacion">
                                                                <ng-template #tituloObservacion>
                                                                    <strong>Observación</strong>
                                                                </ng-template>
                                                                <span *ngIf="reclamo.observacion">{{ reclamo.observacion }}</span>
                                                                <span *ngIf="!reclamo.observacion" nz-typography nzType="secondary">(sin observación)</span>
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloUsuarioReg">
                                                                <ng-template #tituloUsuarioReg>
                                                                    <strong>Registrado por</strong>
                                                                </ng-template>
                                                                {{ reclamo.usuarioregistro }}
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloFechaCambioEstado">
                                                                <ng-template #tituloFechaCambioEstado>
                                                                    <strong>
                                                                        <span *ngIf="reclamo.estado == 'PEN'">Pendiente desde</span>
                                                                        <span *ngIf="reclamo.estado == 'PRO'">En Proceso desde</span>
                                                                        <span *ngIf="reclamo.estado == 'FIN'">Finalizado</span>
                                                                        <span *ngIf="reclamo.estado == 'POS'">Postergado desde</span>
                                                                        <span *ngIf="reclamo.estado == 'OTR'">Ultimo cambio de estado</span>
                                                                    </strong>
                                                                </ng-template>
                                                                {{ (reclamo.fechahoracambioestado | date:'dd/MM/yyyy HH:mm') + ' hs.' }}
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloMotivoPostergacion">
                                                                <ng-template #tituloMotivoPostergacion><strong>Motivo de postergación</strong></ng-template>
                                                                <span *ngIf="reclamo.motivopostergacion">{{ reclamo.motivopostergacion }}</span>
                                                                <span *ngIf="!reclamo.motivopostergacion" nz-typography nzType="secondary">(ninguno)</span>
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloMotivoReiteracion">
                                                                <ng-template #tituloMotivoReiteracion><strong>Motivo de reiteración</strong></ng-template>
                                                                <span *ngIf="reclamo.motivoreiteracion">{{ reclamo.motivoreiteracion }}</span>
                                                                <span *ngIf="!reclamo.motivoreiteracion" nz-typography nzType="secondary">(ninguno)</span>
                                                            </nz-descriptions-item>
                                                            <nz-descriptions-item [nzTitle]="tituloPersonaRecepcion">
                                                                <ng-template #tituloPersonaRecepcion><strong>Técnico recibido por</strong></ng-template>
                                                                <span *ngIf="reclamo.personarecepciontecnico">{{ reclamo.personarecepciontecnico }}</span>
                                                                <span *ngIf="!reclamo.personarecepciontecnico" nz-typography nzType="secondary">(nadie)</span>
                                                            </nz-descriptions-item>
                                                        </nz-descriptions>
                                                    </nz-collapse-panel>
                                                </nz-collapse>
                                            </div>
                                            <div nz-col [appNzColResponsiveSizes]="tabsDetallesSizes">
                                                <nz-tabset>
                                                    <nz-tab nzTitle="Motivos">
                                                        <ng-container *ngIf="mapDetallesReclamos.get(reclamo.id) as detallesData">
                                                            <nz-table
                                                                #tablaDetalle
                                                                [nzData]="detallesData.detalles"
                                                                [nzLoading]="detallesData.loading"
                                                                nzSize="small"
                                                                style="width: 100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Motivo</th>
                                                                        <th>Observacion</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let detalle of tablaDetalle.data">
                                                                        <td>{{ detalle.motivo }}</td>
                                                                        <td>
                                                                            <span *ngIf="!detalle.observacion" nz-typography nzType="secondary">(sin observación)</span>
                                                                            <span *ngIf="detalle.observacion">{{ detalle.observacion }}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </ng-container>
                                                    </nz-tab>
                                                    <nz-tab nzTitle="Materiales utilizados">
                                                        <ng-container *ngIf="mapMaterialesUtilizados.get(reclamo.id) as materialesData">
                                                            <nz-table
                                                                #tablaMaterialesUtilizados
                                                                [nzLoading]="materialesData.loading"
                                                                [nzData]="materialesData.materiales"    
                                                                nzSize="small">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Material</th>
                                                                        <th>Cantidad</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let matUtil of tablaMaterialesUtilizados.data">
                                                                        <td>{{ matUtil.descripcion }}</td>
                                                                        <td>
                                                                            {{ matUtil.cantidad | number }}
                                                                            <span *ngIf="matUtil.unidadmedida == 'MT'">mts.</span>
                                                                            <span *ngIf="matUtil.unidadmedida == 'UD'">uds.</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </ng-container>
                                                    </nz-tab>
                                                    <nz-tab nzTitle="Estados">
                                                        <ng-container *ngIf="mapEventosCambiosEstados.get(reclamo.id) as eventosData">
                                                            <nz-table
                                                                #tablaEventosCambiosEstados
                                                                [nzData]="eventosData.eventos"
                                                                [nzLoading]="eventosData.loading"
                                                                nzSize="small">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Estado</th>
                                                                        <th>Fecha/hora</th>
                                                                        <th>Observación</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let evento of tablaEventosCambiosEstados.data">
                                                                        <td>{{ evento.estado | estadoToText }}</td>
                                                                        <td>{{ evento.fechahora | date:'dd/MM/yyyy HH:mm'}} hs.</td>
                                                                        <td>
                                                                            <span *ngIf="evento.observacion">{{ evento.observacion }}</span>
                                                                            <span *ngIf="!evento.observacion" nz-typography nzType="secondary">(sin observación)</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </ng-container>
                                                    </nz-tab>
                                                    <nz-tab nzTitle="Reiteraciones">
                                                        <ng-container *ngIf="mapReiteraciones.get(reclamo.id) as reiteracionesData">
                                                            <nz-table
                                                            #tablaReiteraciones
                                                            [nzData]="reiteracionesData.reiteraciones"
                                                            [nzLoading]="reiteracionesData.loading"
                                                            nzSize="small">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Fecha/Hora</th>
                                                                        <th>Observación</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let reiteracion of tablaReiteraciones.data">
                                                                        <td>{{ reiteracion.fechahora | date:'dd/MM/yyyy HH:mm' }} hs.</td>
                                                                        <td>
                                                                            <span *ngIf="reiteracion.observacion">{{ reiteracion.observacion }}</span>
                                                                            <span *ngIf="!reiteracion.observacion" nz-typography nzType="secondary">(sin observación)</span>
                                                                        </td>
                                                                        <td>
                                                                            <button
                                                                                nz-tooltip
                                                                                nzTooltipTitle="Eliminar reiteración"
                                                                                nz-button
                                                                                nzType="primary"
                                                                                (click)="confirmarEliminacionReiteracion(reiteracion)"
                                                                                nzDanger>
                                                                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </ng-container>
                                                    </nz-tab>
                                                </nz-tabset>
                                            </div>
                                        </div>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <ng-template #pieTabla>
                                <strong>Total de registros: </strong><span>{{ data.value?.total | number }}</span>
                            </ng-template>
                        </nz-table>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-drawer
    [nzContent]="contenidoFiltro"
    [(nzVisible)]="drawerFiltrosVisible"
    (nzOnClose)="cerrarDrawerFiltros()"
    [nzTitle]="'Filtros'">
    <ng-template #contenidoFiltro>
        <app-form-filtro-reclamos
            (paramsFiltrosChange)="filtrar($event)"
            (cantFiltrosChange)="cantidadFiltros = $event">
        </app-form-filtro-reclamos>
    </ng-template>
</nz-drawer>

<nz-modal
    [nzTitle]="'Reiterar reclamo'"
    [nzContent]="contenidoModalReiteracion"
    [nzVisible]="isModalReiteracionVisible"
    [nzOkText]="'Reiterar'"
    [nzOkDisabled]="!observacionReiteracionCtrl.valid"
    (nzOnCancel)="cerrarModalReiteracion()"
    (nzOnOk)="reiterarReclamo()">
    <ng-template #contenidoModalReiteracion>
        <input
            nz-input
            placeholder="Observación"
            [formControl]="observacionReiteracionCtrl"
            [nzStatus]="!observacionReiteracionCtrl.valid ? 'error' : ''">
        <label *ngIf="!observacionReiteracionCtrl.valid" nz-typography nzType="danger">Máx. 60 carácteres.</label>
    </ng-template>

</nz-modal>
