<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label>
            Fecha
        </nz-form-label>
        <nz-form-control nzErrorTip="Ingrese la fecha">
            <nz-date-picker
                nzPlaceHolder="Seleccionar..."
                style="width: 100%;"
                formControlName="fecha"
                nzSize="large"
                nzFormat="dd/MMM/yyyy">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>
            Talonario
        </nz-form-label>
        <nz-form-control nzErrorTip="Seleccione el talonario">
            <nz-select
                formControlName="idtalonario"
                style="width: 100%;"
                nzSize="large"
                nzPlaceHolder="Seleccionar...">
                <nz-option 
                    *ngFor="let talonario of lstTalonarios"
                    [nzValue]="talonario.id"
                    [nzLabel]="talonario.prefijo">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    
</form>
