<div class="inner-component">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/welcome"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Tipos de domicilios
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <a nz-button nzType="primary" routerLink="nuevo">
                <i nz-icon nzType="plus"></i>
                Nuevo
            </a>
            <nz-table #tbl [nzData]="lstTD" style="margin-top: 10px;"
            [nzLoading]="tableLoading" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalRegisters"
            nzShowPagination nzShowSizeChanger (nzQueryParams)="onTableQueryParamChange($event)">
                <thead>
                    <tr>
                        <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'ascend'">Código</th>
                        <th [nzColumnKey]="'descripcion'" [nzSortFn]="true">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let td of tbl.data">
                        <td>{{ td.id }}</td>
                        <td>{{ td.descripcion }}</td>
                        <td>
                            <button nz-button nz-tooltip nzType="primary" [routerLink]="td.id+''" nzTooltipTitle="Editar">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nz-popconfirm nz-tooltip nzType="primary" 
                            nzPopconfirmTitle="¿Desea eliminr el Tipo de domicilio?" nzPopconfirmPlacement="bottom" nzOkText="Eliminar" 
                            (nzOnConfirm)="eliminar(td.id)" nzTooltipTitle="Eliminar" nzDanger>
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>