* {
    font-size: x-small;
}
.gray-background-printable{
    background-color: #F5F5F5;
    print-color-adjust: exact !important;
}

.description-content{
    font-size: x-small;
}

.descriptions-title{
    font-size: x-small;
    font-weight: bold;
}

.tabla-filtros td{
    text-align: center;
}