<nz-card [nzTitle]="titulo" [nzExtra]="extraTitulo">
    <ng-template #titulo>
        <nz-button-group>
            <button
                nz-button
                [nzType]="pestaniaActiva === 'grupos' ? 'primary' : 'default'"
                (click)="setPestaniaActiva('grupos')">
                Grupos
            </button>
            <button
                nz-button
                [nzType]="pestaniaActiva === 'servicios' ? 'primary' : 'default'"
                (click)="setPestaniaActiva('servicios')">
                Servicios
            </button>
        </nz-button-group>        
    </ng-template>
    <ng-template #extraTitulo>
        <button nz-button nzType="default" (click)="refresh()">
            <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
    </ng-template>

    <app-tabla-resumen-ventas-grupos
        #tablaResumenGrupos
        [paramsFiltros]="paramsFiltros"
        [textoBusqueda]="textoBusqueda"
        *ngIf="pestaniaActiva === 'grupos'">
    </app-tabla-resumen-ventas-grupos>
    
    <app-tabla-resumen-ventas-servicios
        #tablaResumenServicios
        [paramsFiltros]="paramsFiltros"
        [textoBusqueda]="textoBusqueda"
        *ngIf="pestaniaActiva === 'servicios'">
    </app-tabla-resumen-ventas-servicios>
</nz-card>