<div class="inner-content">
    <div class="main-breadcrumb">
        <div nz-row>
            <div nz-col nzFlex="auto">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a routerLink="/app/usuarios">Usuarios</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <a [routerLink]="['/app', 'usuarios', idusuario]">{{ idusuario }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        Roles
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div nz-col *ngIf="usuario">
                <nz-tag [nzColor]="'magenta'">
                    <strong>{{ usuario.razonsocial }}</strong>
                    <nz-divider nzType="vertical"></nz-divider>
                    <span *ngIf="usuario.ci">
                        {{ usuario.ci | number }}
                    </span>
                </nz-tag>
            </div>
        </div>
    </div>
    <div class="module-container">
        <div nz-row nzJustify="center" nzAlign="top">
            <div nz-col class="module-content" [nzXXl]="10" [nzXl]="12" [nzLg]="16" [nzMd]="18" [nzSm]="22" [nzXs]="24">
                <div nz-row>
                    <nz-spin [nzSpinning]="loadingDatos">
                        <div nz-col nzSpan="24" *ngFor="let rol of lstRoles">
                            <nz-label nz-checkbox [nzChecked]="rolesSeleccionados.has(rol.id)" (nzCheckedChange)="onCheckedChange(rol.id, $event)">{{ rol.descripcion }}</nz-label>
                        </div>
                    </nz-spin>
                    <div nz-col nzSpan="24" style="text-align: right;">
                        <button
                            nz-button
                            nzType="primary"
                            [nzLoading]="guardando"
                            (click)="guardar()">
                            <i nz-icon nzType="save" nzTheme="outline"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>