<div class="inner-content">
    <div class="main-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/app/dashboard"><i nz-icon nzType="home"></i></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                Movimientos de materiales
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="module-container">
        <div class="module-content">
            <div nz-row [nzGutter]="[8, 8]">
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <nz-col nzFlex="auto">
                            <div nz-row [nzGutter]="[8,8]">
                                <div nz-col>
                                    <button nz-button nzType="primary" routerLink="nuevo">
                                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                                        Nuevo
                                    </button>
                                </div>
                                <div nz-col>
                                    <button nz-button nzType="default" (click)="cargarDatos()">
                                        <i nz-icon nzType="reload" nzTheme="outline"></i>
                                        Recargar
                                    </button>
                                </div>
                            </div>
                        </nz-col>
                        <nz-col>
                            <nz-badge [nzCount]="cantidadFiltros">
                                <button
                                    nz-button
                                    nzType="primary"
                                    nz-tooltip
                                    nzTooltipTitle="Filtros"
                                    (click)="mostrarDrawerFiltros()">
                                    <i nz-icon nzType="filter" nzTheme="outline"></i>
                                </button>
                            </nz-badge>
                        </nz-col>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <nz-table #tabla
                        [nzData]="lstMovimientos"
                        [nzLoading]="loadingDatos"
                        [nzPageIndex]="pageIndex"
                        [nzPageSize]="pageSize"
                        [nzTotal]="totalRegisters"
                        [nzFrontPagination]="false"
                        [nzShowSizeChanger]="true"
                        [nzFooter]="pieTabla"
                        (nzQueryParams)="onTableQueryParamsChange($event)"
                        nzSize="small">
                        <thead>
                            <tr>
                                <th nzWidth="60px"></th>
                                <th [nzColumnKey]="'id'" [nzSortFn]="true" [nzSortOrder]="'descend'">Código</th>
                                <th [nzColumnKey]="'fecha'" [nzSortFn]="true">Fecha</th>
                                <th [nzColumnKey]="'tipomovimiento'" [nzSortFn]="true">Tipo</th>
                                <th [nzColumnKey]="'usuarioresponsable'" [nzSortFn]="true">Resp. depóstio</th>
                                <th [nzColumnKey]="'usuarioentrega'">Resp. entrega</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let movimiento of tabla.data">
                                <tr>
                                    <td [nzExpand]="expandSet.has(movimiento.id)" (nzExpandChange)="onExpandChange(movimiento.id, $event)"></td>
                                    <td>{{ movimiento.id }}</td>
                                    <td>{{ movimiento.fecha | date:'dd/MM/yyyy' }}</td>
                                    <td>
                                        <nz-tag *ngIf="movimiento.tipomovimiento === 'SA'" nzColor="red">
                                            <i nz-icon nzType="upload" nzTheme="outline"></i>
                                            Salida
                                        </nz-tag>
                                        <nz-tag *ngIf="movimiento.tipomovimiento === 'EN'" nzColor="green">
                                            <i nz-icon nzType="download" nzTheme="outline"></i>
                                            Entrada
                                        </nz-tag>
                                        <nz-tag *ngIf="movimiento.tipomovimiento === 'AJ'" nzColor="blue">
                                            <i nz-icon nzType="control" nzTheme="outline"></i>
                                            Ajuste
                                        </nz-tag>
                                        <nz-tag *ngIf="movimiento.tipomovimiento === 'DE'" nzColor="geekblue">
                                            <i nz-icon nzType="import" nzTheme="outline"></i>
                                            Devulución
                                        </nz-tag>
                                    </td>
                                    <td>{{ movimiento.usuarioresponsable }}</td>
                                    <td>
                                        <span *ngIf="movimiento.usuarioentrega">{{ movimiento.usuarioentrega }}</span>
                                        <span *ngIf="!movimiento.usuarioentrega" nz-typography nzType="secondary">(sin responsable)</span>
                                    </td>
                                    <td>
                                        <div nz-row [nzGutter]="[8,8]">
                                            <div nz-col>
                                                <button
                                                    [routerLink]="['nuevo']" [queryParams]="{idmovimientoreferencia: movimiento.id}"
                                                    [disabled]="!devolvible(movimiento)"
                                                    nz-button nzType="default"
                                                    nz-tooltip [nzTooltipTitle]="getTooltipDevolucion(movimiento)">
                                                    <i nz-icon nzType="import" nzTheme="outline"></i>
                                                </button>
                                            </div>
                                            <div nz-col>
                                                <button
                                                    nz-button
                                                    nzType="primary"
                                                    nz-tooltip
                                                    [nzTooltipTitle]="getTooltipEditar(movimiento)"
                                                    [routerLink]="[movimiento.id]"
                                                    [disabled]="!editable(movimiento)">
                                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                                </button>
                                            </div>
                                            <div nz-col>
                                                <button
                                                    nz-button nzType="primary"
                                                    nzDanger
                                                    nz-tooltip
                                                    [nzTooltipTitle]="getTooltipEliminar(movimiento)"
                                                    [disabled]="!eliminable(movimiento)"
                                                    (click)="confirmarEliminacion(movimiento)">
                                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr [nzExpand]="expandSet.has(movimiento.id)">
                                    <nz-descriptions>
                                        <nz-descriptions-item [nzTitle]="observacionTitle">
                                            <ng-template #observacionTitle>
                                                <strong>Observación</strong>
                                            </ng-template>
                                            <span *ngIf="movimiento.observacion">{{ movimiento.observacion }}</span>
                                            <span *ngIf="!movimiento.observacion" nz-typography nzType="secondary">(Sin Observación)</span>
                                        </nz-descriptions-item>
                                        <nz-descriptions-item [nzTitle]="codigoReferenciaTitle">
                                            <ng-template #codigoReferenciaTitle>
                                                <strong *ngIf="movimiento.tipomovimiento == 'SA'">Cód. movimiento devolución</strong>
                                                <strong *ngIf="movimiento.tipomovimiento == 'DE'">Cód. movimiento salida</strong>
                                                <strong *ngIf="movimiento.tipomovimiento != 'SA' && movimiento.tipomovimiento != 'DE'">Cód. movimiento referencia</strong>
                                            </ng-template>
                                            <span *ngIf="movimiento.idmovimientoreferencia">{{ movimiento.idmovimientoreferencia }}</span>
                                            <span *ngIf="(movimiento.tipomovimiento == 'SA' || movimiento.tipomovimiento == 'DE') && !movimiento.idmovimientoreferencia"
                                                nz-typography nzType="secondary">
                                                (ninguno)
                                            </span>
                                            <span *ngIf="movimiento.tipomovimiento != 'SA' && movimiento.tipomovimiento != 'DE'"
                                                nz-typography nzType="secondary">
                                                (no aplica)
                                            </span>
                                        </nz-descriptions-item>
                                    </nz-descriptions>
                                    <nz-table
                                        #tablaDetalles
                                        [nzData]="mapDetallesMovimientos.get(movimiento.id)?.detalles ?? []"
                                        [nzLoading]="mapDetallesMovimientos.get(movimiento.id)?.loadingDetalles"
                                        nzSize="small"
                                        nzBordered>
                                        <thead>
                                            <tr>
                                                <th>Cód. Material</th>
                                                <th>Descripción</th>
                                                <th>Nro. Serie</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let detalle of tablaDetalles.data">
                                                <td>{{ detalle.idmaterial }}</td>
                                                <td>{{ detalle.material }}</td>
                                                <td>
                                                    <span *ngIf="detalle.nroseriematerial">{{ detalle.nroseriematerial }}</span>
                                                    <span *ngIf="!detalle.nroseriematerial" nz-typography nzType="secondary">(ninguno)</span>
                                                </td>
                                                <td>{{ detalle.cantidad | number }}</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </tr>
                            </ng-container>
                        </tbody>
                        <ng-template #pieTabla>
                            <strong>Total de registros: </strong>{{ totalRegisters | number }}
                        </ng-template>
                    </nz-table>
                </div>
            </div>
        </div>
        <nz-drawer
            [nzTitle]="'Filtros'"
            [nzContent]="contenidoFiltros"
            [(nzVisible)]="drawerFiltrosVisible"
            (nzOnClose)="cerrarDrawerFiltros()">
            <ng-template #contenidoFiltros>
                <app-form-filtro-movimientos
                    (paramsFiltrosChange)="filtrar($event)"                    
                    (cantFiltrosChange)="this.cantidadFiltros = $event">
                </app-form-filtro-movimientos>
            </ng-template>
        </nz-drawer>
    </div>
</div>