<div nz-row [nzGutter]="[0, 16]">
    <div nz-col nzSpan="24">
        <app-cabecera-reporte titulo="Ventas (Facturas)"></app-cabecera-reporte>
    </div>
    <div nz-col nzSpan="24">
        <div>Filtros</div>
        <app-filtros-reporte [lstFiltrosReporte]="lstFiltrosReporte"></app-filtros-reporte>
    </div>
    <div nz-col nzSpan="24">
        <div>Registros</div>
        <table class="tabla-reporte">
            <thead>
                <tr>
                    <th style="text-align: left;">CI/RUC</th>
                    <th style="text-align: left;">Cliente</th>
                    <th style="text-align: left;">Factura</th>
                    <th style="text-align: left;">Fecha</th>
                    <th>Estado</th>
                    <th>Monto (Gs.)</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let venta of lstVentas">
                    <tr>
                        <td>
                            {{ venta.ci | number }}<span *ngIf="venta.dvruc">-{{ venta.dvruc }}</span>
                        </td>
                        <td>{{ venta.cliente }}</td>

                        <td style="text-align: left;">{{ venta.prefijofactura }}-{{
                            venta.nrofactura?.toString()?.padStart(7, '0') }}</td>
                        <td style="text-align: left;">{{ venta.fechafactura | date: 'dd/MM/yy' }}</td>
                        <td style="text-align: center;">
                            <span *ngIf="venta.anulado">ANUL</span>
                            <span *ngIf="!venta.anulado">{{ venta.pagado?'PAG':'PEND' }}</span>
                        </td>
                        <td style="text-align: right;">{{ venta.total | number }}</td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <td colSpan="6">
                        <strong>Total de registros: </strong>{{ cantRegistros | number }}
                    </td>
                </tr>
                <tr>
                    <td colSpan="6">
                        <strong>Monto total: </strong>Gs.{{ montoTotal | number }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>